
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Maternity Allowance groups
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<a href="create-task-type "
  <button class="govuk-button" data-module="govuk-button" style="float: right;">Create a new task type</button></a>
<div class="govuk-width-container">

  <h1 class="govuk-heading-l">Maternity Allowance task types</h1>
  
  <p>Create and manage task types for Maternity Allowance. These are common items of routine work.</p>

    <p>Task types allow a user to view and manage the different kinds of work in the Maternity Allowance service.</p>


  <!--<h2 class="blueheading">Your task types</h2>-->
  &nbsp;

  
  <div class="box5">
    <h2 class="govuk-heading-m"><a href="template-change-address">Change a claimant's address</a></h2>
  </div>
</div>

<div class="govuk-width-container">
&nbsp;
  <div class="box5">
    <h2 class="govuk-heading-m"><a href="#">Add a claimant's proof of income</a></h2>
  </div>
</div>


&nbsp;
{% endblock %}