{% extends "layouts/main.html" %}

{% block pageTitle %}
  Maternity dashboard
{% endblock %}

{% block content %}
<div class="spacer2"></div>

<div class="govuk-width-container">
  <a href="task-services-home"
  <button class="govuk-button" data-module="govuk-button" style="float: right;">Task services home</button></a>
  <h1 class="govuk-heading-l">Task services home</h1>
  <div class="box">
    <h2 class="govuk-heading-m"><a href="service-overview">Maternity allowance overview</a></h2>
    <p>Manage the Maternity Allowance service details.</p> 

  </div>
</div>

<div class="govuk-width-container">
  &nbsp;
    <div class="box">
      <h2 class="govuk-heading-m"><a href="task-templates-home-add">Task types</a></h2>
      <p>Create and manage task types.</p>
    </div>
  </div>
&nbsp;
{% endblock %}