
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Maternity Allowance groups
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<div class=spacer1></div>
{{ govukBreadcrumbs({
  items: [
    {
      text: "Task services home",
      href: "task-services-home"
    },
    {
      text: "Maternity allowance home",
      href: "manage-service"
    }
  ]
}) }}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a href="create-task-type"
  <button class="govuk-button" data-module="govuk-button" style="float: right;">Create new task type</button></a>
  <h1 class="govuk-heading-l">Maternity Allowance task types</h1>
  
  <p>Create and manage task types for Maternity Allowance.

    Task types allow a user to view and manage the different kinds of work in the Maternity Allowance service.</p>


  <!--<h2 class="blueheading">Your task types</h2>-->
  &nbsp;

  
  <div class="box5">
    <h2 class="govuk-heading-m"><a href="task-type-overview">Change a claimant's address</a></h2>
  </div>
</div>

<div class="govuk-width-container">
&nbsp;
  <div class="box5">
    <h2 class="govuk-heading-m"><a href="#">Add a claimant's proof of income</a></h2>
  </div>
</div>


&nbsp;
{% endblock %}

