{% extends "layouts/main.html" %}


{% block pageTitle %}

{% endblock %}
{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/filters.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <main class="container govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">View and manage tasks</h1>
      </div>
    </div>
    <header class="header">
      <button
          class="toggle-button"
          id="toggleFilters"
          aria-expanded="true"
          aria-controls="filtersColumn"
          type="button"
          Hide filters>
          <span class="sr-only" id="buttonStatus">Filters are currently visible</span>
      </button>
  </header>
    <div id="layoutGrid" class="layout-grid govuk-grid-row">
      <div id="filtersColumn" aria-label="Filters" class="govuk-grid-column-one-third">
       
        <h3 class="govuk-heading-m">Filters</h3>
        <form id="filter-form">
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          <h3 class="govuk-heading-s">Date range</h3>
         
          <div class="govuk-form-group">
            <label class="govuk-label title-label" for="startDate">From</label>
            <div class="govuk-date-input" id="startDate">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric">
                </div>
              </div>
            </div>
          </div>
  
          <div class="govuk-form-group">
            <label class="govuk-label title-label" for="endDate">To</label>
            <div class="govuk-date-input" id="endDate">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric">
                </div>
              </div>
            </div>
          </div>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          <div class="govuk-form-group">
            <label class="govuk-label title-label govuk-!-font-weight-bold" for="taskType">Task type</label>
            <select class="govuk-select" id="taskType" name="taskType">
              <option value="">-- Select --</option>
              <option>Onboarding</option><option>Payroll Setup</option><option>Exit Interview</option><option>IT Access</option><option>Compliance Training</option>
            </select>
          </div>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Team</legend>
              <span class="govuk-hint">Open tasks against team</span>
              <div class="govuk-checkboxes--small">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Low" id="priority-Low">
                  <label class="govuk-label govuk-checkboxes__label" for="priority-Low">Processing team 1 </label>
                </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Medium" id="priority-Medium">
                    <label class="govuk-label govuk-checkboxes__label" for="priority-Medium">Processing team 2 </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="High" id="priority-High">
                    <label class="govuk-label govuk-checkboxes__label" for="priority-High">Input team </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Urgent" id="priority-Urgent">
                    <label class="govuk-label govuk-checkboxes__label" for="priority-Urgent">Telephony </label>
                  </div>
              </div>
            </fieldset>
          </div>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          <div class="govuk-form-group">
            <label class="govuk-label title-label govuk-!-font-weight-bold" for="teamMember">Agent</label>
            <div id="location-hint" class="govuk-hint">
              Enter agent's name or staff ID
            </div>
            <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
          </div>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          <div class="govuk-form-group">
            <label class="govuk-label title-label govuk-!-font-weight-bold" for="teamMember">National Insurance Number</label>
            <div id="location-hint" class="govuk-hint">
              Enter customers national insurance number
            </div>
            <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
          </div>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          <div class="govuk-form-group">
            <label class="govuk-label title-label govuk-!-font-weight-bold" for="teamMember">Task Number</label>
            <div id="location-hint" class="govuk-hint">
              Enter task number
            </div>
            <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
          </div>
    
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Priority</legend>
              <div class="govuk-checkboxes--small">
                <div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Low" id="priority-Low"><label class="govuk-label govuk-checkboxes__label" for="priority-Low">Low</label></div><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Medium" id="priority-Medium"><label class="govuk-label govuk-checkboxes__label" for="priority-Medium">Medium</label></div><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" type="checkbox" name="priority" value="High" id="priority-High"><label class="govuk-label govuk-checkboxes__label" for="priority-High">High</label></div><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Urgent" id="priority-Urgent"><label class="govuk-label govuk-checkboxes__label" for="priority-Urgent">Urgent</label></div>
              </div>
            </fieldset>
          </div>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Status</legend>
              <div class="govuk-checkboxes--small">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Low" id="priority-Low">
                  <label class="govuk-label govuk-checkboxes__label" for="priority-Low">Closed</label>
                </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Medium" id="priority-Medium">
                    <label class="govuk-label govuk-checkboxes__label" for="priority-Medium">Paused</label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="High" id="priority-High">
                    <label class="govuk-label govuk-checkboxes__label" for="priority-High">Allocated</label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Urgent" id="priority-Urgent">
                    <label class="govuk-label govuk-checkboxes__label" for="priority-Urgent">Unallocated</label>
                  </div>
              </div>
            </fieldset>
          </div>
          
        
          
          <div class="govuk-button-group">
          <button class="govuk-button" type="button" id="applyFilters">Apply filters</button>
          <button class="govuk-button govuk-button--secondary" type="button" id="resetFilters">Reset</button>
        </div>
        </form>
  
        <p class="govuk-body">This is a paragraph inside a one-third wide column</p>
      </div>
      <div aria-label="Main content" class="main-column govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">200 tasks between [date] and [date]</h2>
        <div class="moj-scrollable-pane">
          <div>
            <p>
              Filters applied: <span class="govuk-tag govuk-tag--grey">type X</span>
            </p>
          </div>
          <div class="govuk-width-container">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                  sort by
                  <select>one</select>
                </div>
                <div class="govuk-grid-column-one-half">
                  Tasks per page
                  <select>one</select>
                </div>
              </div>
          </div>
          <table class="govuk-table" data-module="">

            <caption class="govuk-table__caption"></caption>
          
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="none">Details</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Created</th>
                <th scope="col" class="govuk-table__header" aria-sort="ascending">Due</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Task</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Customer </th>
                <th scope="col" class="govuk-table__header" aria-sort="ascending">National Insurance number</th>
                <th scope="col" class="govuk-table__header" aria-sort="ascending">Agent</th>
                <th scope="col" class="govuk-table__header" aria-sort="ascending">Priority</th>
                <th scope="col" class="govuk-table__header" aria-sort="ascending">Status</th>  
                <th scope="col" class="govuk-table__header" aria-sort="ascending">Team</th>
              </tr>
            </thead>
          
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">View</a></td>
                <td class="govuk-table__cell" data-sort-value="4884">24 Apr 2025</td>
                <td class="govuk-table__cell" data-sort-value="4884">20 Jun 2025 <span class="govuk-tag govuk-tag--red">Overdue</span></td>
                <td class="govuk-table__cell" data-sort-value="4884">Nil-claim</td>
                <td class="govuk-table__cell" data-sort-value="4884">BH 668845 f</td>
                <td class="govuk-table__cell" data-sort-value="4884">Not-applicable</td>
                <td class="govuk-table__cell" data-sort-value="4884">001122889</td>
                <td class="govuk-table__cell" data-sort-value="4884">None</td>
                <td class="govuk-table__cell" data-sort-value="4884"><span class="govuk-tag govuk-tag--green">Completed</span></td>
                <td class="govuk-table__cell">Processing team</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">View</a></td>
                <td class="govuk-table__cell" data-sort-value="4884">24 Apr 2025</td>
                <td class="govuk-table__cell" data-sort-value="4884">20 Jun 2025</td>
                <td class="govuk-table__cell" data-sort-value="4884">Nil-claim</td>
                <td class="govuk-table__cell" data-sort-value="4884">BH 668845 f</td>
                <td class="govuk-table__cell" data-sort-value="4884">Not-applicable</td>
                <td class="govuk-table__cell" data-sort-value="4884">001122889</td>
                <td class="govuk-table__cell" data-sort-value="4884">None</td>
                <td class="govuk-table__cell" data-sort-value="4884"><span class="govuk-tag govuk-tag--green">Completed</span></td>
                <td class="govuk-table__cell">Processing team</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">View</a></td>
                <td class="govuk-table__cell" data-sort-value="4884">24 Apr 2025</td>
                <td class="govuk-table__cell" data-sort-value="4884">20 Jun 2025</td>
                <td class="govuk-table__cell" data-sort-value="4884">Nil-claim</td>
                <td class="govuk-table__cell" data-sort-value="4884">BH 668845 f</td>
                <td class="govuk-table__cell" data-sort-value="4884">Not-applicable</td>
                <td class="govuk-table__cell" data-sort-value="4884">001122889</td>
                <td class="govuk-table__cell" data-sort-value="4884">None</td>
                <td class="govuk-table__cell" data-sort-value="4884"><span class="govuk-tag govuk-tag--green">Completed</span></td>
                <td class="govuk-table__cell">Processing team</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">View</a></td>
                <td class="govuk-table__cell" data-sort-value="4884">24 Apr 2025</td>
                <td class="govuk-table__cell" data-sort-value="4884">20 Jun 2025</td>
                <td class="govuk-table__cell" data-sort-value="4884">Nil-claim</td>
                <td class="govuk-table__cell" data-sort-value="4884">BH 668845 f</td>
                <td class="govuk-table__cell" data-sort-value="4884">Not-applicable</td>
                <td class="govuk-table__cell" data-sort-value="4884">001122889</td>
                <td class="govuk-table__cell" data-sort-value="4884">None</td>
                <td class="govuk-table__cell" data-sort-value="4884"><span class="govuk-tag govuk-tag--green">Completed</span></td>
                <td class="govuk-table__cell">Processing team</td>
              </tr>
            </tbody>
          </table>
        
        </div>
        <nav class="govuk-pagination" aria-label="Pagination">
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
                1
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
                2
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
              <span class="govuk-pagination__link-title">
                Next<span class="govuk-visually-hidden"> page</span>
              </span>
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
            </a>
          </div>
        </nav>
        <p class="govuk-body-l">This is a lead paragraph inside a two-thirds wide column</p>
        <p class="govuk-body">This is a paragraph inside a two-thirds wide column</p>
      </div>
    
    </div>
  </main>
</div>

{% endblock %}

{% block pageScripts %}
  <script type="text/javascript" src="/public/javascripts/filters.js"></script>
  {% endblock %}
<!-- to make a table row clickable using javascript
   tr onclick="window.location='task-info#'" class = -->

