
{% extends "layouts/main.html" %}

{% set pageName = "Agents" %}

  {% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
    }) }}
  {% endblock %}

{% block content %}



{% if data['agents'] == "yes" %}
  {% set html %}
    <h3 class="govuk-notification-banner__heading">
      You have remove Oliver from the organisation unit.
    </h3>
  {% endset %}

  {{ govukNotificationBanner({
    html: html,
    type: "success"
  }) }}
{% endif %}

  
  <div class="govuk-grid-row govuk-!-margin-bottom-4">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <p class="govuk-body">
        Add an agent set their matching criteria.
      </p>

      <p>
        When you have set up an agent you can change thier group membership, update their matching criteria, or remove them.
      </p>

      {{ govukButton({
        text: "Add an agent"
      }) }}
    </div>
    

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Org B</h2>

      <p>Use the filter to find agents and update their details.</p>

        {{ mojSearch({
          action: "#",
          method: "post",
          classes: "govuk-!-margin-bottom-0",
          input: {
            id: "search",
            name: "search"
          },
          label: {
            text: "Filter agent",
            classes: "govuk-!-font-weight-bold"
          },
          button: {
            text: "Filter",
            classes: "govuk-button--secondary"
          }
        }) }}

  

      <!-- Table two - agent -->  
        <table class="govuk-table govuk-!-static-margin-top-6 govuk-!-static-margin-bottom-3">
          <caption class="govuk-table__caption govuk-table__caption--m">Agents</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width: 300px"></th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

            
            {# Only render the table row when banner is NOT shown #}
            {% if data['agents'] != "yes" %}
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header" style="width:100%;"><a href="agent-details">Oliver Logan</a>
                  <p class="govuk-body-s govuk-!-static-margin-bottom-0" style="color: #505a5f;">46876800</p>
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="agent-details"></a></td>
              </tr>
            {% endif %}

            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header" style="width:100%;"><a href="#">Georgia Duncan</a>
                <p class="govuk-body-s govuk-!-static-margin-bottom-0" style="color: #505a5f;">46876801</p>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#"></a></td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header"><a href="#">Hassan Young</a>
                <p class="govuk-body-s govuk-!-static-margin-bottom-0" style="color: #505a5f;">46876802</p>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#"></a></td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header"><a href="#">Aiden Jenkins</a>
                <p class="govuk-body-s govuk-!-static-margin-bottom-0" style="color: #505a5f;">46876803</p>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#"></a></td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header"><a href="#">Amy Anderson</a>
                <p class="govuk-body-s govuk-!-static-margin-bottom-0" style="color: #505a5f;">46876804</p>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#"></a></td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header"><a href="#">Amy Adams</a>
                <p class="govuk-body-s govuk-!-static-margin-bottom-0" style="color: #505a5f;">46876805</p>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#"></a></td>
            </tr>
          </tbody>
        </table>

        
        {{ govukPagination({
          next: {
            href: "#"
          },
          items: [
            {
              number: 1,
              href: "#",
              current: true
            },
            {
              number: 2,
              href: "#"
            },
            {
              number: 3,
              href: "#"
            }
          ]
        }) }}
        

      </div>
    </div>

  </div>

  
{% endblock %}