{% extends "layouts/new-main.html" %}

{% set pageName = "Remove Oliver Logan from org unit name" %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# <h1 class="govuk-heading-l">{{pageName}}</h1>

      <p>You're about to remove John Smith (staff number 1110022) from Org A.</p>

      <p>They will be removed from these groups:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          24-sep-newgroup
        </li>
        <li>
          Ggroup A
        </li>
      </ul>

      <p>They will be removed from these teams:</p>   

      <ul class="govuk-list govuk-list--bullet">
        <li>
          none
        </li>
      </ul>

      <p>Oliver Logan currently has tasks in their queue, which may be allocated or active or on hold.</p>
      <p>If you remove this person from org name, these tasks will be unallocated and returned to the queue for another agent to claim:</p>   
      
      <ul class="govuk-list govuk-list--bullet">
        <li>
          task A
        </li>
        <li>
          task B
        </li>
      </ul>
       #}

      <form method="post" novalidate>

  
          {{ govukRadios({
            name: "notificationWhenRemovingAgent[sm]",
            fieldset: {
              legend: {
                text: "Are you sure you want to remove Olover Logan from org unit name?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--l"
              }
            },
            value: data.notificationWhenRemovingAgent.sm,
            items: [
              {
                value: "Yes",
                text: "Yes, remove"
              },
              {
                value: "No",
                text: "No"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

        
      </form>

      


    </div>
  </div>
{% endblock %}



