{% extends "layouts/new-main.html" %}

{% set pageName = "Remove Oliver Logan from the organisation unit?" %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <p>You're about to remove John Smith (staff number 1110022) from Org A.</p>

      <p>They will be removed from the following groups:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          24-sep-newgroup
        </li>
        <li>
          Ggroup A
        </li>
      </ul>

      <p>They will be removed from the following teams:</p>   

      <ul class="govuk-list govuk-list--bullet">
        <li>
          none
        </li>
      </ul>

      <p>They have the following tasks, which will be returned to the queue:</p>   
      
      <ul class="govuk-list govuk-list--bullet">
        <li>
          task A
        </li>
        <li>
          task B
        </li>
      </ul>
      

      <form method="post" novalidate>

        {{ govukRadios({
          id: "notificationWhenRemovingAgent[sm]",
          name: "notificationWhenRemovingAgent[sm]",
          fieldset: {
            legend: {
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.notificationWhenRemovingAgent.sm,
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

      <a href="" class="govuk-link">Version two</a>

    </div>
  </div>
{% endblock %}



