
{% extends "layouts/main.html" %}

{% set pageName = "Oliver Logan's profile" %}

  {% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
    }) }}
  {% endblock %}

{% block content %}

  
  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{pageName}}</h1>
      <h2 class="govuk-heading-m">Oliver's task types</h2>

      <p class="govuk-body">
        There are no tasks assigned to this user.
      </p>

      <h2 class="govuk-heading-m">Groups</h2>
      <p class="govuk-body">
        There are no groups assigned to this user.
      </p>

      <h2 class="govuk-heading-m">Individual matching criteria<h2>
      <p>There are no individual matching criteria</p>
     
      {{ govukButton({
        text: "Remove from organisation unit",
        href: "remove-user-v2"
      }) }}

    </div>
  </div>

  
            
      
{% endblock %}