{% extends "layouts/main.html" %}

{% block pageTitle %}
Team leader home
{% endblock %}

{% block beforeContent %}

<div class=spacer1></div>

{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <!--<a href="org-unit-selection"
  <button class="govuk-button" data-module="govuk-button" style="float: right;">Manage another service</button></a>-->
  <h1 class="govuk-heading-l">DWP Task prototype baseline</h1>
  
  <ul class="govuk-list">
    <li><a href="baseline/agent-home.html">View task as an agent</a></li>
    <li><a href="baseline/team-leader-home">View task as a team leader</a></li>
    <li><a href="baseline/service-manager-home">View task as a service manager</a></li>
    <li><a href="baseline/admin-home">View task as a admin</a></li>
  </ul>

  </div>

{% endblock %}


