{% extends "layouts/main.html" %}

{% block pageTitle %}
Put task on hold
{% endblock %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <!--<div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#">Select if you would like to put this task on hold</a>
              </li>
             
            </ul>
          </div>
        </div>
      </div>-->

        <h1 class="govuk-heading-l">
          Put this task on hold
          </h1>
    
          <p>Put this task on hold until it can be worked on again.</p>
    
          <div class="govuk-form-group govuk-form-group">
            <fieldset class="govuk-fieldset">
               <!--<p id="passport-issued-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Select if you would like to put this task on hold</p>-->

              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    Put on hold and keep
                  </label>
                    <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                        This task will remain in your work area.
                            </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    Put on hold and return to queue
                  </label>
                    <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                        This task will return to the queue.
                            </div>
                </div>
             
            </fieldset>
          </div>

  <div class="govuk-button-group">
    <a href="on-hold-date" "=""">
    <button class="govuk-button" data-module="govuk-button">Confirm</button>
    <a href="javascript:window.history.back()"</a>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Back
    </button>
{% endblock %}