
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Maternity Allowance groups
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="maternity-manage">Back</a>
{% endblock %}

{% block content %}
<a href="create-task-template"
  <button class="govuk-button" data-module="govuk-button" style="float: right;">Create new template</button> </a>

<div class="govuk-width-container">
  <h1 class="govuk-heading-l">Maternity Allowance task templates</h1>
  
  <p>Use task templates for tasks your team do regularly.</p>


  <h2 class="blueheading">Your templates</h2>

  
  <div class="box">
    <h2 class="govuk-heading-m"><a href="template-change-address">Change a claimant's address</a></h2>
    <p>Use this task template to change a claimant's address.</p>
  </div>
</div>

<div class="govuk-width-container">
&nbsp;
  <div class="box">
    <h2 class="govuk-heading-m"><a href="#">Add proof of income</a></h2>
    <p> </p>
  </div>
</div>


&nbsp;
{% endblock %}

