{% extends "layouts/main.html" %}


{% block pageTitle %}

{% endblock %}
{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/filters.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


<body class="govuk-template__body">
   <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

   <!-- Skip link -->
   <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>


   <!-- Main content -->
   <div class="govuk-width-container">
       <main class="govuk-main-wrapper" id="main-content" role="main">

           <!-- Page heading -->
           <div class="govuk-grid-row govuk-!-static-padding-bottom-2">
               <div class="govuk-grid-column-two-thirds">
                   <h1 class="govuk-heading-l">Service statistics [FROM DATE] to [TO DATE] </h1>
                   <p class="govuk-body">These statistics represent task statuses for [TEAM NAME ] as of [DATE timestamp].</p>
                   
               </div>
           </div>
           <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <h2 class="govuk-heading-m">Summary<br><span class="govuk-hint">Task for all teams in organisation unit</span></h2>
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Allocated & active
                  </dt>
                  <dd class="govuk-summary-list__value">
                    7000
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Unallocated
                  </dt>
                  <dd class="govuk-summary-list__value">
                    5000
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Completed
                  </dt>
                  <dd class="govuk-summary-list__value">
                    6300
                  </dd>
                </div>
              </dl>
            
            </div>
          </div>
          <div class="govuk-grid-row govuk-!-static-padding-top-2">
            <div class="govuk-grid-column-full">
            <table class="govuk-table govuk-!-static-margin-top-2 govuk-!-static-margin-bottom-1">
              <caption class="govuk-table__caption govuk-table__caption--m">Team overview<br><span class="govuk-hint">Statistics by team </span></caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header " style="width: 300px">Agent</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric ">Allocated</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric ">Active </th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric ">Completed </th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric ">Actions </th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Team name</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">100</td> 
                  <td class="govuk-table__cell govuk-table__cell--numeric">23</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">88</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a href="detailed-view">details</a></td>
                  
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Team name</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">90</td> 
                  <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">87</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a href="detailed-view">details</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Team name</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">120</td> 
                  <td class="govuk-table__cell govuk-table__cell--numeric">20</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">110</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a href="detailed-view">details</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Team name</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">44</td> 
                  <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">60</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a href="detailed-view">details</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Team name</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">79</td> 
                  <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">67</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a href="detailed-view">details</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Team name</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">95</td> 
                  <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">80</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a href="detailed-view">details</a></td>
                </tr>
              </tbody>
              <tfoot class="govuk-table__row">
                <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Total</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">528</td> 
                <td class="govuk-table__cell govuk-table__cell--numeric">71</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">492</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
              </tfoot>
            </table>
            <a href="team-stats-detail">Download as csv</a>
          </div>
          </div>

         
          </div>
       </main>
   </div>
</body>
{% endblock %}