{% extends "layouts/new-main.html" %}

{% set pageName = "Are you sure you want to remove agent 01 from Team A?" %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <p>Removing a user from a team will unallocate all of their allocated, active and on hold tasks, and put those tasks back into the general queue for another agent to claim.</p>    

      <p>The affected taks are:</p>   
      
      <ul class="govuk-list govuk-list--bullet">
        <li>
          task A
        </li>
        <li>
          task B
        </li>
      </ul>
      

      <form method="post" novalidate>

  
          {{ govukRadios({
            name: "removindAgentFromTeam[agentRemove]",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            value: data.removindAgentFromTeam.agentRemove,
            items: [
              {
                value: "Yes",
                text: "Yes, remove"
              },
              {
                value: "No",
                text: "No"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

        
      </form>

      


    </div>
  </div>
{% endblock %}



