{% extends "layouts/new-main.html" %}

{% set pageName = "Select journey" %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>

        {{ govukRadios({
          id: "teams[selectJourney]",
          name: "teams[selectJourney]",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.teams.selectJourney,
          items: [
            {
              value: "one",
              text: "One (agent has tasks)"
            },
            {
              value: "two",
              text: "Two (agent has no tasks)"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}



