{% extends "layouts/main.html" %}

{% block pageTitle %}
Task details
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

<div class=spacer1></div>

{{ govukBreadcrumbs({
  items: [
    {
      text: "My IAG tasks",
      href: "tasks-dashboard"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        [task name] for Deborah Levy
      </h1>

       
      <p>View details of [task name] for Deborah Levy.</p>

      <p>You can work on this task, return it to the queue, suspend it, or finish it.</p>
      
    

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Customer
          </dt>
          <dd class="govuk-summary-list__value">
            Deborah Levy
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Task
          </dt>
          <dd class="govuk-summary-list__value">
            [task name]
          </dd>
          <dd class="govuk-table__cell govuk-table__cell--numeric" align="right">
            <a href="return-task-to-queue">Return to queue</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date due
          </dt>
          <dd class="govuk-summary-list__value">
            6 April 2023
          </dd>
          <dd class="govuk-table__cell govuk-table__cell--numeric" align="right">
            <strong class="govuk-tag govuk-tag--red">
              1 day overdue
          </strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date created
          </dt>
          <dd class="govuk-summary-list__value">
            5 March 2023
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            Active
          </dd>
          <dd class="govuk-table__cell govuk-table__cell--numeric" align="right">
            <a href="suspend-task">Suspend (BF)</a>
          </dd>
        </div>
        
      </dl>
      <div class="govuk-button-group">
        <a href="work-on-task" "=""">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Open task</button>
        <a href="finish-task" "=""">
            <button class="govuk-button" data-module="govuk-button">Finish task</button></a>
    </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="spacer1"></div>
          <h1 class="govuk-heading-l">
            History
          </h1>
          <p>View the history of [task name] for Deborah Levy.</p>
    
          <div class="dwp-timeline">
            <ul>
            <li class="dwp-timeline__events--entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Active</h2>
              <p class="govuk-caption-m govuk-!-margin-bottom-1">Deborah Levy</p>
              <p class="govuk-caption-m">6 March 2023</p>
            </li>
            <li class="dwp-timeline__events--entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Allocated</h2>
              <p class="govuk-caption-m govuk-!-margin-bottom-1">Deborah Levy</p>
              <p class="govuk-caption-m">6 March 2023</p>
            </li>
            <li class="dwp-timeline__events--entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Returned to queue</h2>
              <p class="govuk-caption-m govuk-!-margin-bottom-1">Aiden Jenkins</p>
              <p class="govuk-caption-m">5 March 2023</p>
            </li>
            <li class="dwp-timeline__events--entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Allocated</h2>
              <p class="govuk-caption-m govuk-!-margin-bottom-1">Aiden Jenkins</p>
              <p class="govuk-caption-m">5 March 2023</p>
            </li>
            <li class="dwp-timeline__events--entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Created</h2>
              <p class="govuk-caption-m">3 March 2023</p>
            </li>
            </ul>
            </div> 
        </div>
      </div>

{% endblock %}