{% extends "layouts/main.html" %}

{% block pageTitle %}
  My tasks
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<div class=spacer1></div>

{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">My IAG tasks</h1>


<div class="govuk-button-group">
    <a href="#">
    <button class="govuk-button" data-module="govuk-button">
      Claim new task
    </button></a>
    <a href="select-service">
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Change service
    </button></a>
  </div>

<div class="govuk-tabs" data-module="govuk-tabs">
    
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#tasks">
          Tasks
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#finished-tasks">
          Finished tasks
        </a>
      </li>
     
    </ul>
    <div class="govuk-tabs__panel" id="tasks">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date created</th>
            <th scope="col" class="govuk-table__header">Task</th>
            <th scope="col" class="govuk-table__header">Customer</th>
            <th scope="col" class="govuk-table__header">Due</th>
            <th scope="col" class="govuk-table__header">Details</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">8 Mar 2022</td>
            <td class="govuk-table__cell">task name</td>
            <td class="govuk-table__cell">Kaitlyn Burke</td>
            <td class="govuk-table__cell">Today</td>
            <td class="govuk-table__cell"><a href="task-details-kaitlyn">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">8 Mar 2022</td>
            <td class="govuk-table__cell">task name</td>
            <td class="govuk-table__cell">Deborah Levy</td>
            <td class="govuk-table__cell">Tomorrow</td>
            <td class="govuk-table__cell"><a href="task-details-deborah">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">9 Mar 2022</td>
            <td class="govuk-table__cell">task name</td>
            <td class="govuk-table__cell">Amy Kim</td>
            <td class="govuk-table__cell">2 days</td>
            <td class="govuk-table__cell"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">9 Mar 2022</td>
            <td class="govuk-table__cell">task name</td>
            <td class="govuk-table__cell">Marco Francis</td>
            <td class="govuk-table__cell">2 days</td>
            <td class="govuk-table__cell"><a href="#">View</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="finished-tasks">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date created</th>
            <th scope="col" class="govuk-table__header">Task</th>
            <th scope="col" class="govuk-table__header">Customer</th>
            <th scope="col" class="govuk-table__header">Due</th>
            <th scope="col" class="govuk-table__header">Details</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">8 Mar 2022</td>
                <td class="govuk-table__cell">task name</td>
                <td class="govuk-table__cell">James Longbottom-Smith</td>
                <td class="govuk-table__cell">2 days</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed</strong></td>
              </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">8 Mar 2022</td>
                <td class="govuk-table__cell">task name</td>
                <td class="govuk-table__cell">Li Park</td>
                <td class="govuk-table__cell">2 days</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Cancelled</strong></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">8 Mar 2022</td>
                <td class="govuk-table__cell">task name</td>
                <td class="govuk-table__cell">Karen Smith</td>
                <td class="govuk-table__cell">2 days</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Failed</strong></td>
              </tr>  
        </tbody>
      </table>
    </div>
      </table>
    </div>
  </div>

  {% endblock %}