{% extends "layouts/main.html" %}

{% block pageTitle %}
Task details
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

<div class=spacer1></div>

{{ govukBreadcrumbs({
  items: [
    {
      text: "My Maternity Allowance tasks",
      href: "tasks-dashboard-3"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Create report for Amy Kim
      </h1>

       
      <p>View details of Create report for Amy Kim.</p>

      <p>You can view the task history, suspend it, work on it, return it to the queue, or finish it.</p>
      
    

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Customer
          </dt>
          <dd class="govuk-summary-list__value">
            Amy Kim
          </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National insurance number
            </dt>
            <dd class="govuk-summary-list__value">
                FG123456789
            </dd>
          </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Task
            </dt>
            <dd class="govuk-summary-list__value">
                Create report
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                View history<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date due
          </dt>
          <dd class="govuk-summary-list__value">
            10 March 2023
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date created
          </dt>
          <dd class="govuk-summary-list__value">
            9 March 2023
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            Active
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Suspend<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>
        
      </dl>
      <div class="govuk-button-group">
        <a href="#" "=""">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Open task</button>
        <a href="#" "=""">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Return task to queue</button>
        <a href="#" "=""">
            <button class="govuk-button" data-module="govuk-button">Finish task</button></a>
    </div>
    </div>

{% endblock %}