//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

@import "components/accessible-autocomplete.min.scss";
@import "components/filter-layout.scss";
@import "components/filter-panel.scss";
@import "components/search-form.scss";

// Add extra styles here
.govuk-header__logo {
    display: none;
  }
  

.govuk-phase-banner {
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d4d4d4;
  margin-top: 10px;
}


  /* Dashboard tile styling */

.box {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  float: left;
  width: 100%;
  height: 160px;
  background-color: white;
  box-shadow: 1px 1px 2px 1px #b6b6b6;
  box-sizing: border-box;
 }

 .box2 {
  text-indent: 50px;
  padding-top: 30px;
  float: left;
  width: 100%;
  height: 100px;
  background-color: white;
  box-shadow: 1px 1px 2px 1px #b6b6b6;
 }

 .box3 {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  float: left;
  width: 100%;
  height: 150px;
  background-color: white;
  box-shadow: 1px 1px 2px 1px #b6b6b6;
  box-sizing: border-box;
  margin-bottom: 20px;
 }

 .box4 {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  float: left;
  width: 100%;
  height: 220px;
  background-color: white;
  box-shadow: 1px 1px 2px 1px #b6b6b6;
  box-sizing: border-box;
 }
 .box5 {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  float: left;
  width: 100%;
  height: 100px;
  background-color: white;
  box-shadow: 1px 1px 2px 1px #b6b6b6;
  box-sizing: border-box;
 }

 .box6 {
  margin-top: 0px;
  padding-top: 30px;
  padding-left: 30px;
  margin-bottom: 30px;

  float: left;
  width: 100%;
  height: 100px;
  background-color: white;
  outline-style: solid;
  outline-color: #005ea5;
  box-sizing: border-box;
 }

 .box7 {
  padding-top: 30px;
  padding-left: 30px;
  margin-bottom: 30px;
  float: left;
  width: 100%;
  height: 100%;
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: #9e9e9e;
  box-sizing: border-box;
 }
 .box9 {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  width: 100%;
  min-height: 160px;
  background-color: white;
  box-shadow: 1px 1px 2px 1px #b6b6b6;
  box-sizing: border-box;
 }
 .blueheading {
  color: white !important;
  background-color: #0561a6;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
 }

 /* Custom header styling */

 .dwp-header {
  background-color: #0b0c0c;
  border-bottom: 0;
  width: 100%;
  }
  
  .dwp-header__container {
  border-bottom: 0;
  padding: 10px 30px 0;
  display: flex;
  }
  
  @media (max-width: 40.0525em) {
  .dwp-header__container {
  padding: 10px 15px 0;
  }
  }
  
  .dwp-header__container--service-name {
  width: 66.66%;
  }
  
  .dwp-header__container--action {
  width: 33.33%;
  }
  
  .dwp-header__container--action .action {
  float: right;
  font-weight: 700;
  margin-top: 2px;
  }
  
  @media (min-width: 40.0625em) {
  .dwp-header__container--action .action {
  margin-top: 5px;
  }
  } 

  .govuk-phase-banner {
      background-color: white;
      width: 100%;
      float: left;
  }

/* Table mouse highlight styling */   

  .grey-row { 
  background-color: rgb(252,252,252);
  //cursor: pointer;
  }

/* Timeline styling */

  .dwp-timeline {
      font-family: Arial, sans-serif;
      border-left: 6px solid #1d70b8;
      list-style-type: none;
      padding: 0;
      }
      
      .dwp-timeline__entry {
      margin: 2em 0;
      padding-left: 1.125em;
      position: relative;
      top: -.6em;
      }
      
      .dwp-timeline__entry::before {
      background-color: #1d70b8;
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      top: .6em;
      width: 10px;
      } 

/* Details bar styling */

      .dwp-key-details-bar {
          background-color: #1d70b8;
          color: #fff;
          font-family: Arial, sans-serif;
          }
          
          .dwp-key-details-bar dt,
          .dwp-key-details-bar dd {
          border: none;
          margin: 0;
          padding: 0;
          }
          
          .dwp-key-details-bar .dwp-key-details-bar__key-details {
          margin: 0 auto;
          max-width: 960px;
          padding: 20px 30px;
          position: relative;
          }
          
          .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__top-block::after,
          .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__bottom-block::after {
          clear: both;
          content: ' ';
          display: block;
          }
          
          .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__bottom-block {
          border-top: 1px solid rgba(255, 255, 255, .3);
          content: ' ';
          padding-top: 10px;
          margin-top: 6px;
          }
          
          .dwp-key-details-bar .dwp-key-details-bar__key-details dd,
          .dwp-key-details-bar .dwp-key-details-bar__key-details dt {
          float: left;
          font-size: 19px;
          margin-right: 5px;
          }
          
          .dwp-key-details-bar .dwp-key-details-bar__key-details dd {
          margin-right: 20px;
          }
          
          .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__primary {
          font-size: 36px;
          font-weight: 700;
          line-height: 1.11111;
          margin-right: 10px;
          }
          
          .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__secondary {
          font-size: 19px;
          line-height: 1;
          margin-top: 15px;
          }
          
          .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__status {
          font-size: 16px;
          font-weight: 700;
          line-height: 1.25;
          color: #005ea5;
          background-color: #fff;
          letter-spacing: 1px;
          text-decoration: none;
          text-transform: uppercase;
          float: right;
          margin: 5px 0 0;
          }
          
          @media (max-width: 40.0525em) {
          .dwp-key-details-bar .dwp-key-details-bar__key-details {
          padding: 20px 15px;
          }
          
          .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__bottom-block {
          border: 0;
          }
          
          .dwp-key-details-bar .dwp-key-details-bar__key-details dd,
          .dwp-key-details-bar .dwp-key-details-bar__key-details dt {
          float: none;
          font-size: 16px;
          margin: 0;
          }
          
          .dwp-key-details-bar .dwp-key-details-bar__key-details dd {
          margin-bottom: 20px;
          }
          
          .dwp-key-details-bar .dwp-key-details-bar__key-details dd:last-of-type {
          margin-bottom: 20px;
          }
          
          .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__name {
          font-size: 24px;
          line-height: 1.04167;
          float: left;
          margin: 0 5px 0 0;
          }
          
          .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__nino {
          font-size: 18px;
          float: left;
          margin: 5px 0 0 0;
          }
          
          .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__status {
          font-size: 14px;
          float: left;
          clear: both;
          margin-top: 5px;
          }
          } 

.cell {
  background-color: white;
  height: 100px;
  width: 30%;
  display: inline-grid;
  }

.cell-6 {
  width: 60%;
}

.spacer1 {
  margin: 20px;
  padding: 20px;
  width: 100%;
  background-color: #ffffff;
}

.spacer2 {
  margin: 10px;
  padding: 10px;
  width: 100%;
  background-color: #ffffff;
  height: 50px;
}

.spacer3 {
  margin: 10px;
  padding: 10px;
  width: 100%;
  background-color: #ffffff;
  height: 100px;
}
.spacer4 {
  width: 100%;
  background-color: #ffffff;
  height: 20px;
}

.govuk-select {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  box-sizing: border-box;
  min-width: 11.5em;
  max-width: 100%;
  height: 40px;
  height: 2.5rem;
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid #0b0c0c;
  color: #0b0c0c;
  background-color: #fff;
}

.autocomplete__wrapper * {
  @include govuk-typography-common();
}
.adminoverviewlinks {
  text-align:right;
  display:inline;
  float:right;
}
.vertical-border {
  border-right: 1px solid grey;
  height: 100%;
  position:absolute;
}

.timeline-list {
  text-decoration-color: #0561a6;
}

.app-body-class {
  margin:0;
  max-width: 100vw;
}
.app-body-class-large {
  @media (min-width: 1440px) {
    @supports (margin: max(calc(0px))) {
      .app-width-container,
      .govuk-width-container {
        max-width: 98vw;
        margin-right: auto;
        margin-left: auto;
       
      }
    }
  }
}

  @media (min-width: 1200px) {
    .app-width-container {
      max-width: 98vw;
      margin-right: auto;
      margin-left: auto;
     
    }
  }
.page-container {
  display:flex;
}

.table-rows {
  display: flex;
  align-items: baseline;
  :nth-child(1) {
    padding-right: 10px;
  }
}

  .sidebar {
    border-right: 1px solid #b1b4b6;
    max-width: 20vw;
    display: block;
    box-sizing: border-box;
    padding: 0 20px;

    .title-label {
      font-weight: 800;
    }
  }

  .filter-dd {
    
    background-color:#b1b4b6 ;
  }

  .data-table {
    min-width: 80vw;
    display: block;
    padding: 0px 20px;
    box-sizing: border-box;


  }

  .govuk-table__body {
    font-size: medium;
  }
  .govuk-table__header {
    //color:#1d70b8;
  }


.filter-tag {
  margin:10px;
}
.team-picker-panel {
  background-color: #0561a6;
  margin: 16px 0;
  color:white;

  
  .container {
    margin: 20px 0px;
  }
  :nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: right;
    padding:18px;
    color:#d4d4d4
  }
}
.spacer20{
  padding:16px;
}
.stats-panel-container {
  margin: 20px 0px;
  box-sizing: border-box;
}

.pagination-container {
  display: flex;
  justify-content: center;
}
.filter-count {
  display:block;
  color:#171717 !important;

}
.govuk-details__text {
  background-color: #eee;

}

.govuk-details__summary {
  display:flex;
  justify-content: space-between;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-bottom: 1px solid #171717;

  font-size: 1.2rem;
  font-weight: 600;
}

.fw{
  width:100%;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 18px;
  background-color: #eee;
  display: none;
  overflow: hidden;

}

.stats-panel {
  background-color:govuk-colour("light-grey");
  padding:16px;


  .title-label {
    font-weight: 800;
  }


  
  ul {
    margin:0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline-start: 0;

    li {
      list-style-type: none;
      :nth-child(1) {
        font-size: 1.8rem;
        font-weight: 600;
      }
      :nth-child(2) {
        font-size: medium;
        font-weight: 600;
      }
    }
  }
}

.govuk-tag {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
}

.note {
  position: absolute;
  bottom: -40%;
  left: 50%;
  background-color: #feed7f;
  width: 150px;
  height: auto;
  padding: 24px 24px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), 0 4px 16px 0 rgba(0, 0, 0, 0.12);
}

.app-width-container--wide {
  max-width: 1280px;
}

.app-width-container--even-wide {
  max-width: 1400px;
}

.searchable-collection-component--only-scrollable {
  margin-left: -10px;
  max-height: 200px;
  overflow-y: auto;
  padding-left: 10px;
}

// Styles for the filter panel
.moj-filter__options, .moj-filter__header {
  background-color: #f3f2f1;
}

.moj-filter__header {
  box-shadow:
    inset 0 1px 0 0 #b1b4b6,   /* top */
    inset 1px 0 0 0 #b1b4b6,   /* left */
    inset -1px 0 0 0 #b1b4b6;  /* right */
}



/* Make the radio’s outer circle white */
.govuk-radios--small .govuk-radios__input + .govuk-radios__label::before {
  background-color: #fff;
}


/* Small checkboxes: white box background */
.govuk-checkboxes--small .govuk-checkboxes__input + .govuk-checkboxes__label::before {
  background-color: #fff;            /* white fill */
}


/* Adjust the selector to match your DOM; the following works with typical MOJ markup */
.moj-filter__tag::before {
  content: "×";
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  color: #1d70b8;       /* GOV.UK blue */
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
}

.moj-filter__tag {
  border-radius: 4px;
}


// Assuming GOV.UK Frontend is imported so $govuk-error-colour is available.

.govuk-notification-banner--error {
  // Left border and header bar in error colour
  border-color: $govuk-error-colour;

.govuk-notification-banner__header {
  background-color: $govuk-error-colour;
}

}



