{% extends "layouts/main.html" %}

{% block pageTitle %}
Change due date
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">
    Back
  </a>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<div class="govuk-width-container-two-thirds">
        <!--<div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#">Due date must include the day</a>
              </li>
              <li>
                <a href="#">Due date must include the month</a>
              </li>
            </ul>
          </div>
        </div>
      </div>-->
  <h1 class="govuk-heading-l">
    Change due date and time
  </h1>

  <p>Change the due date and time for Book assessment for Deborah Levy.</p>
  <p>The current due date and time for this task is 6 April 2023 at 14:39. </p>
  &nbsp;
  {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Date
        </h1>
      </legend>
      <div id="passport-issued-hint" class="govuk-hint">
        For example, 27 3 2007
      </div>
       <!--<p id="whereDoYouLive-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Due date must include the day
      </p>
      <p id="whereDoYouLive-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Due date must include the month
      </p>-->
      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Time
        </h1>
        
      </legend>
      <div id="passport-issued-hint" class="govuk-hint">
        Use 24 hour time, for example, 14:30
      </div>
      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
              Hours
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
          </div>
        </div>

        <div class="govuk-date-input__item">
          <p>:</p>
          </div>
        
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Minutes
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
          </div>
        </div>
        </div>
      </div>
    </fieldset>
  </div>
  
        <div class="govuk-button-group">
            <a href="javascript:window.history.back()"</a>
          <button class="govuk-button" data-module="govuk-button">
            Confirm
          </button>
          <a href="javascript:window.history.back()"</a>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Back
          </button> 
        </div>
      </form>
    </main>
  &nbsp;
  </div>

{% endblock %}