{% extends "layouts/main.html" %}

{% block pageTitle %}
Review Admin group
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<div class=spacer1></div>
{{ govukBreadcrumbs({
  items: [
    {
      text: "Maternity allowance home",
      href: "home"
    },
    {
      text: "Setup and manage team",
      href: "manage-team"
    },
    {
      text: "Groups",
      href: "groups-home"
    }
  ]
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Admin</h1>

      <h2 class="govuk-heading-m">
        Task types
      </h1>
      <p>Admin group members will be able to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Review incident outcomes</li>
      </ul>

      <h2 class="govuk-heading-m">Group details</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Group name
          </dt>
          <dd class="govuk-summary-list__value">
              Admin
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Members
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['group-members']|length > 0 %}
              <ul class="govuk-list">
                {% for item in data['group-members'] %}
                  <li>
                    {{ item 
                    | replace("amy", "Amy Anderson (Andi)") 
                    | replace("aiden", "Aiden Jenkins") 
                    | replace("dmitrij", "Dmitrij Ivanov") 
                    | replace("julia", "Julia Nguyen")
                    | replace("fiona", "Fiona Murray-Reed") }}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              None
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="create-group3">
              {% if data['group-members']|length == 0 %} 
                Add<span class="govuk-visually-hidden"> members</span>
              {% else %}
                Change<span class="govuk-visually-hidden"> members</span>
              {% endif %}
            </a>
          </dd>
        </div>
      </dl>
      

      <h2 class="govuk-heading-m">Matching criteria</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['group-grade']|length > 0 %}
              <ul class="govuk-list">
                {% for item in data['group-grade'] %}
                  <li>
                    {{ item 
                    | replace("ao", "AO")
                    | replace("aa", "AA") }}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              None
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="create-group2">
              {% if data['group-grade']|length == 0 %} 
                Add<span class="govuk-visually-hidden"> grade</span>
              {% else %}
                Change<span class="govuk-visually-hidden"> grade</span>
              {% endif %}
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Language
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['group-language']|length > 0 %}
              <p class="govuk-body">
                {% if data['group-language'] == 'welsh'%} 
                  Welsh
                {% endif %}
              </p>
            {% else %}
              None
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="create-group2">
              {% if data['group-language']|length == 0 %} 
                Add<span class="govuk-visually-hidden"> language</span>
              {% else %}
                Change<span class="govuk-visually-hidden"> language</span>
              {% endif %}
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Location
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['group-location']|length > 0 %}
              <ul class="govuk-list">
                {% for item in data['group-location'] %}
                  <li>
                    {{ item 
                    | replace("england", "England") 
                    | replace("northern-ireland", "Northern Ireland") 
                    | replace("scotland", "Scotland") 
                    | replace("wales", "Wales") }}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              None
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="create-group2">
              {% if data['group-location']|length == 0 %} 
                Add<span class="govuk-visually-hidden"> location</span>
              {% else %}
                Change<span class="govuk-visually-hidden"> location</span>
              {% endif %}
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Office ID
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['group-office']|length > 0 %}
              <ul class="govuk-list">
                {% for item in data['group-office'] %}
                  <li>
                    {{ item 
                    | replace("bristol", "Bristol") 
                    | replace("glasgow", "Glasgow") 
                    | replace("leeds", "Leeds") 
                    | replace("longbenton", "Longbenton") }}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              None
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="create-group2">
              {% if data['group-office']|length == 0 %} 
                Add<span class="govuk-visually-hidden"> office ID</span>
              {% else %}
                Change<span class="govuk-visually-hidden"> office ID</span>
              {% endif %}
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Role
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['group-role']|length > 0 %}
              <ul class="govuk-list">
                {% for item in data['group-role'] %}
                  <li>
                    {{ item 
                    | replace("decision-maker", "Decision maker") 
                    | replace("claims-processor", "Claims processor") }}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              None
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="create-group2">
              {% if data['group-role']|length == 0 %} 
                Add<span class="govuk-visually-hidden"> role</span>
              {% else %}
                Change<span class="govuk-visually-hidden"> role</span>
              {% endif %}
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Working pattern
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['group-pattern']|length > 0 %}
              <p class="govuk-body">
                {% if data['group-pattern'] == 'mfpm'%} 
                  M-F PM
                {% endif %}
              </p>
            {% else %}
              None
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="create-group2">
              {% if data['group-pattern']|length == 0 %} 
                Add<span class="govuk-visually-hidden"> working pattern</span>
              {% else %}
                Change<span class="govuk-visually-hidden"> working pattern</span>
              {% endif %}
            </a>
          </dd>
        </div>
      </dl>

      <div class="govuk-button-group">
        <a href="groups-dm-deleted">
          <button class="govuk-button govuk-button" data-module="govuk-button">
            Confirm changes
          </button>
        </a>
        <a href="groups-dm-deleted">
          <button class="govuk-button govuk-button--warning" data-module="govuk-button">
            Delete group
          </button>
        </a>
                <a href="javascript:window.history.back()"</a>
                  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Back
                  </button> 
                 

    </div>
    <div>
  </div>
</div>
  </div>
</form>
{% endblock %}