{% extends "layouts/main.html" %}

{% block pageTitle %}
  Groups
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<div class=spacer1></div>
{{ govukBreadcrumbs({
  items: [
    {
      text: "Maternity allowance home",
      href: "home"
    },
    {
      text: "Set up and manage team",
      href: "manage-team"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <h1 class="govuk-heading-l">Groups</h1>
  
  <p>Create and manage groups of team members. Team members will get tasks that match to the criteria of their group.</p>
  &nbsp;

  <div class="govuk-button-group">
    <a href="create-group" "=""">
        <button class="govuk-button" data-module="govuk-button">Create group</button></a>
        </div>
  

    &nbsp;
  <div class="box5">
    <h2 class="govuk-heading-m"><a href="group-admin">Admin</a></h2>
      </div>
      </div>


&nbsp;
{% endblock %}

