{% extends "layouts/main.html" %}

{% block pageTitle %}
  Team members
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<div class=spacer1></div>
{{ govukBreadcrumbs({
  items: [
    {
      text: "Maternity allowance home",
      href: "home"
    },
    {
      text: "Set up and manage team",
      href: "manage-team"
    }
  ]
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Team members
      </h1>

      <p>Add team members and set their matching criteria.</p>
        <p>When you have set up a team member you can remove them or change their matching criteria.</p>
        &nbsp;

    </div>
    <div class="govuk-notification-banner" role="region"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      You have 7 days left to send your application.
      <a class="govuk-notification-banner__link" href="#">View application</a>.
    </p>
  </div>
</div>

    <div class="govuk-grid-column-one-third">
&nbsp;
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Maternity Allowance team
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
    
            <li>
              <a href="#">
                Aiden Jenkins
              </a>
            </li>
            <li>
              <a href="dmitrij-review-view">
                Dmitrij Ivanov
              </a>
            </li>
            <li>
              <a href="#">
                Julia Nguyen
              </a>
            </li>
            <li>
              <a href="#">
                Fiona Murray-Reed
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </div> 
  <a href="add-team-member"</a>
    <button class="govuk-button govuk-button--primary" data-module="govuk-button">
Add a team member    </button>
</div>

  </div>
{% endblock %}
