{% extends "layouts/main.html" %}

{% block pageTitle %}
Return task to queue
{% endblock %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Return task to queue
      </h1>

      <p>This task is being worked on by Julia. If Julia is unable to work on it right now, you should return it to the queue.</p>
    
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              Would you like to put this task back in the queue?
            </h1>
          </legend>
          
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                Yes
              </label>
              <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                Julia will be able to claim this task again.
              </div>
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  Yes, and block the task from this team member
                </label>
                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                  Julia will not get this task again until you unblock them.
                </div>
              </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                No
              </label>
            </div>
         
          </div>
        </fieldset>
      </div>

  <div class="govuk-button-group">
    <a href="#" "=""">
    <button class="govuk-button" data-module="govuk-button">Confirm</button>
    <a href="javascript:window.history.back()"</a>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Back
    </button>
{% endblock %}