{% extends "layouts/main.html" %}

{% block pageTitle %}
Unblock
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">
    Back
  </a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l">
    Unblock team members
  </h1>

  <p>Team members have been blocked from working on this task. Unblock team members to allow them to claim it.</p>
  &nbsp;
  {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">
          Who would you like to unblock?
        </h1>
      </legend>
      <div id="waste-hint" class="govuk-hint">
        Select all that apply.
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
            Aiden Jenkins
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
            Amy Anderson (Andi)
          </label>
        </div>
       
      </div>
    </fieldset>
  </div>
  
        <div class="govuk-button-group">
            <a href="javascript:window.history.back()"</a>
          <button class="govuk-button" data-module="govuk-button">
            Confirm
          </button>
          <a href="javascript:window.history.back()"</a>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Back
          </button> 
        </div>
      </form>
    </main>
  &nbsp;
  </div>
  </div>

{% endblock %}