{% extends "layouts/main.html" %}

{% block pageTitle %}
Maternity Allowance home
{% endblock %}

{% block beforeContent %}

<div class=spacer1></div>

{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a href="org-unit-selection"
  <button class="govuk-button" data-module="govuk-button" style="float: right;">Manage another service</button></a>
  <h1 class="govuk-heading-l">Maternity Allowance home</h1>
  <div class="box">
    <h2 class="govuk-heading-m"><a href="maternity-tasks">Tasks</a></h2>
    <p>View and manage tasks.</p> 
 
  </div>
</div>

<div class="govuk-width-container">
  &nbsp;
    <div class="box">
      <h2 class="govuk-heading-m"><a href="maternity-manage">Set up and manage team</a></h2>
      <p>Add or remove people from the team. Manage groups and task matching criteria.</p>
    </div>
  </div>

  <div class="govuk-width-container">
    &nbsp;
      <div class="box">
        <h2 class="govuk-heading-m"><a href="mat-stats">Statistics</a></h2>
        <p>Filter statistics by date range to view average completion time, created, completed, and overdue tasks.</p>
      </div>
    </div>
&nbsp;
{% endblock %}


