{% extends "layouts/main.html" %}

{% block pageTitle %}
Create a task
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class=govuk-grid-column-two-thirds>
    <h1 class="govuk-heading-l">
      Add notes
    </h1>
    <p>Any person could ask to read notes about themselves in a freedom of information request. When you write a note, please:
      <ul class="govuk-list govuk-list--bullet">
        <li>Keep it short</li>
        <li>Keep it kind</li>
        <li>Do not include any personal information</li>
      </ul>
      </p>
            <div class="govuk-form-group">
                <form method="post" action="review-new-task">

                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--m" for="more-context">
                    Notes (optional)
                  </label>
                </h1>

                
                <textarea class="govuk-textarea" id="more-detail" name="moreContext" rows="5" aria-describedby="more-context-hint"></textarea>
              </div>


      <div style="margin-top:20px;" class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          
      <a class=" govuk-button govuk-button--secondary" href="review-new-task" "=""">
          Back</a>  
  </div> 
</form>
</div>




{% endblock %}