{% extends "layouts/main.html" %}

{% block pageTitle %}
Set suspension date
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}
{% block content %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
<div class="govuk-width-container-two-thirds">

  <h1 class="govuk-heading-l">
    Change the on hold date
  </h1>
  <p>This task will become available to work on again on this date.</p>
  <p>This task is currently on hold until 6 April 2025.</p>
  &nbsp;
  
  <div class="govuk-form-group govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h3 class="govuk-fieldset__heading">
            Date
        </h3>
      </legend>
      <div id="passport-issued-hint" class="govuk-hint">
        For example, 27 3 2007
      </div>
     
      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
              Year
            </label>
            <input class=" govuk-input govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
          </div>

          
        </div>
        
      </div>
    </fieldset>
    
  </div>


       
  </div>
{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
    <a href="#" "=""">
        <button class="govuk-button" data-module="govuk-button">Confirm</button></a>
        
    <a href="javascript:window.history.back()" "=""">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Back</button>
           
</div>



{% endblock %}