{% extends "layouts/main.html" %}

{% block pageTitle %}
  My tasks
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<div class=spacer1></div>

{{ govukBreadcrumbs({
  items: [
    {
      text: "Agent home",
      href: "agent"
    }
  ]
}) }}

{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">My tasks</h1>

<div class="govuk-button-group">
    <a href="#">
    <button class="govuk-button" data-module="govuk-button">
      Claim new task
    </button></a>
  </div>

  <!-- Sort -->
  
  <div class="govuk-form-group govuk-input__wrapper">
    <div>
      <label class="govuk-label" for="sort">
        Sort by
      </label>
      <form method="post">
        <select class="govuk-select" id="sort" name="sort" onchange="this.form.submit()">
          <option>Claimed, newest to oldest</option>
          <option>Claimed, oldest to newest</option>
          <option>Due, soonest to  latest</option>
          <option>Due, latest to soonest</option>
          <option>Created, newest to oldest</option>
          <option>Created, oldest to newest</option>
        </select>
        <a href="#">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Sort
          </button>
          </a>
      </form>
    
    </div>
    &nbsp; &nbsp;
    <div>

      

      <!-- Filter -->
      
      <label class="govuk-label" for="width-20">
        Filter your tasks
      </label>
      <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-10" type="text" spellcheck="false">

        <a href="#">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Filter
        </button>
        </a>
      </div>
  </div>
    </div>

    <!-- Tabs -->

      <div class="govuk-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#my-tasks">
              Tasks
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#on-hold-tasks">
              On hold tasks
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#closed-tasks">
              Closed tasks
            </a>
          </li>
        </ul>

      <!-- Tasks -->

        <div class="govuk-tabs__panel" id="my-tasks">
          <h2 class="govuk-heading-l"">Tasks
            <p class="govuk-body govuk-!-font-tabular-numbers">3 total</p></h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Details</th>
                <th scope="col" class="govuk-table__header">Created</th>
                <th scope="col" class="govuk-table__header">Task</th>
                <th scope="col" class="govuk-table__header">Person</th>
                <th scope="col" class="govuk-table__header">National Insurance number</th>
                <th scope="col" class="govuk-table__header">Due</th>
                <th scope="col" class="govuk-table__header">Status</th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="task-details-allocated-overdue">Start</a></td>
                <td class="govuk-table__cell">6 Mar 2024</td>
                <td class="govuk-table__cell">Request medical evidence</td>
                <td class="govuk-table__cell">Fatimah Bakir</td>
                <td class="govuk-table__cell">BF 82 77 61 N</td>
                <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--red">
                        OVERDUE 
                      </strong>
                    <br>7 Mar 2024<br>at 15:21</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--yellow">
                    ALLOCATED
                  </strong></td>
            </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="task-details-allocated">Start</a></td>
                    <td class="govuk-table__cell">7 Mar 2025</td>
                    <td class="govuk-table__cell">Book assessment</td>
                    <td class="govuk-table__cell">Katerina Sullivan</td>
                    <td class="govuk-table__cell">KW 83 09 14 Y</td>
                    <td class="govuk-table__cell">8 Mar 2025<br>at 12:09</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        ALLOCATED
                      </strong></td>
                  </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="task-details-active">Action</a></td>
                      <td class="govuk-table__cell">7 Mar 2024</td>
                      <td class="govuk-table__cell">Book assessment</td>
                      <td class="govuk-table__cell">Sylvia Cuevas</td>
                      <td class="govuk-table__cell">PW 82 00 91 D</td>
                      <td class="govuk-table__cell">8 Mar 2024<br>at 17:35</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">
                          ACTIVE
                        </strong></td>
                    </tr>
                    
              
            </tbody>
          </table>
         
        </div>

        <!-- On hold tasks -->
        
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="on-hold-tasks">
          <h2 class="govuk-heading-l">On hold tasks
            <p class="govuk-body govuk-!-font-tabular-numbers">1 total</p>
          </h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Details</th>
                <th scope="col" class="govuk-table__header">Created</th>
                <th scope="col" class="govuk-table__header">Task</th>
                <th scope="col" class="govuk-table__header">Person</th>
                <th scope="col" class="govuk-table__header">National Insurance number</th>
                <th scope="col" class="govuk-table__header">Due</th>
                <th scope="col" class="govuk-table__header">Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="task-details-on-hold">Action</a></td>
                  <td class="govuk-table__cell">7 Mar 2024</td>
                  <td class="govuk-table__cell">HCP audit</td>
                  <td class="govuk-table__cell">Celeste Banks</td>
                  <td class="govuk-table__cell">LC 19 34 44 A</td>
                  <td class="govuk-table__cell">9 Mar 2025<br>at 00:13</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--blue">
                      on hold
                    </strong><br>until 8 Mar 2025</td>
                </tr>
            </tbody>
          </table>
          
        </div>

        <!-- Closed tasks -->

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="closed-tasks">
          <h2 class="govuk-heading-l">Closed tasks
            
            <p class="govuk-body govuk-!-font-tabular-numbers">1 total</p></h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Details</th>
                <th scope="col" class="govuk-table__header">Created</th>
                <th scope="col" class="govuk-table__header">Task</th>
                <th scope="col" class="govuk-table__header">Person</th>
                <th scope="col" class="govuk-table__header">National Insurance number</th>
                <th scope="col" class="govuk-table__header">Due</th>
                <th scope="col" class="govuk-table__header">Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="task-details-completed">View</a></td>
                  <td class="govuk-table__cell">7 Mar 2025</td>
                  <td class="govuk-table__cell">Create report</td>
                  <td class="govuk-table__cell">Lena Garcia</td>
                  <td class="govuk-table__cell">LE 38 72 64 K</td>
                  <td class="govuk-table__cell">9 Mar 2024<br>at 00:13</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--green">
                      COMPLETED
                    </strong></td>
                </tr>
            </tbody>
          </table>
          
        </div>
        



  {% endblock %}