{% extends "layouts/main.html" %}

{% block pageTitle %}
Put task on hold
{% endblock %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <!--<div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#">Select if you would like to put this task on hold</a>
              </li>
             
            </ul>
          </div>
        </div>
      </div>-->

        <h1 class="govuk-heading-l">
          Put this task on hold
          </h1>
    
          <p>Put this task on hold until it can be worked on again.</p>
    
          <div class="govuk-form-group govuk-form-group">
            <fieldset class="govuk-fieldset">
               <!--<p id="passport-issued-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Select if you would like to put this task on hold</p>-->

              <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
              <label class="govuk-label govuk-radios__label" for="contact-2">
                Put on hold and keep
              </label>
              <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                This task will remain in your work area.
                    </div>
                      </div>
            <div class="govuk-radios__conditional govuk-checkboxes__radios--hidden" id="conditional-contact-2">
              <div class="govuk-form-group">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h3 class="govuk-fieldset__heading">
                      Reason
                  </h3>
                  <div id="waste-hint" class="govuk-hint">
                    Select all that apply.
                  </div>
                </legend>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
                      <label class="govuk-label govuk-checkboxes__label" for="contact">
                        Waiting for information from customer
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
                      <label class="govuk-label govuk-checkboxes__label" for="contact">
                        Waiting for information from someone external 
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
                      <label class="govuk-label govuk-checkboxes__label" for="contact">
                        Waiting for information from a colleague 
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
                      <label class="govuk-label govuk-checkboxes__label" for="contact">
                        Need to contact the customer
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
                      <label class="govuk-label govuk-checkboxes__label" for="contact">
                        Waiting for another agent to complete an action 
                      </label>
                    </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
                        <label class="govuk-label govuk-checkboxes__label" for="contact">
                            Another reason
                            <div id="contact-hint" class="govuk-hint">
                                Talk to your team lead about what this reason is.
                              </div>
                        </label>
                      </div>
                    
                    </div>
                  
                    </div>
                  
                  
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
              <label class="govuk-label govuk-radios__label" for="contact-3">
                Put on hold and return to queue
              </label>
              <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                This task will return to the queue.
            </div>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
                <div class="govuk-form-group">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h3 class="govuk-fieldset__heading">
                      Reason
                  </h3>
                  <div id="waste-hint" class="govuk-hint">
                    Select all that apply.
                  </div>
                </legend>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
                          <label class="govuk-label govuk-checkboxes__label" for="contact">
                            Waiting for information from customer
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-checkboxes__label" for="contact">
                              Waiting for information from someone external 
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-checkboxes__label" for="contact">
                              Waiting for information from a colleague 
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-checkboxes__label" for="contact">
                              Need to contact the customer
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-checkboxes__label" for="contact">
                              Waiting for another agent to complete an action 
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-checkboxes__label" for="contact">
                                Another reason
                                <div id="contact-hint" class="govuk-hint">
                                    Talk to your team lead about what this reason is.
                                  </div>
                            </label>
                          </div>
                        </div>
                        </div>
          </div>
        </fieldset>
      </div>
    </div>
    </div>

  <div class="govuk-button-group">
    <a href="on-hold-date" "=""">
    <button class="govuk-button" data-module="govuk-button">Confirm</button>
    <a href="javascript:window.history.back()"</a>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Back
    </button>
{% endblock %}