{% extends "layouts/main.html" %}

{% block pageTitle %}
Task details
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

<div class=spacer1></div>

{{ govukBreadcrumbs({
  items: [
    {
      text: "Agent home",
      href: "Agent"
    },
    {
      text: "My tasks",
      href: "javascript:window.history.back()"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Create report
      </h1>


      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Person
          </dt>
          <dd class="govuk-summary-list__value">
            Lena Garcia
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            LE 38 72 64 K
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Task
          </dt>
          <dd class="govuk-summary-list__value">
            Create report
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Due
          </dt>
          <dd class="govuk-summary-list__value">
            9 Mar 2025 at 17:22
          </dd>
            <dd class="govuk-summary-list__actions">
               
              </dd>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Created
          </dt>
          <dd class="govuk-summary-list__value">
            7 Mar 2025 at 9:16
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--green">
              Completed
          </strong>
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Closed
          </dt>
          <dd class="govuk-summary-list__value">
            8 March 2025 at 11:02
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>

        
      </dl>
      <div class="govuk-button-group">
        <a href="javascript:window.history.back()" "=""">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Back</button>
      
    </div>
    </div>

{% endblock %}