{% extends "layouts/main.html" %}

{% block pageTitle %}
Team leader home
{% endblock %}

{% block beforeContent %}

<div class=spacer1></div>

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <h2 class="govuk-heading-l">DWP Task dashboard</h2>
  <div class="box">
    <h2 class="govuk-heading-m"><a href="#">My tasks</a></h2>
    <p>Claim and work on tasks.</p> 
  </div>
</div>

<div class="govuk-width-container">
  &nbsp;
    <div class="box">
      <h2 class="govuk-heading-m"><a href="find-a-customer">Search for tasks</a></h2>
      <p>Search for and claim tasks.</p>
    </div>
</div>


&nbsp;

{% endblock %}


