{% extends "layouts/main.html" %}

{% block pageTitle %}
Check this is the right person
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check this is the right person
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Amy Anderson
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Known as
          </dt>
          <dd class="govuk-summary-list__value">
            Andi
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            amy.anderson@dwp.gov.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Staff number
          </dt>
          <dd class="govuk-summary-list__value">
            0123456789
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Office
          </dt>
          <dd class="govuk-summary-list__value">
            Newcastle, Longbenton
          </dd>
        </div>
        
      </dl>
      <div class="govuk-button-group">
        <a href="andi-groups" "=""">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
        <a href="add-team-member"</a>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Back to search
        </button> 
    </div>
    </div>
   

{% endblock %}

