{% extends "layouts/main.html" %}

{% block pageTitle %}
  Select a service
{% endblock %}

{% block beforeContent %}
  <div class="spacer1"></div>
{% endblock %}

{% block content %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
<div class="govuk-width-container">

  <h1 class="govuk-heading-l">
    Select a service
  </h1>
   <p> Which service do you want to work on?</p>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "where-do-you-live",
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "maternity-allowance",
              text: "Maternity allowance"
            },
            {
              value: "pip",
              text: "Personal Independence Payment"
            }
          ]
        }) }}
    </div>
  </main>

  <div class="govuk-button-group">
    <a href="my-tasks" "=""">
    <button class="govuk-button" data-module="govuk-button">Confirm</button>

</div>

{% endblock %}