{% extends "layouts/main.html" %}

{% block pageTitle %}
  Feedback
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Success
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <h3 class="govuk-notification-banner__heading">
                You submitted your feedback for the DWP Task service.
          
              </h3>
              
            </div>
          </div>
  <h1 class="govuk-heading-l">
    Tell us about your experience with DWP Task
  </h1>
   <p> Give your feedback about the new DWP Task service by completing our short <a href="survey">survey</a>.</p>
   <p>If you need help, contact the DWP Task team by raising an issue with <a href="#">DWP Place</a>.</p>
  
 
&nbsp;
    <div class="govuk-button-group">
        <a href="javascript:window.history.back()"</a>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Back
        </button>
</div>
</div>
</div>

{% endblock %}