{% extends "layouts/main.html" %}

{% block pageTitle %}
Survey
{% endblock %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!--<div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
              <h2 class="govuk-error-summary__title">
                There is a problem
              </h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#">Select how you feel about using the DWP Task service</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>-->

      <h1 class="govuk-heading-l">
        Give Feedback
      </h1>
      <p>Your answers will be used only by the DWP Task team to improve the service.</p>
&nbsp;
      <div class="govuk-form-group">
        <div class="govuk-form-group">
        <fieldset class="govuk-fieldset"> 
            <h1 class="govuk-heading-s">
                How do you feel about using DWP Task today?
              </h1>
            <!--<p id="whereDoYouLive-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>Select how you feel about using the DWP Task service
              </p>-->
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                Very satisfied
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                Satisfied
              </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  Neither satisfied nor dissatisfied
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  Dissatisfied
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  Very dissatisfied
                </label>
              </div>
        </fieldset>
    </div>

        <div class="govuk-!-padding-bottom-8"></div>
       
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--s" for="more-detail">
                How can we improve this service?
              </label>
            </h1>
            <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
          </div>
          <div class="govuk-!-padding-bottom-5"></div>
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--s" for="event-name">
            Enter your email address if you would like to take part in future research such as interviews and focus groups.
          </label>
        </h1>
        <input class="govuk-input" id="event-name" name="eventName" type="text">

        <div class="govuk-!-padding-bottom-7"></div>

  <div class="govuk-button-group">
    <a href="#" "=""">
    <button class="govuk-button" data-module="govuk-button">Submit</button>
    <a href="javascript:window.history.back()"</a>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Back
    </button>
</div>
{% endblock %}