{% extends "layouts/main.html" %}

{% block pageTitle %}
Set suspension date
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}
{% block content %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
<div class="govuk-width-container-two-thirds">
    <!--<div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#">Suspension date must be a real date
                    </a>
              </li>
              <li>
                <a href="#">Suspension date must include the month and year</a>
              </li>
            </ul>
          </div>
        </div>
      </div>-->
  <h1 class="govuk-heading-l">
    Set a date to put this task on hold
  </h1>
  <p>This task will become available to work on again on this date.  </p>
 <!--<p>The current due date for this task is 7 March 2024 at 12:04.</p>-->
  &nbsp;
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <!--<h2 class="govuk-fieldset__heading">
            When would you like to suspend the task until?
        </h2>
        &nbsp-->
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h3 class="govuk-fieldset__heading">
            Date
        </h3>
      </legend>
      <div id="passport-issued-hint" class="govuk-hint">
        For example, 27 3 2007
      </div>
      <!--<p id="whereDoYouLive-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Suspension date must not be more than 1 year in the future
      </p>-->
     
      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
          </div>

          
        </div>
        
      </div>
    </fieldset>
    
  </div>


       
  </div>
{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
    <a href="#" "=""">
        <button class="govuk-button" data-module="govuk-button">Confirm</button></a>
        
    <a href="javascript:window.history.back()" "=""">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Back</button>
           
</div>



{% endblock %}