{% extends "layouts/main.html" %}


{% block pageTitle %}

{% endblock %}
{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/filters.css" rel="stylesheet" type="text/css" />
  <link href="/public/css/accessible-autocomplete.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
  <script type="text/javascript" src="/public/javascripts/teams.js"></script>
  <script>
    const teamMembers = [
      "Aiden Jenkins, 12345678",
      "Amy Anderson, 12345678",
      "Amy Adams, 12345678",
      "Amy Johnston, 12345678",
      "James Phillips, 12345678",
      "Ben Hoad, 12345678",
      "Joel Odonnell, 12345678",
      "Oliver Logan, 12345678",
      "Dan Hayes, 12345678",
      "Kathleen Lin, 12345678",
      "Darren Lowery, 12345678",
      "Kamran Roth, 12345678",
      "Amaan Hubbard, 12345678",
      "Sally Whitaker, 12345678",
      "Georgia Duncan, 12345678",
      "Jean Booker, 12345678",
      "Kaine Bell, 12345678",
      "Arjan Sharp, 12345678",
      "Bianca Nicholson, 12345678",
      "Brett Henderson, 12345678",
      "Hassan Young, 12345678",
      "Sonia Pruitt, 12345678",
      "Erica Fernandez, 12345678"
    ]

    accessibleAutocomplete({
      element: document.querySelector('#searchb'),
      id: 'searchb', // To match it to the existing <label>.
      CSSNamespace: 'test',
      source: teamMembers,
      templates: {
        inputValue: function (suggestion) {
          return suggestion
        },
        suggestion: function (suggestion) {
          const parts = suggestion.split(", ");
          return `${parts[0]}, ${parts[1]}`
       
        }
      }
    })
  </script>
    <style>
      #searchContainer {
        display: inline-block;
      }
  
      .stat {
        border: 1px solid #b1b4b6;
        background-color: #1d70b8;
        box-sizing: border-box;
        padding: .2rem .52rem;;
        margin-bottom: 2rem;
        color:#ffffff;
      }
  
      .stat_number {
        font-size: 3rem;
        font-weight: 600;
      }
  
      .stat_cat {
        font-size: medium;
        font-weight: 300;
      }
    </style>
{% endblock %}



{% block content %}

  
 

<body class="govuk-template__body">
   <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

   <!-- Skip link -->
   <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>


   <!-- Main content -->
   <div class="govuk-width-container">
       <main class="govuk-main-wrapper" id="main-content" role="main">

           <!-- Page heading -->
           <div class="govuk-grid-row govuk-!-static-padding-bottom-6">
               <div class="govuk-grid-column-full">
                   <h1 class="govuk-heading-xl">Stats for the last 24 hours</h1>
                   <p class="govuk-body">Enter a date range and agent to view agent statistics. </p>
                   
               </div>
           </div>
     

           <!-- Two column layout -->
           <div class="govuk-grid-row">
            
         
           
              <div class="govuk-grid-column-two-thirds">
                <div class="govuk-grid-column-full">
                  <form id="filter-form">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-label--m" for="searchb">Agent</label>
                      <div id="event-name-hint" class="govuk-hint">
                        Enter agent's name or staff ID 
                      </div>
                      <div id="searchb" class="govuk-input--width-20"></div>
                    </div>
                    <div class="govuk-button-group">
                    <a href="yesterday-stats" class="govuk-button" type="button" id="applyFilters">View stats</a>
                  </div>
              </form>
              </div>
             
              </div>
                <div class="govuk-grid-row">
                  <h2 class="">last 24 hours</h2>
                  <div class="govuk-grid-column-one-third">
                    <div class="stat">
                      <div class="stat_number">23</div>
                      <div class="stat_cat">Completed</div>
                    </div>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <div class="stat">
                      <div class="stat_number">23</div>
                      <div class="stat_cat">Completed</div>
                    </div>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <div class="stat">
                      <div class="stat_number">23</div>
                      <div class="stat_cat">Completed</div>
                    </div>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <div class="stat">
                      <div class="stat_number">23</div>
                      <div class="stat_cat">Completed</div>
                    </div>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <div class="stat">
                      <div class="stat_number">23</div>
                      <div class="stat_cat">Completed</div>
                    </div>
                  </div>
                  
                </div>
                <div class="govuk-grid-row">
                  <h2 class="">last 24 hours</h2>
                  <div class="govuk-grid-column-one-third">
                    <div class="stat">
                      <div class="stat_number">23</div>
                      <div class="stat_cat">Completed</div>
                    </div>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <div class="stat">
                      <div class="stat_number">23</div>
                      <div class="stat_cat">Completed</div>
                    </div>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <div class="stat">
                      <div class="stat_number">23</div>
                      <div class="stat_cat">Completed</div>
                    </div>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <div class="stat">
                      <div class="stat_number">23</div>
                      <div class="stat_cat">Completed</div>
                    </div>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <div class="stat">
                      <div class="stat_number">23</div>
                      <div class="stat_cat">Completed</div>
                    </div>
                  </div>
                  
                </div>
            </div>
            
            </div>
          </div>
       </main>
   </div>


</body>
{% endblock %}