{% extends "layouts/main.html" %}

{% block pageTitle %}
Team leader home
{% endblock %}

{% block beforeContent %}

<div class=spacer1></div>

{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <h1 class="govuk-heading-l">Manage [org unit name]</h1>
  <div class="box9">
    <h2 class="govuk-heading-m"><a href="task-list">View and manage tasks</a></h2>
    <p>View and manage tasks for Benefits One QA over a given date range.</p> 
  </div>
  <br>
  <div class="box9">
    <h2 class="govuk-heading-m"><a href="groups-home">Add and manage groups</a></h2>
    <p>Add and manage groups for agents who do the same tasks. Agents in the same group will be able to claim the same task types.</p>
  </div>
  <br>
  <div class="box9">
    <h2 class="govuk-heading-m"><a href="view-statistics">View and mange task types</a></h2>
    <p>Filter statistics by date range to view average completion time, created, completed, and overdue tasks.</p>
  </div>
  <br>
  <div class="box9">
    <h2 class="govuk-heading-m"><a href="../teams/teams-home">view and manage teams</a></h2>
    <p>Add or remove agents and team leaders in [org unit name].</p>
  </div>
</div>





{% endblock %}


