{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<div class=govuk-grid-column-two-thirds>
  <form class="form" action="create-task-template2" method="post">

  <h1 class="govuk-heading-l">
    Create a task template
  </h1>
  <p>This helps identify the task and how quickly it needs to be done.</p>
  &nbsp;

{% from "govuk/components/input/macro.njk" import govukInput %}

{% from "govuk/components/input/macro.njk" import govukInput %}

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  id: "template name",
  name: "template-name",
  label: {
    text: "Template name",
    classes: "govuk-label--s",
    isPageHeading: false
  },
value: data['template-name']

}) }}

{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  name: "task-description",
  id: "task description",
  label: {
    text: "Task description",
    classes: "govuk-label--s",
    isPageHeading: true
  },
  value: data['task-description']
}) }}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "priority", 
  value: data['priority'],
  fieldset: {
    legend: {
      text: "Priority level",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "High",
      text: "High"
    },
    {
      value: "Medium",
      text: "Medium"
    },
    {
      value: "Low",
      text: "Low"
    }

  ]
}) }}


{{ govukInput({
  id: "must-complete-days",
  label: {
    text: "Must complete in",
    classes: "govuk-label--s"
  },
  suffix: {
    text: "days"
  },
  value: data['must-complete-days'],
  classes: "govuk-input--width-4",
  name: "must-complete-days"
}) }}




{% from "govuk/components/button/macro.njk" import govukButton %}
<form class="form" action="create-task-template2" method="post">.
{{ govukButton({
  text: "Continue"
}) }}

</form>
</div>
</div>
{% endblock %}