{% extends "layouts/main.html" %}

{% block pageTitle %}
stats v.0
{% endblock %}

{% block pageScripts %}
 <script>
  var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
 </script>
{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/accessible-autocomplete.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">
    Back
  </a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">
    <h1 class="govuk-heading-l">Stats</h1>
    </div>
    </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-width">
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Filter and sort
              </span>
              <span class="filter-count">300 Tasks</span>
            </summary>
            
            <div class="govuk-details__text"> 
              <button class="accordion">Sort by</button>
            <div class="panel">
              <form id="filter-form">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s ">Sort by date created</legend>
                    <div class="govuk-radios--small">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="sort-asc" name="sort" type="radio" value="asc">
                        <label class="govuk-label govuk-radios__label govuk-body-s" for="sort-asc">Oldest first</label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="sort-desc" name="sort" type="radio" value="desc">
                        <label class="govuk-label govuk-radios__label" for="sort-desc">Newest first</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>
            </div>
            <button class="accordion">Date range</button>
            <div class="panel">
              <div class="govuk-form-group">
                <label class="govuk-label title-label" for="startDate">Start date</label>
                <div class="govuk-date-input" id="startDate">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric">
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="govuk-form-group">
                <label class="govuk-label title-label" for="endDate">End date</label>
                <div class="govuk-date-input" id="endDate">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="accordion">Task Type</button>
            <div class="panel">
              <div class="govuk-form-group">
                <label class="govuk-label title-label" for="taskType">Task type</label>
                <select class="govuk-select" id="taskType" name="taskType">
                  <option value="">-- Select --</option>
                  <option>Onboarding</option><option>Payroll Setup</option><option>Exit Interview</option><option>IT Access</option><option>Compliance Training</option>
                </select>
              </div>
            </div>
            <button class="accordion">Team</button>
            <div class="panel">
              <div class="govuk-form-group">
                <label class="govuk-label title-label" for="teamMember">Team</label>
                <select class="govuk-select" id="teamMember" name="teamMember">
                  <option value="">-- Select --</option>
                  <option>John Doe</option><option>Jane Smith</option><option>Alex Lee</option><option>Emily Green</option><option>Michael Brown</option><option>Sara White</option><option>Chris Black</option><option>Olivia Clark</option><option>James Adams</option><option>Sophia Turner</option>
                </select>
              </div>
            </div>
            <button class="accordion">Team member</button>
            <div class="panel">
              <div class="govuk-form-group">
                <label class="govuk-label title-label" for="teamMember">Team member</label>
                <select class="govuk-select" id="teamMember" name="teamMember">
                  <option value="">-- Select --</option>
                  <option>John Doe</option><option>Jane Smith</option><option>Alex Lee</option><option>Emily Green</option><option>Michael Brown</option><option>Sara White</option><option>Chris Black</option><option>Olivia Clark</option><option>James Adams</option><option>Sophia Turner</option>
                </select>
              </div>
            </div>
            <button class="accordion">Priority</button>
            <div class="panel">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Priority</legend>
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Low" id="priority-Low"><label class="govuk-label govuk-checkboxes__label" for="priority-Low">Low</label></div><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Medium" id="priority-Medium"><label class="govuk-label govuk-checkboxes__label" for="priority-Medium">Medium</label></div><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" type="checkbox" name="priority" value="High" id="priority-High"><label class="govuk-label govuk-checkboxes__label" for="priority-High">High</label></div><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Urgent" id="priority-Urgent"><label class="govuk-label govuk-checkboxes__label" for="priority-Urgent">Urgent</label></div>
                  </div>
                </fieldset>
              </div>
            </div>
            <button class="accordion">Status</button>
            <div class="panel">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Status</legend>
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Low" id="priority-Low">
                      <label class="govuk-label govuk-checkboxes__label" for="priority-Low">Closed</label>
                    </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Medium" id="priority-Medium">
                        <label class="govuk-label govuk-checkboxes__label" for="priority-Medium">Paused</label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="High" id="priority-High">
                        <label class="govuk-label govuk-checkboxes__label" for="priority-High">Allocated</label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Urgent" id="priority-Urgent">
                        <label class="govuk-label govuk-checkboxes__label" for="priority-Urgent">Unallocated</label>
                      </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <button class="govuk-button fw" type="button" id="applyFilters">Apply filters</button>
          </details>
          
        </div>
        </div>
        <div class="govuk-grid-column-full-width">
          <table class="govuk-table govuk-table--small-text-until-tablet">
            <caption class="govuk-table__caption govuk-table__caption--m">Team stats 1 May 2025 to 31 May 2025</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Team Member</th>
                <th scope="col" class="govuk-table__header">Open</th>
                <th scope="col" class="govuk-table__header">Allocated</th>
                <th scope="col" class="govuk-table__header">Closed</th>
                <th scope="col" class="govuk-table__header">Overdue</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">John Doe</th>
                <td class="govuk-table__cell">5</td>
                <td class="govuk-table__cell">5</td>
                <td class="govuk-table__cell">12</td>
                <td class="govuk-table__cell">0</td>
              </tr>
              <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Jane Doe</th>
              <td class="govuk-table__cell">5</td>
              <td class="govuk-table__cell">5</td>
              <td class="govuk-table__cell">12</td>
              <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">John Doe</th>
              <td class="govuk-table__cell">5</td>
              <td class="govuk-table__cell">5</td>
              <td class="govuk-table__cell">12</td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Jane Doe</th>
            <td class="govuk-table__cell">5</td>
            <td class="govuk-table__cell">5</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">0</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Totals</th>
            <td class="govuk-table__cell">20</td>
            <td class="govuk-table__cell">20</td>
            <td class="govuk-table__cell">48</td>
            <td class="govuk-table__cell">1</td>
          </tr>
            </tbody>
          </table>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
              <nav class="govuk-pagination" aria-label="Pagination">
                <div class="govuk-pagination__prev">
                  <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                    <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                      <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    <span class="govuk-pagination__link-title">
                      Previous<span class="govuk-visually-hidden"> page</span>
                    </span>
                  </a>
                </div>
                <ul class="govuk-pagination__list">
                  <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                      1
                    </a>
                  </li>
                  <li class="govuk-pagination__item govuk-pagination__item--current">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                      2
                    </a>
                  </li>
                  <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                      3
                    </a>
                  </li>
                </ul>
                <div class="govuk-pagination__next">
                  <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                    <span class="govuk-pagination__link-title">
                      Next<span class="govuk-visually-hidden"> page</span>
                    </span>
                    <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                      <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg>
                  </a>
                </div>
              </nav>
            </div>
            <div class="govuk-grid-column-one-quarter">
              <div class="govuk-form-group table-rows">
                <label class="govuk-label" for="sort">
                  Show
                </label>
                <select class="govuk-select govuk-input--width-3" id="sort" name="sort">
                  <option value="published"20>20</option>
                  <option value="updated" selected>50</option>
                  <option value="views">100</option>
                  <option value="comments">All</option>
                </select>
              </div>
            </div>
            </div>

        
        
          </div>
          </div>

   
{% endblock %}