{% extends "layouts/main.html" %}

{% set pageName = "Call customer" %}

{% block header %}
  {% include "_includes/header.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
      items: [
        {
          text: "View and manage tasks",
          href: "view-and-manage-tasks"
        },
        {
          text: "Task",
          href: "task"
        }
      ]
    }) }}
{% endblock %}

{% block content %}


{% if data['ChangeDueDate'] == "yes" %}
  {{ govukNotificationBanner({
    type: "success",
    html: "<h3 class='govuk-notification-banner__heading'>You have changed the due date.</h3>" | safe
  }) }}
{% elif data['ChangePriorityLevel'] == "yes" %}
  {{ govukNotificationBanner({
    type: "success",
    html: "<h3 class='govuk-notification-banner__heading'>You have changed the priority level.</h3>" | safe
  }) }}
{% elif data['ReturnTaskToQueue'] == "yes" %}
  {{ govukNotificationBanner({
    type: "success",
    html: "<h3 class='govuk-notification-banner__heading'>You have returned task to the queue.</h3>" | safe
   }) }}
{% endif %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">{{pageName}}</h1>

     
      <p class="govuk-body">You can change the due date, the priority, and return the task to the queue.</p>

      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Customer
          </dt>
          <dd class="govuk-summary-list__value">
            Sarah Philips
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance Number
          </dt>
          <dd class="govuk-summary-list__value">
            QQ 12 34 56 B8
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Task type
          </dt>
          <dd class="govuk-summary-list__value">
            1 for orgunit_b
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Task Number
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">67c7156789976544fg5567a</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date completed
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">23 October 2024</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Due
          </dt>
          <dd class="govuk-summary-list__value">
             {{govukTag({
              text: "Overdue",
              classes: "govuk-tag--red govuk-!-margin-top-1"
            })}}
            <p class="govuk-body">20 Nov 2025 12:34</p>
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="change-due-date-and-time">Change<span class="govuk-visually-hidden">Due</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Created
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">19 Nov 2025 at 09:11</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Priority
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Low</p>
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="change-priority">Change<span class="govuk-visually-hidden">Priority</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            {{govukTag({text: "On hold",classes: "govuk-tag--yellow"})}}<br>
            20 Nov 2025 9:25
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Agent
          </dt>
          <dd class="govuk-summary-list__value">239856</dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="return-to-the-queue">Return to queue<span class="govuk-visually-hidden">Agent</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Blocked
          </dt>
          <dd class="govuk-summary-list__value">
            None
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Matching criteria
          </dt>
          <dd class="govuk-summary-list__value">
            None
          </dd>
        </div>
      </dl>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "View history",
          href: "view-history"
        }) }}
      
        {{ govukButton({
          text: "Back",
          classes: "govuk-button--secondary",
          href: "view-and-manage-tasks"
        }) }}
      </div>
      
    </div>
</div>


{% endblock %}


