{% extends "layouts/main.html" %}

{% set containerClasses = "app-width-container--even-wide" %}

{% set pageName = "View and manage tasks" %}

{% block beforeContent %} 
  {{ govukBackLink({
    text: "Back",
    href: "home"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageName }}</h1>
  </div>
</div>
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "teams/view-and-manage-tasks/_includes/filter-panel-v3.njk" %}
  </div>
  <div class="govuk-grid-column-three-quarters">
    
      {% include "teams/view-and-manage-tasks/_includes/search-results-v3.njk" %}

      {% include "teams/view-and-manage-tasks/_includes/pagination.njk" %}

  </div>
</div>
   
{% endblock %}


{% block scripts %}
  {{super()}}
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('.taskTypeAutocomplete')
    })
  </script>
{% endblock %}
