{% extends "layouts/main.html" %}

{% block pageTitle %}
Create a task
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<div class=spacer1></div>

{{ govukBreadcrumbs({
  items: [
    {
      text: "Agent home",
      href: "agent"
    },
    {
        text: "Find a person",
        href: "find-person"
      },
      {
        text: "All State Pension tasks for Aisha Hendry",
        href: "task-results"
      }
  ]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class=govuk-grid-column-two-thirds>
    <h1 class="govuk-heading-l">
      Create a task
    </h1>
     
<div class="govuk-form-group">
    <form method="post" action="review-new-task">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
            Choose a task type
        </h1>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="Explain an overpayment">
          <label class="govuk-label govuk-radios__label" for="new-task-types">
            Explain an overpayment
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="Investigate a missing payment">
          <label class="govuk-label govuk-radios__label" for="new-task-types">
            Investigate a missing payment
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="Check progress">
          <label class="govuk-label govuk-radios__label" for="new-task-types">
            Check progress
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="Check eligibility">
          <label class="govuk-label govuk-radios__label" for="new-task-types">
            Check eligibility
          </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="Send a specialist letter">
            <label class="govuk-label govuk-radios__label" for="new-task-types">
            Send a specialist letter
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="Answer an award question">
            <label class="govuk-label govuk-radios__label" for="new-task-types">
                Answer an award question
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="Escalate a sensitive case">
            <label class="govuk-label govuk-radios__label" for="new-task-types">
                Escalate a sensitive case
            </label>
          </div>
      </div>
    </fieldset>
  </div>

    <div style="margin-top:20px;" class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          
      <a class=" govuk-button govuk-button--secondary" href="javascript:window.history.back()" "=""">
          Back</a>  
  </div> 
</form>
</div>

  </div>
</div>
</div>

{% endblock %}