{% extends "layouts/main.html" %}

{% block pageTitle %}
Put task on hold
{% endblock %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <!--<div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#">Select if you would like to put this task on hold</a>
              </li>
             
            </ul>
          </div>
        </div>
      </div>-->

        <h1 class="govuk-heading-l">
          Add context to {{ data['new-task-types'] or "None" }}
          </h1>
    
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Task context (optional)
                </h1>
              </legend>
              <div id="waste-hint" class="govuk-hint">
                Select all that apply
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Waste from animal carcasses
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                    Waste from mines or quarries
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    Farm or agricultural waste
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
    
         

  <div class="govuk-button-group">
    <a href="on-hold-date" "=""">
    <button class="govuk-button" data-module="govuk-button">Confirm</button>
    <a href="javascript:window.history.back()"</a>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Back
    </button>
{% endblock %}