{% extends "layouts/main.html" %}

{% block pageTitle %}
Task details
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

<div class=spacer1></div>

{{ govukBreadcrumbs({
  items: [
    {
      text: "Agent home",
      href: "Agent"
    },
    {
      text: "My tasks",
      href: "javascript:window.history.back()"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Missing payment for Deborah Levy
      </h1>

       
      <p>View details of this task.</p>

      <p>This will remain in your queue until the end of your working day.</p>
      
    

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Customer
          </dt>
          <dd class="govuk-summary-list__value">
            Deborah Levy
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            QQ 12 34 56 C
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Task
          </dt>
          <dd class="govuk-summary-list__value">
            Missing payment
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="history-kaitlyn">
              View history<span class="govuk-visually-hidden"></span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Due
          </dt>
          <dd class="govuk-summary-list__value">
            13 October 2024 at 14:39
          </dd>
            <dd class="govuk-summary-list__actions">
               
              </dd>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Created
          </dt>
          <dd class="govuk-summary-list__value">
            9 October 2024 at 14:39
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--green">
              Completed
          </strong>
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Closed
          </dt>
          <dd class="govuk-summary-list__value">
            12 October 2024 at 14:39
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>

        
      </dl>
      <div class="govuk-button-group">
        <a href="javascript:window.history.back()" "=""">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Back</button>
      
    </div>
    </div>

{% endblock %}