{% extends "layouts/main.html" %}

{% set pageName = "Select a version" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>

        {{ govukRadios({
          id: "[teams][selectVersion]",
          name: "[teams][selectVersion]",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.select-version,
          items: [
            {
              value: "Version 1",
              text: "Version 1"
            },
            {
              value: "Version 2",
              text: "Version 2"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Start now"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}



