{% extends "layouts/main.html" %}

{% block pageTitle %}
Team leader home
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row" data-testid="grid-row">
  <div class="govuk-grid-column-one-third">
    <section class="dwp-quick-reference dwp-quick-reference--reduced dwp-quick-reference--alternative" aria-label="Quick reference">
      <dl class="dwp-quick-reference__block">
        
          <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
          <dd class="dwp-quick-reference__primary">James Burton<br><span class="dwp-quick-reference__secondary">Staff number: 0987654</span></dd>
            <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">email:</dt>
            <dd class="dwp-quick-reference__secondary">james.burton@dwp.gov.uk</dd>
            <dt class="dwp-quick-reference__label">Can work on these tasks:</dt>
            <dd class="dwp-quick-reference__status">
            <strong class="govuk-tag dwp-quick-reference__status--white">
              jmeter-test-task-18255
            </strong>
          </dd>
          <dd class="dwp-quick-reference__status">
           <strong class="govuk-tag dwp-quick-reference__status--white">
              jmeter-test-task-18256
            </strong>
          </dd>
          <dd class="dwp-quick-reference__status">
            <strong class="govuk-tag dwp-quick-reference__status--white">
              jmeter-test-task-18257
            </strong>
          </dd>
      </dl>
    </section>
  </div>
  <div data-testid="column-two-thirds" class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">User profile</h1>
    
    <p class="govuk-body-m">
      You can change the groups that James Burton belongs to.
 
The attributes of the groups, plus individual attributes, determine which tasks James Burton can claim.
    </p>
    <h2 class="govuk-heading-m">Groups<br><span class="govuk-hint">These are the groups that James Burton currently belongs to. </span></h2>
    
    <dl class="govuk-summary-list govuk-!-static-margin-bottom-1">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-full" aria-label="15-10-2025-agent-group">
          15-10-2025-agent-group
          <details class="govuk-details govuk-!-static-margin-bottom-0">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Attributes of this group
              </span>
            </summary>
            <div class="govuk-details__text">
              <dl class="govuk-summary-list govuk-!-static-margin-bottom-0">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="working-pattern">working-pattern</dt>
                  <dd class="govuk-summary-list__value">
                    <div>weekends</div>
                    <div>evenings</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="grade">grade</dt>
                  <dd class="govuk-summary-list__value">
                    <div>aa</div>
                    <div>g6</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="language">language</dt>
                  <dd class="govuk-summary-list__value">
                    <div>spanish</div>
                    <div>welsh</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="vulnerable">vulnerable</dt>
                  <dd class="govuk-summary-list__value">
                    <div>None</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="urgent">urgent</dt>
                  <dd class="govuk-summary-list__value">
                    <div>None</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="escalate">escalate</dt>
                  <dd class="govuk-summary-list__value">
                    <div>None</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="country-subdivision">country-subdivision</dt>
                  <dd class="govuk-summary-list__value">
                    <div>None</div>
                  </dd>
                </div>
              </dl>
            </div>
          </details>
        </dt>
        <dd class="govuk-summary-list__value"></dd>
        
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" aria-label="new-agent-group">
          new-agent-group
          <details class="govuk-details govuk-!-static-margin-bottom-0">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Attributes of this group
              </span>
            </summary>
            <div class="govuk-details__text">
              <dl class="govuk-summary-list govuk-!-static-margin-bottom-0">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="working-pattern">working-pattern</dt>
                  <dd class="govuk-summary-list__value">
                    <div>weekends</div>
                    <div>evenings</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="grade">grade</dt>
                  <dd class="govuk-summary-list__value">
                    <div>aa</div>
                    <div>g6</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="language">language</dt>
                  <dd class="govuk-summary-list__value">
                    <div>spanish</div>
                    <div>welsh</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="vulnerable">vulnerable</dt>
                  <dd class="govuk-summary-list__value">
                    <div>None</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="urgent">urgent</dt>
                  <dd class="govuk-summary-list__value">
                    <div>None</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="escalate">escalate</dt>
                  <dd class="govuk-summary-list__value">
                    <div>None</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="country-subdivision">country-subdivision</dt>
                  <dd class="govuk-summary-list__value">
                    <div>None</div>
                  </dd>
                </div>
              </dl>
            </div>
          </details>
        </dt>
        <dd class="govuk-summary-list__value"></dd>
       
      </div>
    </dl>
    <div class="govuk-!-static-margin-bottom-9 govuk-!-static-margin-top-2">
      <a href="change-groups" class="govuk-link ">Change the groups James Burton belongs to</a>
    </div>
    
    <!-- <h2 class="govuk-heading-m">Groups</h2>
    <dl class="govuk-summary-list govuk-!-static-margin-bottom-3">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">This agent isn't part of any groups yet</dd>
      </div>
    </dl>
    <div class="govuk-!-static-margin-bottom-9">
      <a href="add-groups" class="govuk-link ">Add agent to groups</a>
    </div> 
    <h2 class="govuk-heading-m">Team<br><span class="govuk-hint">An agent can only be in one team</span></h2> -->
    <table class="govuk-table govuk-!-static-margin-bottom-2">
      <caption class="govuk-table__caption govuk-table__caption--m">
        Team and role 
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Team</th>
          <th scope="col" class="govuk-table__header">Role</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Admin team</th>
          <td class="govuk-table__cell">Agent</td>
        </tr>
      </tbody>
    </table>
   
    <div class="govuk-!-static-margin-bottom-9">
      <a href="change-team-tm" class="govuk-link ">Change team and role</a>
    </div>
    <!-- <div>
    <h2 class="govuk-heading-m">Individual attributes of James Burton</h2>
    <dl class="govuk-summary-list govuk-!-static-margin-bottom-3">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" aria-label="working-pattern">working-pattern</dt>
        <dd class="govuk-summary-list__value">
          <div>weekends</div>
          <div>evenings</div>
        </dd>
        
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" aria-label="grade">grade</dt>
        <dd class="govuk-summary-list__value">
          <div>aa</div>
          <div>g6</div>
        </dd>
        
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" aria-label="language">language</dt>
        <dd class="govuk-summary-list__value">
          <div>spanish</div>
          <div>welsh</div>
        </dd>
      </div>
    </dl>
    <div class="govuk-!-static-margin-bottom-6">
      <a href="change-attributes" class="govuk-link ">Change individual matching criteria</a>
    </div>
  </div> -->
    
      <div class="govuk-button-group" data-testid="button-group-id">
        <a class="govuk-button govuk-button--warning" href="remove-agent" >Remove from team</a>
        <a class="govuk-button govuk-button--secondary" href="manage-a-team" >Back</a>
      </div>
    
  </div>
  
</div>

{% endblock %}


