{% extends "layouts/main.html" %}

{% block pageTitle %}
  My tasks
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<div class=spacer1></div>

{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">My Maternity Allowance tasks</h1>

<div class="govuk-button-group">
    <a href="#">
    <button class="govuk-button" data-module="govuk-button">
      Claim new task
    </button></a>

    <a href="select-service"> 
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Change service
    </button></a>

  </div>

  <div>
    <div class="govuk-form-group" style="float:left;">
      <label class="govuk-label" for="width-20">
        Filter your tasks
      </label>
      <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-10" type="text" spellcheck="false">
        
        <a href="tasks-dashboard-filtered">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Filter
        </button>
        </a>
  
    </div>
    </div>

  <div style="float: right;">
    <label class="govuk-label" for="sort">
      Sort by
    </label>

    <form method="post">
      <select class="govuk-select" id="sort" name="sort" onchange="this.form.submit()">
        <option value="priority-low" {{ "selected" if data.sort == "priority-low" }}>Order claimed, newest to oldest</option>
        <option value="priority-low" {{ "selected" if data.sort == "priority-low" }}>Date created, newest to oldest</option>
        <option value="priority-high" {{ "selected" if data.sort == "priority-high" }}>Date created, oldest to newest</option>
        <option value="date-earliest" {{ "selected" if data.sort == "date-earliest" }}>Due, soonest to latest</option>
        <option value="date-latest" {{ "selected" if data.sort == "date-latest" }}>Due, latest to soonest</option>
        <option value="priority-high" {{ "selected" if data.sort == "priority-high" }}>Order claimed, oldest to newest</option>

      </select>
    </form>
</div>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date created</th>
            <th scope="col" class="govuk-table__header">Task</th>
            <th scope="col" class="govuk-table__header">Customer</th>
            <th scope="col" class="govuk-table__header">National Insurance number</th>
            <th scope="col" class="govuk-table__header">Due</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Details</th>
          </tr>
        </thead>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">6 Mar 2024</td>
          <td class="govuk-table__cell">Request medical evidence</td>
          <td class="govuk-table__cell">Kaitlyn Burke</td>
          <td class="govuk-table__cell">KW123456789</td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
              1 DAY OVERDUE
            </strong>
            7 Mar 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
              ALLOCATED
            </strong></td>
          <td class="govuk-table__cell"><a href="task-details-kaitlyn">View</a></td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">7 Mar 2024</td>
            <td class="govuk-table__cell">Book assessment</td>
            <td class="govuk-table__cell">Deborah Levy</td>
            <td class="govuk-table__cell">DE123456789</td>
            <td class="govuk-table__cell">8 Mar 2024</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">
                ALLOCATED
              </strong></td>
            <td class="govuk-table__cell"><a href="task-details-amy-2">View</a></td>
          </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">6 Mar 2024</td>
            <td class="govuk-table__cell">Create report</td>
            <td class="govuk-table__cell">Amy Kim</td>
            <td class="govuk-table__cell">FG123456789</td>
            <td class="govuk-table__cell">8 Mar 2024</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  ACTIVE
                </strong></td>
            <td class="govuk-table__cell"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">6 Mar 2024</td>
            <td class="govuk-table__cell">Book assessment</td>
            <td class="govuk-table__cell">Amy Kim</td>
            <td class="govuk-table__cell">FG123456789</td>
            <td class="govuk-table__cell">8 Mar 2024</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">
                ALLOCATED
              </strong></td>
            <td class="govuk-table__cell"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">7 Mar 2024</td>
            <td class="govuk-table__cell">HCP Audit</td>
            <td class="govuk-table__cell">James Longbottom-Smith</td>
            <td class="govuk-table__cell">AB123456789</td>
            <td class="govuk-table__cell">8 Mar 2024</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
              DEFERRED
            </strong></td>
            <td class="govuk-table__cell"><a href="task-details-james-deferred">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">7 Mar 2024</td>
            <td class="govuk-table__cell">Paper-based review</td>
            <td class="govuk-table__cell">Priscilla Baker</td>
            <td class="govuk-table__cell">GE123456789</td>
            <td class="govuk-table__cell">8 Mar 2024</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                COMPLETED
              </strong></td>
            <td class="govuk-table__cell"><a href="task-details-priscilla-completed">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">8 Mar 2024</td>
            <td class="govuk-table__cell">Request medical evidence</td>
            <td class="govuk-table__cell">Li Park</td>
            <td class="govuk-table__cell">DE123456789</td>
            <td class="govuk-table__cell">8 Mar 2024</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                CANCELLED
              </strong></td>
            <td class="govuk-table__cell"><a href="task-details-li-cancelled">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">8 Mar 2024</td>
            <td class="govuk-table__cell">Book assessment</td>
            <td class="govuk-table__cell">Karen Smith</td>
            <td class="govuk-table__cell">KJ123456789</td>
            <td class="govuk-table__cell">8 Mar 2024</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                FAILED
              </strong>
            <td class="govuk-table__cell"><a href="#">View</a></td>
          </tr>
      </table>

  {% endblock %}