{% extends "layouts/main.html" %}

{% block pageTitle %}
Task details
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

<div class=spacer1></div>

{{ govukBreadcrumbs({
  items: [
    {
      text: "My Maternity Allowance tasks",
      href: "tasks-dashboard"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Request medical evidence for Kaitlyn Burke
      </h1>
       
      <p>View details of this task.</p>

      
      
    

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Customer
          </dt>
          <dd class="govuk-summary-list__value">
            Kaitlyn Burke
          </dd>
          <dd class="govuk-summary-list__value">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National insurance number
            </dt>
            <dd class="govuk-summary-list__value">
                KW123456789
            </dd>
            <dd class="govuk-summary-list__value">
             
            </dd>
          </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Task
            </dt>
            <dd class="govuk-summary-list__value">
                Request medical evidence
            </dd>
            <dd class="govuk-summary-list__actions">
             
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Due
            </dt>
            <dd class="govuk-summary-list__value">
              7 March 2024 at 12:04
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--red">
                OVERDUE
            </strong>
            </dd>
          </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Created
          </dt>
          <dd class="govuk-summary-list__value">
            6 March 2024 at 06:34
          </dd>
          <dd class="govuk-summary-list__value">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--green">
              Completed
          </strong>
          </dd>
          <dd class="govuk-summary-list__actions">
         
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Finished
          </dt>
          <dd class="govuk-summary-list__value">
            8 March 2024 at 14:30
          </dd>
          <dd class="govuk-summary-list__value">
           
          </dd>
        </div>
      </dl>
      <div class="govuk-button-group">
        <a href="javascript:window.history.back()" "=""">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Back</button>
           </a>
    </div>
    </div>

{% endblock %}