{% extends "layouts/main.html" %}

{% set pageName = "Agent Statistics" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

  {% block pageScripts %}
  <script>
    if (window.location.hash === '#results') {
      document.getElementById('results')?.scrollIntoView({ behavior: 'smooth' });
    }
  </script>
  <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
  <script type="text/javascript" src="/public/javascripts/teams.js"></script>
  <script>
    const teamMembers = [
      "Aiden Jenkins, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Amy Anderson, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Amy Adams, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Amy Johnston, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Ben Hoad, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Joel Odonnell, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Oliver Logan, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Dan Hayes, 12345678, G4S DWP Contact Center",
      "Kathleen Lin, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Darren Lowery, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Kamran Roth, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Amaan Hubbard, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Sally Whitaker, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Georgia Duncan, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Jean Booker, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Kaine Bell, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Arjan Sharp, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Bianca Nicholson, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Brett Henderson, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Hassan Young, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Sonia Pruitt, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Erica Fernandez, 12345678, email@dwp.gov.uk, G4S DWP Contact Center"
    ]

    accessibleAutocomplete({
      element: document.querySelector('#searchb'),
      id: 'searchb', // To match it to the existing <label>.
      CSSNamespace: 'test',
      source: teamMembers,
      templates: {
        inputValue: function (suggestion) {
          return suggestion
        },
        suggestion: function (suggestion) {
          const parts = suggestion.split(", ");
          return `${parts[0]}, ${parts[1]}, ${parts[2]}, ${parts[3]}`
       
        }
      }
    })
  </script>
{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/accessible-autocomplete.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">{{pageName}}</h1>
      <p>Search for an agent's allocated, active and completed tasks.</p>

      <h2 class="govuk-heading-m">Date range</h2>
      <p>Enter a date range you want statistics for.</p>

      <form method="post" action="#results" novalidate>
            
      {{ govukDateInput({
        id: "mvp[stats][startDate]",
        fieldset: {
          legend: {
            text: "From",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "For example, 12 06 2025"
        },
        items: [
          {
            name: "date",
            label: "Day",
            value: data.day,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Month",
            value: data.month,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Year",
            value: data.year,
            classes: "govuk-input--width-4"
          }
        ]
      }) }}

      {{ govukDateInput({
        id: "mvp[stats][endDate]",
        fieldset: {
          legend: {
            text: "To",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "For example, 12 06 2025"
        },
        items: [
          {
            name: "date",
            label: "Day",
            value: data.day,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Month",
            value: data.month,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Year",
            value: data.year,
            classes: "govuk-input--width-4"
          }
        ]
      }) }}

      <label class="govuk-label govuk-label--m" for="searchb">Agent</label>
        <div id="event-name-hint" class="govuk-hint">
         Enter name, stuff number or email
        </div>
      <div id="searchb" class="govuk-input--width-30 govuk-!-margin-bottom-6"></div>

      {{ govukRadios({
        name: "mi[tl][taskTypes]",
        fieldset: {
          legend: {
            text: "Task types",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "Select the task you want to view, or 'All' for total tasks"
        },
        value: data.mi.tl.taskTypes,
        items: [
          {
            value: "All",
            text: "All"
          },
          {
            value: "Type A",
            text: "Type A"
          },
          {
            value: "Data entry",
            text: "Type B"
          },
          {
            value: "General admin",
            text: "Type C"
          }
        ]
      }) }}

      {{ govukCheckboxes({
        name: "sm[agentStats][status]",
        fieldset: {
          legend: {
            text: "Status",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Select at least one option"
        },
        values: data.sm.agentStats.status,
        items: [
          {
            value: "Allocated",
            text: "Allocated"
          },
          {
            value: "Active",
            text: "Active"
          },
          {
            value: "Completed",
            text: "Completed"
          }
        ]
      }) }}
      
      {{ govukButton({
        text: "Search"
      }) }}
        
      </form>

    <div id="results"></div>


   {# Tables #}
   {% if showResults and selectedStatuses %}

    {% set rows = [] %}

    {% if selectedStatuses.includes('Allocated') %}
      {% set rows = (rows.push([
        { text: "Type A" },
        { text: "2", format: "numeric" },
        { text: "1", format: "numeric" },
        { text: "4", format: "numeric" },
        { text: "1", format: "numeric" }
      ]), rows) %}
    {% endif %}

    {% if selectedStatuses.includes('Active') %}
      {% set rows = (rows.push([
        { text: "Type B" },
        { text: "2", format: "numeric" },
        { text: "1", format: "numeric" },
        { text: "4", format: "numeric" },
        { text: "1", format: "numeric" }
      ]), rows) %}
    {% endif %}

    {% if selectedStatuses.includes('Completed') %}
      {% set rows = (rows.push([
        { text: "Type C" },
        { text: "2", format: "numeric" },
        { text: "1", format: "numeric" },
        { text: "4", format: "numeric" },
        { text: "1", format: "numeric" }
      ]), rows) %}
    {% endif %}

    {{ govukTable({
      caption: "Results for 1 January 2025 to 1 May 2026",
      firstCellIsHeader: false,
      head: [
        { text: "Task type" },
        { text: "Completed", format: "numeric" },
        { text: "Active", format: "numeric" },
        { text: "Allocated", format: "numeric" },
        { text: "Total", format: "numeric" }
      ],
      rows: rows
    }) }}

  {% endif %}



    {# <a style="color: #d4351c;" href="team-parameters-error-message">Error messages</a> #}

    </div>
  </div>
            
  


{% endblock %}