{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
  
{% block header %}
   <header class="dwp-header">
    <div class="dwp-header__content govuk-width-container">
      <di style="flex-basis: 50%;"  class="dwp-header__service-name dwp-header__service-name--with-action">
        <a href="/" class="dwp-header__link">{{ serviceName }}</a>
      </di>
      <div class="dwp-header__service-action">
        {# <a href="/" class="dwp-header__link">National Mailbox: working as an Agent</a> #}
        <p class="header_right-panel"><span>National Mailbox</span> | <a class="dwp-header__link" href="select-user-sr">Working as an Agent</a></p>
      </div>
    </div>
  </header> 
  <div class="govuk-width-container">
    {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new private beta service - help us to improve it by telling us your  <a class="govuk-link" href="feedback">feedback</a>.',
        classes: 'govuk-width-container govuk-!-margin-bottom-3'
      }) }}
  </div>
{% endblock %}

{% block pageTitle %}
  Agent home
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "../../select-user-admin"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <h1 class="govuk-heading-l">Agent dashboard</h1>
  <div class="box">
    <h2 class="govuk-heading-m"><a href="agent-tasks">My tasks</a></h2>
    <p>Claim and work on tasks.</p> 
  </div>
</div>

<div class="govuk-width-container">
  &nbsp;
    <div class="box">
      <h2 class="govuk-heading-m"><a href="#">Search and create</a></h2>
      <p>Search for and create tasks.</p>
    </div>
</div>

<div class="govuk-width-container">
  &nbsp;
    <div class="box">
      <h2 class="govuk-heading-m"><a href="manage-org-b">Search for tasks</a></h2>
      <p>Search for and claim tasks.</p>
    </div>
</div>

&nbsp;

{% endblock %}


