{% extends "layouts/main-team-service-manager.html" %}

{% block pageTitle %}
  Service manager home
{% endblock %}

{% block beforeContent %}

<div class=spacer1></div>

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <h1 class="govuk-heading-l">DWP Task dashboard</h1>
  <div class="box">
    <h2 class="govuk-heading-m"><a href="#">Add an organisation unit</a></h2>
    <p>Add an organisation unit, attributes and permission </p> 
  </div>
</div>

<div class="govuk-width-container">
  &nbsp;
    <div class="box">
      <h2 class="govuk-heading-m"><a href="#">View and manage my tasks</a></h2>
      <p>View and manage tasks for Org B over a given date range.</p>
    </div>
</div>

<div class="govuk-width-container">
  &nbsp;
    <div class="box">
      <h2 class="govuk-heading-m"><a href="manage-org-b">Manage Org B setup</a></h2>
      <p>Add or manage attributes, tasks, groups and agents in Org B.</p>
    </div>
</div>

<div class="govuk-width-container">
  &nbsp;
    <div class="box">
      <h2 class="govuk-heading-m"><a href="#">Common task attributes</a></h2>
      <p>Add or manage common tasks attributes</p>
    </div>
</div>

<div class="govuk-width-container">
  &nbsp;
    <div class="box">
      <h2 class="govuk-heading-m"><a href="#">Application management</a></h2>
      <p>View ADUS, claim and agent diagnostics.</p>
    </div>
</div>

<div class="govuk-width-container">
  &nbsp;
    <div class="box">
      <h2 class="govuk-heading-m"><a href="#">Management Information(MI)</a></h2>
      <p>View MI for Org B.</p>
    </div>
</div>

<div class="govuk-width-container">
  &nbsp;
    <div class="box">
      <h2 class="govuk-heading-m"><a href="#">Agent dashboard</a></h2>
      <p>Work as an agent.</p>
    </div>
</div>

&nbsp;

{% endblock %}


