
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
  
{% block header %}


<header data-module="govuk-header" class="dwp-header">
  <div class="dwp-header__content govuk-width-container">
    <div class="dwp-header__service-name">
      <a href="/" class="dwp-header__link">{{serviceName}}</a>
    </div>
    <div class="dwp-header__service-action">
        <p class="header_right-panel"><span>National Mailbox</span> | <a class="dwp-header__link" href="select-user-sr">Working as a Service Manager</a></p>
    </div>
 
  </div>
</header> 

<div class="govuk-width-container">
  {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new private beta service - help us to improve it by telling us your  <a class="govuk-link" href="feedback">feedback</a>.',
      classes: 'govuk-width-container govuk-!-margin-bottom-3'
    }) }} 
</div> 

{% endblock %}

{% set pageName = "Management Information" %}

{% block pageTitle %}
  {{pageName}}
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "../../select-user-admin"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <h1 class="govuk-heading-l">{{pageName}}</h1>
  <div class="box">
    <h2 class="govuk-heading-m"><a href="organisation-unit-statistics">Organisation unit statistics (current design)</a></h2>
    <p>Filter organisation unit statistics by date range to view average completion time, created, completed and overdue tasks.</p> 
  </div>
  &nbsp;
  <div class="box">
    <h2 class="govuk-heading-m"><a href="organisation-unit-statistics-filter">Organisation unit statistics (updated design)</a></h2>
    <p>Filter organisation unit statistics by date range to view average completion time, created, completed and overdue tasks.</p> 
  </div>
</div>


<div class="govuk-width-container">
  &nbsp;
    <div class="box">
      <h2 class="govuk-heading-m"><a href="agent-statistics-no-results">Agent statistics

      </a></h2>
      <p>View agent statistics by searching allocated, active and completed tasks.</p>
    </div>
</div>

&nbsp;

{% endblock %}


