{% extends "layouts/main.html" %}

{% set pageName = "Select" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">


    <form method="post" novalidate>

      {{ govukRadios({
        name: "mi[sm][select]",
        fieldset: {
          legend: {
            text: "Select journey (internal page)",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: ""
        },
        value: data.mi.sm.select,
        items: [
          {
            value: "Filters and results on the same page",
            text: "Filters and results on the same page"
          },
          {
            value: "Filters and results on the diferent page",
            text: "Filters and results on the diferent page"
          }
        ]
      }) }}
      
  
      {{ govukButton({
        text: "Continue"
      }) }}
 
        
    </form>


    </div>
  </div>
            
  


{% endblock %}