
{% extends "layouts/main.html" %}

{% set pageName = "Task statistics between 1 January 2026 and 1 May 2026" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Task statistics for Aiden Jenkins</h1>

      <p>A task may appear in more than one column in the results. This is to reflect all status changes for the task during the selected date range.</p>
      <p>For example, a task will be counted each time it is changed to active, allocated or on hold.</p>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <!-- Table one - team -->
      <table class="govuk-table govuk-!-static-margin-bottom-3">
        
        <caption class="govuk-table__caption govuk-table__caption--m">{{pageName}}</caption>
        
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Task type</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Active</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Allocated</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Cancelled</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Completed</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Failed</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">On hold</th>
            {# <th scope="col" class="govuk-table__header govuk-table__header--numeric">Unallocated</th> #}
            {# <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total</th> #}
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Type A</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
            {# <td class="govuk-table__cell govuk-table__cell--numeric">16</td> #}
          </tr>
        </tbody>
      </table>
      <a href="#" class="govuk-link">Download as csv</a>
    
    </div>
  </div>

  
            
      
{% endblock %}