{% extends "layouts/main.html" %}

{% block pageTitle %}
  Is this the right customer?
{% endblock %}

{% set pageName = "Is this the right customer?" %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "find-person"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{pageName}}
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Oliver Bennett"
            }
          },
          {
            key: {
              text: "National Insurance number"
            },
            value: {
              text: "AE 01 01 01 A"
            }
          }
        ]
      }) }}

 <form method="post" novalidate>

      {{ govukRadios({
        name: "agent[isThisTheRightCustomer]",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        value: data.agent.isThisTheRightCustomer,
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Confirm"
        }) }}
      
        {{ govukButton({
          text: "Back",
          classes: "govuk-button--secondary"
        }) }}
      </div>

  </form>
	
    </div>
  </div>

{% endblock %}