{% extends "layouts/main.html" %}

{% block pageTitle %}
  Put this task on hold
{% endblock %}
{% set pageName = "Put this task on hold" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-form-group">
    <div class="govuk-grid-column-two-thirds">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
           {{pageName}}
        </h1>
      </legend>

      <p>Put this task on hold until it can be worked on again.</p>

      <form method="post" novalidate>
        
      {{ govukRadios({
        name: "agent[returnTaskToQueue]",
        fieldset: {
          legend: {
            text: "Select an option",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        value: data.agent.returnTaskToQueue,
        items: [
          {
            value: "Put on hold and keep",
            text: "Put on hold and keep",
            hint: {
            text: "This task will remain in your work area."
            }
          },
          {
            value: "Put on hold and return to queue",
            text: "Put on hold and return to queue",
            hint: {
            text: "This task will return to the queue."
            }
          }
        ]
      }) }}
      
    </fieldset>
    
  </div>
</div>
</div>

    <div class="govuk-button-group">

      {{ govukButton({
        text: "Confirm"
      }) }}

      {{ govukButton({
        text: "Back",
        classes: "govuk-button--secondary",
        href: "task"
      }) }}

    </div>
  </form>


{% endblock %}

