{% extends "layouts/main.html" %}

{% block pageTitle %}
  Return task to queue
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

 
      <h1 class="govuk-heading-l">
          Return task to queue
      </h1>
  
      <p>
        If you are unable to to work on this task right now and need another agent to complete it, you should return it to the queue.
      </p>
      

      <form method="post" novalidate>
        
   

      {% set returnAndBlockReason %}
        {{ govukRadios({
          name: "agent[returnTaskToQueue][reason]",
          classes: "govuk-radios--small",
          values: data.agent.returnTaskToQueue.reason,
          items: [
            {
              value: "I do not have the right skills or training",
              text: "I do not have the right skills or training"
            },
            {
              value: "Categorised under the wrong workstream",
              text: "Categorised under the wrong workstream"
            }
          ]
        }) }}
      {% endset -%}
      
      {{ govukRadios({
        name: "agent[returnTaskToQueue]",
        fieldset: {
          legend: {
            text: "Select an option",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        value: data.agent.returnTaskToQueue,
        items: [
          {
            value: "Return",
            text: "Return",
            hint: {text: "Select a reason for returning the task"}
          },
          {
            value: "Return and block",
            text: "Return and block",
            hint: {text: "You will not get this task again."},
            conditional: {html: returnAndBlockReason}
          }
        ]
      }) }}

      {{ govukCheckboxes({
        name: "",
        fieldset: {
          legend: {
            text: "Add 'escalate' as an attribute to this task (optional)",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Selecting 'escalate'  will make this task available only to agents who have an 'escalate' attribute in their profile"
        },
        values: data.agent.escalate,
        items: [
          {
            value: "escalate",
            text: "Escalate"
          }
        ]
      }) }}
      
  
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Confirm"
      }) }}

      {{ govukButton({
        text: "Back",
        classes: "govuk-button--secondary",
        href: "task"
      }) }}
    </div>
  </form>

  </div>
</div>


{% endblock %}

