{% extends "layouts/main.html" %}

{% block pageTitle %}
  Create a task
{% endblock %}

{% set pageName = "TCS 006 New Claim Verification 001" %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "home-agent"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{pageName}}</h1>

        <p>Check the details of this task before confirming.</p>

        <div class="govuk-form-group">
          <dl class="govuk-summary-list ">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" aria-label="Customer">Customer</dt>
              <dd class="govuk-summary-list__value">Oliver Bennett</dd>
            </div>
            <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key" aria-label="Task">Task</dt>
              <dd class="govuk-summary-list__value">TCS 006 New Claim Verification 001</dd><dd class="govuk-summary-list__actions">
                <a class="govuk-link" aria-label="Change task type" href="create-task">Change <span class="govuk-visually-hidden"> task type</span></a>
              </dd>
            </div>
          </dl>
        </div>

        <form method="post" novalidate>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Confirm",
            attributes: {
            name: "showTaskConfirmBanner",
            value: "yes"
          }
          }) }}
        
          {{ govukButton({
            text: "Back",
            classes: "govuk-button--secondary",
            href: "create-task"
          }) }}
        </div>

        </form>

    </div>
  </div>
             
{% endblock %}
