{% extends "layouts/main.html" %}

{% block pageTitle %}
  Put this task on hold
{% endblock %}

{% set pageName = "Set a date to put this task on hold" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <p class="govuk-body-m">This task will become available to work on again on this date.</p>

      <form method="post" novalidate>

      {{ govukDateInput({
        id: "date",
        fieldset: {
          legend: {
            text: "Date",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "For example, 31 3 1980"
        },
        items: [
          {
            name: "date",
            label: "Day",
            value: data.day,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Month",
            value: data.month,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Year",
            value: data.year,
            classes: "govuk-input--width-4"
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Confirm",
          name: "action",
          value: "put-on-hold"
        }) }}
        

        {{ govukButton({
          text: "Back",
          classes: "govuk-button--secondary",
          href: "put-on-hold"
        }) }}
      </div>

    </form>
     

  </div>
</div>



{% endblock %}

