{% extends "layouts/main.html" %}

{% block pageTitle %}
Team leader home
{% endblock %}

{% block beforeContent %}

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row" data-testid="grid-row">
  
    <div class=" govuk-grid-column-two-thirds govuk-form-group">
      
      <fieldset class="govuk-fieldset govuk-!-static-margin-bottom-6">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-heading-l">
            
            Change the team James Burton is in 
          </h1>
        </legend>
        <p class="govuk-hint">Select the team you want James Burton to be in. </p>
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month" checked>
            <label class="govuk-label govuk-radios__label" for="changedName">
              Admin team
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
            <label class="govuk-label govuk-radios__label" for="changedName-2">
              Triage team
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
            <label class="govuk-label govuk-radios__label" for="changedName-2">
              Closures team
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
            <label class="govuk-label govuk-radios__label" for="changedName-2">
              Remove from team
            </label>
          </div>
          
        </div>
      </fieldset>
        <div class="govuk-button-group" data-testid="button-group-id">
          <a class="govuk-button" href="change-team-tm" >Confirm</a>
          <a class="govuk-button govuk-button--secondary" href="change-team-tm">Cancel</a>
        </div>
    </div>
  </div>
   
  </div>
</div>

{% endblock %}


