

{{
    dwpFooter({
        meta: {
            visuallyHiddenTitle: "About this website",
            items: [
            {
                href: "https://intranet.dwp.gov.uk/page/dwp-employee-privacy-notice",
                text: "Accessibility statement"
            },
            {
                href: "https://shared-ui.agent-service.test.rbcdwp.net/tasks-ui/admin/contact",
                text: "Contact"
            },
            {
                href: "https://intranet.dwp.gov.uk/page/dwp-employee-privacy-notice",
                text: "Privacy"
            },
            {
                href: "/manage-prototype/clear-data",
                text: "Clear data"
            }
            ]
        }
    }) 
}}
