<footer class="govuk-footer">

    <div class="govuk-width-container">
      <h2 class="govuk-visually-hidden">About this website</h2>
      <ul class="govuk-footer__inline-list">
        <li class="govuk-footer__inline-list-item">
          <a class="govuk-footer__link" href="accessibility-statement">Accessibility</a>
        </li>
        <li class="govuk-footer__inline-list-item">
          <a class="govuk-footer__link" href="contact">Contact</a>
        </li>
        <li class="govuk-footer__inline-list-item">
          <a class="govuk-footer__link" href="https://intranet.dwp.gov.uk/page/dwp-employee-privacy-notice" target="blank" rel="noopener noreferrer">Privacy</a> (opens in a new tab)
        </li>
        <li class="govuk-footer__inline-list-item" style="float: right;">
          Version 1.0
        </li>
        <li class="govuk-footer__inline-list-item">
          <a class="govuk-footer__link" href="/manage-prototype">Manage your prototype</a>
        </li>
        <li class="govuk-footer__inline-list-item">
          <a class="govuk-footer__link" href="/manage-prototype/clear-data">Clear data</a>
        </li>
      </ul>
    </div>
</footer> 