
{% extends "layouts/main.html" %}

{% set pageName = "How do you want to claim tasks?" %}

  {% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
    }) }}
  {% endblock %}

  {% block pageScripts %}

  

{% endblock %}



{% block content %}

<form method="post" novalidate>


  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-two-thirds">

    {# <h1 class="govuk-heading-l">{{pageName}}</h1> #}

    <div class="govuk-form-group" style="margin-bottom: 10px;">

      {{ govukInput({
        label: {
          text: "Select task types",
          classes: "govuk-label--l",
          isPageHeading: false
        },
        classes: "govuk-!-margin-bottom-0",
        id: "event-name",
        name: "eventName",      
        attributes: {
            placeholder: "Enter task type"
          }
      }) }}
    </div>
  
    <div class="govuk-!-margin-bottom-6"> 
      <div class="searchable-collection-component--only-scrollable">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
              Type A
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
              Type B
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
              Type C
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              Type D
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              Type E
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              Type F
            </label>
          </div>
        </div>
      </div>
    </div>

    {{ govukButton({
      text: "Continue",
      href: "agent-tasks-manually"
    }) }}

    </form>

        
    </div>
  </div>
  
{% endblock %}