{% extends "layouts/main.html" %}

{% block pageTitle %}
  My teams
{% endblock %}

{% block beforeContent %}

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <!--<a href="org-unit-selection"
  <button class="govuk-button" data-module="govuk-button" style="float: right;">Manage another service</button></a>-->
  <h1 class="govuk-heading-l">My teams</h1>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Teams in Benefits One QA</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Team name</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Agents</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Team leaders</th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Decision Making Team</th>
        <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="manage-a-team">Manage</a></td>
      </tr>
    </tbody>
  </table>

</div>

{% endblock %}


