{% extends "layouts/main-team-agent-pip-2.html" %}

{% block pageTitle %}
  Agent home
{% endblock %}

{% block beforeContent %}

  {# {{ govukBackLink({
    text: "Back",
    href: "../"
  }) }} #}

{% endblock %}


{% block content %}


<div class="govuk-width-container">
  <h2 class="govuk-heading-xl">My home page</h2>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Processing</h2>
          <ul class="govuk-list">
            <li>
              <a href="home-agent" class="govuk-link">Go to DWP Task</a>
            </li>
          </ul>
    </div>

    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Search</h2>
          <ul class="govuk-list">
            <li>
              <a href="#" class="govuk-link">Find an applicant form</a>
            </li>
            <li>
              <a href="#" class="govuk-link">View all applications</a>
            </li>
            <li>
              <a href="#" class="govuk-link">View awarded claims</a>
            </li>
          </ul>
    </div>
      
  </div>





</div>





{% endblock %}


