{% extends "layouts/main-team-agent-pip-2.html" %}

{% block pageTitle %}
  Add an organisation unit service URL
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "../"
  }) }}

{% endblock %}


{% block content %}

  {% set headingText = "Add an organisation unit URL" %}
  {% set paragraphText = "No URL set" %}

  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
      {
        text: "Enter a URL with a protocol (https://), a host (www.) and without spaces",
        href: "#ScenarioOne"
      }
    ]
  }) }}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        
      <h1 class="govuk-heading-l">Change an organisation service URL</h1>

      <p>Adding a service URL gives users a link in the heading to their service landing page.</p>
      <p>To add or change a service URL, enter the URL below and select 'Confirm'.</p>
      <p>To remove it, delete the URL and select 'Confirm'.</p>

        <form method="post" novalidate>

        {{ govukInput({
          id: "ScenarioOne",
          name: "",
          classes: "govuk-input--width-20",
          label: {
            text: "Enter an organisation service URL",
            isPageHeading: false,
            classes: "govuk-label--s"
          },
          hint: {
            text: "This must be a complete URL without spaces, for example https://www.gov.uk"
          },
          errorMessage: {
            text: "Enter a URL with a protocol (https://), a host (www.) and without spaces"
          },
          value: "https://www.example.gov.uk"
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Confirm",
            href: "/pip/admin-settings"
          }) }}
        
          {{ govukButton({
            text: "Back",
            classes: "govuk-button--secondary",
            href: "/pip/admin-settings"
          }) }}
        </div>
      </form>

     
      </div>
    </div>

</div>





{% endblock %}


