{% extends "layouts/main.html" %}

{% block pageTitle %}
Decision makers group
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<div class=spacer1></div>
{{ govukBreadcrumbs({
  items: [
    {
      text: "Maternity allowance home",
      href: "maternity-dashboard"
    },
    {
      text: "Setup and manage team",
      href: "maternity-manage"
    },
    {
      text: "Groups",
      href: "groups-home"
    }
  ]
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Decision makers group</h1>

      <h2 class="govuk-heading-m">
        Task types
      </h1>
      <p>Decision makers will be able to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Review incident outcomes</li>
      </ul>

      <h2 class="govuk-heading-m">Group details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Group name"
            },
            value: {
              text: data['group-name']
            },
            
            actions: {
              items: [
                {
                  href: "create-group",
                  text: "Change",
                  visuallyHiddenText: "job role"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Description"
            },
            value: {
              text: data['group-description']
            },
            actions: {
              items: [
                {
                  href: "create-group",
                  text: "Change",
                  visuallyHiddenText: "grade"
                }
              ]
            }
          },
          {
            key: {
              text: "Group members"
            },
            value: {
              text: "Dmitrij Ivanov, Julia Nguyen"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "members"
                }
              ]
            }
          }

        ]
      }) }}
      

      <h2 class="govuk-heading-m">Matching criteria</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
        {
          key: {
            text: "Grade"
          },
          value: {
            text: "AA, AO"
          },
          
          actions: {
            items: [
              {
                href: "change-group-grade",
                text: "Change",
                visuallyHiddenText: "grade"
              }
            ]
          }
        }
        ,
        {
          key: {
            text: "Language"
          },
          value: {
            text: "Welsh"
          },
          
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "language"
              }
            ]
          }
        }
        ,
        {
          key: {
            text: "Location"
          },
          value: {
            text: "England, Scotland, Wales"
          },
          
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "location"
              }
            ]
          }
        }
        ,
        {
          key: {
            text: "Office ID"
          },
          value: {
            text: "Bristol, Longbenton"
          },
          
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "office-id"
              }
            ]
          }
        }
        ,
          {
            key: {
              text: "Role"
            },
            value: {
              text: data['role']
            },
            
            actions: {
              items: [
                {
                  href: "#",
                  text: "Add",
                  visuallyHiddenText: "role"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Working pattern"
            },
            value: {
              text: data['working-pattern']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Add",
                  visuallyHiddenText: "working-pattern"
                }
              ]
            }
          }
        ]
      }) }}

<a href="groups-dm-deleted">

      <button class="govuk-button govuk-button--warning" data-module="govuk-button">
        Delete group
      </button>
    </a>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" >
      Back
    </button>
      </form>

    </div>
  </div>
{% endblock %}