{% extends "layouts/main.html" %}

{% block pageTitle %}
Task types
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<div class=spacer1></div>
{{ govukBreadcrumbs({
  items: [
    {
      text: "Maternity allowance home",
      href: "maternity-dashboard"
    },
    {
      text: "Set up and manage team",
      href: "maternity-manage"
    }
  ]
}) }}
{% endblock %}

{% block content %}



<div class="govuk-width-container">
  <h1 class="govuk-heading-l">Task types</h1>
  <p>Manage Maternity Allowance task types. These are common items of routine work.</p>

  <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      You have successfully updated [task type name].
    </h3>
  </div>
</div>

  <!--<h2 class="blueheading">Your task types</h2>-->
  &nbsp;

  
  <div class="box5">
    <h2 class="govuk-heading-m"><a href="template-change-address">Change a claimant's address</a></h2>
  </div>
</div>

<div class="govuk-width-container">
&nbsp;
  <div class="box5">
    <h2 class="govuk-heading-m"><a href="#">Add a claimant's proof of income</a></h2>
  </div>
</div>


&nbsp;
{% endblock %}

