{% extends "layouts/main.html" %}

{% set pageName = "Bulk update tasks" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">


      {{ govukRadios({
          name: "[teams][v2][statusOption]",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.teams.v2.statusOption,
          hint: {text: "Select the parametr you would like to update"},
          items: [
            {
              value: "Change due date",
              text: "Change due date"
            },
            {
              value: "Change priority",
              text: "Change priority"
            },
            {
              value: "Return to queue",
              text: "Return to queue"
            },
            {
              value: "Complete",
              text: "Complete"
            },
            {
              value: "Cancelled",
              text: "Cancelled"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
     
    </div>
</div>


{% endblock %}


