{% extends "layouts/main.html" %}


{% set pageName = "DWP Task dashboard" %}

{% block beforeContent %}

<div class=spacer1></div>

{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <div class="box govuk-!-margin-bottom-4">
        <h2 class="govuk-heading-m"><a href="#">View and manage your teams</a></h2>
        <p>Add or remove agents and team leaders to or from your teams.</p> 
      </div>
      
      <div class="box govuk-!-margin-bottom-4">
        <h2 class="govuk-heading-m"><a href="#">View and manage tasks</a></h2>
        <p>View and manage tasks for your teams.</p> 
      </div>

      <div class="box govuk-!-margin-bottom-4">
        <h2 class="govuk-heading-m"><a href="find-tasks">Bulk changes</a></h2>
        <p>Change due date, task type, asigned agent, priority ans status of tasks in bulk.</p> 
      </div>

      <div class="box govuk-!-margin-bottom-4">
        <h2 class="govuk-heading-m"><a href="#">My tasks</a></h2>
        <p>Claim and work on tasks.</p> 
      </div>

      <div class="box govuk-!-margin-bottom-4">
        <h2 class="govuk-heading-m"><a href="#">Search and create</a></h2>
        <p>Search for and create tasks.</p> 
      </div>
      
    </div>
</div>


{% endblock %}


