{% extends "layouts/main.html" %}

{% block pageTitle %}
Team leader home
{% endblock %}

{% block beforeContent %}

<div class=spacer1></div>

{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <!--<a href="org-unit-selection"
  <button class="govuk-button" data-module="govuk-button" style="float: right;">Manage another service</button></a>-->
  <h1 class="govuk-heading-l">Teams</h1>
  <p>Create and manage groups of agents. Agents will get tasks that match to the criteria of their group. <a href="#" class="govuk-link">Add a new group</a></p>

  <div class="govuk-form-group" data-testid="form-group-id">
    <h2 class="govuk-heading-m">Team details</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" aria-label="Team ID">Team ID</dt>
        <dd class="govuk-summary-list__value" aria-label="15-10-2025-awesome-qa-team">15-10-2025-awesome-qa-team</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" aria-label="Team name">Team name</dt>
        <dd class="govuk-summary-list__value" aria-label="15 10 2025 Awesome QA Team">15 10 2025 Awesome QA Team</dd>
      </div>
    </dl>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Team leaders</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header ">Name</th>
          <th scope="col" class="govuk-table__header ">Staff number</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell " data-testid="table-cell">shared team-lead1.qa<br>
            <span class="govuk-hint">shared.team-lead1.qa@dwp.gov.uk</span>
          </td>
          <td class="govuk-table__cell " data-testid="table-cell">100100101</td>
        </tr>
      </tbody>
    </table>
    <div class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">
      <p class="govuk-body-m">
        <a href="#" id="add-another-team-leader" class="govuk-link">Add or remove a team leader</a>
      </p>
    </div>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Agents</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header ">Name</th>
          <th scope="col" class="govuk-table__header ">Staff number</th>
          <th scope="col" class="govuk-table__header ">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell " data-testid="table-cell">shared team-lead1.qa<br>
            <span class="govuk-hint">shared.team-lead1.qa@dwp.gov.uk</span>
          </td>
          <td class="govuk-table__cell " data-testid="table-cell">000999888
          </td>
          <td class="govuk-table__cell " data-testid="table-cell"><a href="agent-details">View</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell " data-testid="table-cell">shared team-lead1.qa<br>
            <span class="govuk-hint">shared.team-lead1.qa@dwp.gov.uk</span>
          </td>
          <td class="govuk-table__cell " data-testid="table-cell">000999888
          </td>
          <td class="govuk-table__cell " data-testid="table-cell"><a href="agent-details">View</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">
      <p class="govuk-body-m">
        <a href="#" id="add-an-agent" class="govuk-link">Add or remove an agent</a>
      </p>
    </div>
  </div>
</div>
&nbsp;
{% endblock %}


