{% extends "layouts/new-main.html" %}

{% set pageName = "Select your role" %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" novalidate>

        {{ govukRadios({
          id: "endToEndPrototype[selectYourRole]",
          name: "endToEndPrototype[selectYourRole]",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.endToEndPrototype.selectYourRole,
          items: [
            {
              value: "Service manager",
              text: "Service manager"
            },
            {
              value: "Team leader",
              text: "Team leader"
            },
            {
              value: "Agent",
              text: "Agent"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
      
    </div>
  </div>
{% endblock %}



