{% extends "layouts/main.html" %}


{% block pageTitle %}

{% endblock %}
{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/filters.css" rel="stylesheet" type="text/css" />
  <link href="/public/css/accessible-autocomplete.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block pageScripts %}
 
    <style>
      #searchContainer {
        display: inline-block;
      }
  
      .stat {
        border: 1px solid #b1b4b6;
        background-color: #1d70b8;
        box-sizing: border-box;
        padding: .2rem .52rem;;
        margin-bottom: 2rem;
        color:#ffffff;
      }
  
      .stat_number {
        font-size: 3rem;
        font-weight: 600;
      }
  
      .stat_cat {
        font-size: medium;
        font-weight: 300;
      }
    </style>
{% endblock %}



{% block content %}

  
 

<body class="govuk-template__body">
   <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

   <!-- Skip link -->
   <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>


   <!-- Main content -->
   <div class="govuk-width-container">
       <main class="govuk-main-wrapper" id="main-content" role="main">

           <!-- Page heading -->
           <div class="govuk-grid-row govuk-!-static-padding-bottom-2">
               <div class="govuk-grid-column-full">
                   <h1 class="govuk-heading-xl">Enter parameters for statistics </h1>
                  
                   
               </div>
           </div>
           <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
           
          </div>
     

           <!-- Two column layout -->
           <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <div class="govuk-grid-column-full">
                
                
                    <form id="filter-form">
                      <h3 class="govuk-heading-s">Date range</h3>
                     
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s " for="startDate">When do you want the report to start from?</label>
                        <div class="govuk-hint">For example 12 06 2025</div>
                        <div class="govuk-date-input" id="startDate">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="dob-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="dob-month">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="dob-year">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric">
                            </div>
                          </div>
                        </div>
                      </div>
              
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="endDate">When do you want the report to end?</label>
                        <div class="govuk-hint">For example 12 06 2025</div>
                        <div class="govuk-date-input" id="endDate">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="dob-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="dob-month">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="dob-year">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Which task teams do you need to report on?</legend>
                          <span class="govuk-hint">Select all that apply</span>
                          <div class="govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Low" id="priority-Low">
                              <label class="govuk-label govuk-checkboxes__label" for="priority-Low">Team 1 </label>
                            </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Medium" id="priority-Medium">
                                <label class="govuk-label govuk-checkboxes__label" for="priority-Medium">Team 2 </label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="High" id="priority-High">
                                <label class="govuk-label govuk-checkboxes__label" for="priority-High">Team 3 </label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Urgent" id="priority-Urgent">
                                <label class="govuk-label govuk-checkboxes__label" for="priority-Urgent">Team 4</label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Urgent" id="priority-Urgent">
                                <label class="govuk-label govuk-checkboxes__label" for="priority-Urgent">All </label>
                              </div>
                          </div>
                        </fieldset>
                      </div>
                      <!-- <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Which team do you need statistics for?</legend>
                          <span class="govuk-hint">Select the team you would like statistics for</span>
                          <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month">
                              <label class="govuk-label govuk-radios__label" for="changedName">
                                Support desk
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
                              <label class="govuk-label govuk-radios__label" for="changedName-2">
                                Triage
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
                              <label class="govuk-label govuk-radios__label" for="changedName-2">
                                Outbound
                              </label>
                            </div>
                          </div>
                        </fieldset>
                      </div> -->
                </form>
                    <div class="govuk-button-group">
                    <a href="service-manager-stats" class="govuk-button" type="button" id="applyFilters">View statistics</a>
                  </div>
              </form>
              </div>
             
              </div>
            </div>
            
            </div>
          </div>
       </main>
   </div>

</body>
{% endblock %}