{% extends "layouts/main.html" %}

{% block pageTitle %}
Agent home
{% endblock %}

{% block beforeContent %}

<div class=spacer1></div>

{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <!--<a href="org-unit-selection"
  <button class="govuk-button" data-module="govuk-button" style="float: right;">Manage another service</button></a>-->
  <h1 class="govuk-heading-l">My teams</h1>
 <p class="govuk-body">
  you currently dont have any teams set up.
 </p>

 <a href="select-unit" class="govuk-button">Create a new team</a>
</div>



&nbsp;
{% endblock %}