{% extends "layouts/main.html" %}

{% set pageName = "View and manage tasks" %}

{% block beforeContent %} 
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">{{ pageName }}</h1>

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">
      {% include "teams/bulk-changes/_includes/filter-panel.njk" %}
    </div>
    <div class="app-filter-layout__content">

      <!-- {% include "teams/bulk-changes/_includes/search-form.njk" %} -->

      {% include "teams/bulk-changes/_includes/sorting.njk" %}
      {% include "teams/bulk-changes/_includes/search-results.njk" %}

     
  
     
 

      {% include "teams/bulk-changes/_includes/pagination.njk" %}


    </div>
  </div>
{% endblock %}


{% block scripts %}
  {{super()}}
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('.taskTypeAutocomplete')
    })
  </script>
{% endblock %}
