        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            {{ govukPagination({
              next: {
                href: "#"
              },
              classes: "govuk-!-margin-top-3",
              items: [
                {
                  number: 1,
                  current: true,
                  href: "#"
                },
                {
                  number: 2,
                  href: "#"
                },
                {
                  number: 3,
                  href: "#"
                }
              ]
            }) }}
          </div>
    
          <div class="govuk-grid-column-one-half">
            <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-0 govuk-!-text-align-right">Showing 1 - 50 of 200 results</p>
          </div>
        </div>
        
 