{% extends "layouts/main.html" %}


{% block pageTitle %}

{% endblock %}
{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/filters.css" rel="stylesheet" type="text/css" />
  <link href="/public/css/accessible-autocomplete.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
  <script type="text/javascript" src="/public/javascripts/teams.js"></script>
  <script>
    const teamMembers = [
      "Aiden Jenkins, 12345678",
      "Amy Anderson, 12345678",
      "Amy Adams, 12345678",
      "Amy Johnston, 12345678",
      "James Phillips, 12345678",
      "Ben Hoad, 12345678",
      "Joel Odonnell, 12345678",
      "Oliver Logan, 12345678",
      "Dan Hayes, 12345678",
      "Kathleen Lin, 12345678",
      "Darren Lowery, 12345678",
      "Kamran Roth, 12345678",
      "Amaan Hubbard, 12345678",
      "Sally Whitaker, 12345678",
      "Georgia Duncan, 12345678",
      "Jean Booker, 12345678",
      "Kaine Bell, 12345678",
      "Arjan Sharp, 12345678",
      "Bianca Nicholson, 12345678",
      "Brett Henderson, 12345678",
      "Hassan Young, 12345678",
      "Sonia Pruitt, 12345678",
      "Erica Fernandez, 12345678"
    ]

    accessibleAutocomplete({
      element: document.querySelector('#searchb'),
      id: 'searchb', // To match it to the existing <label>.
      CSSNamespace: 'test',
      source: teamMembers,
      templates: {
        inputValue: function (suggestion) {
          return suggestion
        },
        suggestion: function (suggestion) {
          const parts = suggestion.split(", ");
          return `${parts[0]}, ${parts[1]}`
       
        }
      }
    })
  </script>
    <style>
      #searchContainer {
        display: inline-block;
      }
  
      .stat {
        border: 1px solid #b1b4b6;
        background-color: #1d70b8;
        box-sizing: border-box;
        padding: .2rem .52rem;;
        margin-bottom: 2rem;
        color:#ffffff;
      }
  
      .stat_number {
        font-size: 3rem;
        font-weight: 600;
      }
  
      .stat_cat {
        font-size: medium;
        font-weight: 300;
      }
    </style>
{% endblock %}



{% block content %}

  
 

<body class="govuk-template__body">
   <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

   <!-- Skip link -->
   <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>


   <!-- Main content -->
   <div class="govuk-width-container">
       <main class="govuk-main-wrapper" id="main-content" role="main">

           <!-- Page heading -->
           <div class="govuk-grid-row govuk-!-static-padding-bottom-6">
               <div class="govuk-grid-column-full">
                   <h1 class="govuk-heading-xl">Enter report details</h1>
                   <p class="govuk-body">Enter a date range and agent to view agent statistics. </p>
                   
               </div>
           </div>
           <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
           
          </div>
     

           <!-- Two column layout -->
           <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <div class="govuk-grid-column-full">
                  <form id="filter-form">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-label--m" for="searchb">Agent</label>
                      <div id="event-name-hint" class="govuk-hint">
                        Enter agent's name or staff ID 
                      </div>
                      <div id="searchb" class="govuk-input--width-20"></div>
                    </div>
                    <form id="filter-form">
                      <h3 class="govuk-heading-s">Date range</h3>
                     
                      <div class="govuk-form-group">
                        <label class="govuk-label title-label" for="startDate">From</label>
                        <div class="govuk-date-input" id="startDate">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="dob-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="dob-month">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="dob-year">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric">
                            </div>
                          </div>
                        </div>
                      </div>
              
                      <div class="govuk-form-group">
                        <label class="govuk-label title-label" for="endDate">To</label>
                        <div class="govuk-date-input" id="endDate">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="dob-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="dob-month">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="dob-year">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Task type</legend>
                          <span class="govuk-hint">Select task types you would like to report against</span>
                          <div class="govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Low" id="priority-Low">
                              <label class="govuk-label govuk-checkboxes__label" for="priority-Low">Initial call </label>
                            </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Medium" id="priority-Medium">
                                <label class="govuk-label govuk-checkboxes__label" for="priority-Medium">Call back </label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="High" id="priority-High">
                                <label class="govuk-label govuk-checkboxes__label" for="priority-High">Data entry </label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Urgent" id="priority-Urgent">
                                <label class="govuk-label govuk-checkboxes__label" for="priority-Urgent">General admin</label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Urgent" id="priority-Urgent">
                                <label class="govuk-label govuk-checkboxes__label" for="priority-Urgent">All </label>
                              </div>
                          </div>
                        </fieldset>
                      </div>
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Status</legend>
                          <span class="govuk-hint">Select statuses you would like to report against</span>
                          <div class="govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Low" id="priority-Low">
                              <label class="govuk-label govuk-checkboxes__label" for="priority-Low">Active </label>
                            </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Medium" id="priority-Medium">
                                <label class="govuk-label govuk-checkboxes__label" for="priority-Medium">Completed </label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="High" id="priority-High">
                                <label class="govuk-label govuk-checkboxes__label" for="priority-High">Allocated </label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="High" id="priority-High">
                                <label class="govuk-label govuk-checkboxes__label" for="priority-High">All </label>
                              </div>
                              
                          </div>
                        </fieldset>
                      </div>
                </form>
                    <div class="govuk-button-group">
                    <a href="report" class="govuk-button" type="button" id="applyFilters">Generate report</a>
                  </div>
              </form>
              </div>
             
              </div>
            </div>
            
            </div>
          </div>
       </main>
   </div>


   <!-- GOV.UK Frontend JavaScript -->

  
</body>
{% endblock %}