{% extends "layouts/main.html" %}


{% block pageTitle %}

{% endblock %}
{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/filters.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% endblock %}

{% block content %}

  
   <style>
    .stats-card {
      border: 1px solid black; 
      box-sizing: border-box;
      
    }
    .stats-params {
      display: block;
      flex-direction: row;
    }
    
   </style>

<body class="govuk-template__body">
   <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

   <!-- Skip link -->
   <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>


   <!-- Main content -->
   <div class="govuk-width-container">
       <main class="govuk-main-wrapper" id="main-content" role="main">

           <!-- Page heading -->
           <div class="govuk-grid-row govuk-!-static-padding-bottom-6">
               <div class="govuk-grid-column-full">
                   <h1 class="govuk-heading-xl">Statistics</h1>
                   <p class="govuk-body">Enter a date range to view agent statistics.  These statitics are true as of [DATE TIMESTAMP].</p>
                   
               </div>
           </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <table class="govuk-table govuk-!-static-margin-bottom-1 govuk-!-static-margin-top-8">
              <caption class="govuk-table__caption govuk-table__caption--m">Overview <br><span class="govuk-hint">From [DATE] to [DATE] by task type</span></caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header " style="width: 300px">Task type</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric ">Allocated</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric ">Active </th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric ">Completed </th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Initial Call</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">25</td> 
                  <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Call back</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">25</td> 
                  <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                </tr>
              </tbody>
              <tfoot class="govuk-table__row">
                <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Total</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">25</td> 
                <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
              </tfoot>
            </table>
            <a href="team-stats-detail">view daily breakdown by task type</a>
            </div>
          </div>

          
      
      <div class="govuk-grid-row govuk-!-static-padding-top-6">
        <div class="govuk-grid-column-full">
        <table class="govuk-table govuk-!-static-margin-top-8 govuk-!-static-margin-bottom-1">
          <caption class="govuk-table__caption govuk-table__caption--m">Agent statistics <br><span class="govuk-hint">From [DATE] to [DATE]</span> </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header " style="width: 300px">Agent</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric ">Allocated</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric ">Active </th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric ">Completed </th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric ">Actions </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Oliver Logan</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">25</td> 
              <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="agent-stats-detail">view in manage tasks</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Georgia Duncan</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">25</td> 
              <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="agent-stats-detail">view</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Hassan Young</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">25</td> 
              <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="agent-stats-detail">view</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Aiden Jenkins</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">25</td> 
              <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="agent-stats-detail">view</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Amy Anderson</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">25</td> 
              <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="agent-stats-detail">view</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Amy Adams</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">25</td> 
              <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="agent-stats-detail">view</a></td>
            </tr>
          </tbody>
          <tfoot class="govuk-table__row">
            <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Total</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">25</td> 
            <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">13</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="agent-stats-detail"></a></td>
          </tfoot>
        </table>
        <a href="team-stats-detail">download as csv</a>
      </div>
    </div>

         
          </div>
       </main>
   </div>
</body>
{% endblock %}