{% extends "layouts/new-main.html" %}

{% set pageName = "Reasons for returning tasks" %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
 

      <form method="post" novalidate>

        {{ govukRadios({
          id: "admin[changePermissions]",
          name: "admin[changePermissions]",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select an option to change the feature permissions for this organisation."
          },
          value: data.admin.changePermissios,
          items: [
            {
              value: "on",
              text: "On"
            },
            {
              value: "off",
              text: "Off"
            }
          ]
        }) }}
        

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
        
          {{ govukButton({
            text: "Skip",
            classes: "govuk-button--secondary",
            href: "organisation-unit-details"
          }) }}
        </div>

      </form>
    </div>
  </div>
{% endblock %}



