
{% extends "layouts/main.html" %}

{% set pageName = "Enter organisation details?" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
      {
        text: "Enter an organisation unit ID",
        href: "#ScenarioOne"
      },
      {
        text: "Enter an organisation unit name",
        href: "#ScenarioTwo"
      },
      {
        text: "Enter a URL with a protocol (https://), a host (www.) and without spaces",
        href: "#ScenarioThree"
      }
    ]
  }) }}

  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{pageName}}</h1>


      {{ govukInput({
        id: "ScenarioOne",
        name: "organisationUnitId",
        label: {
          text: "Organisation unit ID",
          isPageHeading: true,
          classes: "govuk-label--s"
        },
        hint: {
          text: "For example, personal-independence-payment"
        },
        errorMessage: {
          text: "Enter an organisation unit ID"
        },
        value: data.organisation.unit.id
      }) }}
    

     {{ govukInput({
        id: "ScenarioTwo",
        name: "ordanisationUnitName",
        label: {
          text: "Organisation unit name",
          isPageHeading: true,
          classes: "govuk-label--s"
        },
        hint: {
          text: "For example, Personal Independence Payment(PIP)"
        },
        errorMessage: {
          text: "Enter an organisation unit name"
        },
        value: data.ordanisation.unit.name
      }) }}

      {{ govukInput({
        id: "organisationUnitName",
        name: "organisationUnitName",
        label: {
          text: "Organisation service URL (optional)",
          isPageHeading: true,
          classes: "govuk-label--s"
        },
        hint: {
          text: "For example, https://www.gov.uk"
        },
        errorMessage: {
          text: "Enter a URL with a protocol (https://), a host (www.) and without spaces"
        },
        value: data.organisation.unit.name
      }) }}

      {{ govukButton({
        text: "Continue",
        href: "add-matching-criteria"
      }) }}
      

    </div>
  </div>


  
            
      
{% endblock %}