
{% extends "layouts/main.html" %}

{% set pageName = "Enter organisation details?" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{pageName}}</h1>


      {{ govukInput({
        id: "organisationUnitId",
        name: "organisationUnitId",
        label: {
          text: "Organisation unit ID",
          isPageHeading: true,
          classes: "govuk-label--s"
        },
        hint: {
          text: "For example, personal-independence-payment"
        },
        value: data.organisation.unit.id
      }) }}
    

     {{ govukInput({
        id: "ordanisationUnitName",
        name: "ordanisationUnitName",
        label: {
          text: "Organisation unit name",
          isPageHeading: true,
          classes: "govuk-label--s"
        },
        hint: {
          text: "For example, Personal Independence Payment(PIP)"
        },
        value: data.ordanisation.unit.name
      }) }}

      {{ govukInput({
        id: "organisationUnitName",
        name: "organisationUnitName",
        label: {
          text: "Organisation service URL (optional)",
          isPageHeading: true,
          classes: "govuk-label--s"
        },
        hint: {
          text: "For example, https://www.gov.uk"
        },
        value: data.organisation.unit.name
      }) }}

      {{ govukButton({
        text: "Continue",
        href: "add-matching-criteria"
      }) }}

    </div>
  </div>

  
            
      
{% endblock %}