
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Maternity Allowance groups
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="maternity-manage">Back</a>
{% endblock %}

{% block content %}
<a href="create-group"
  <button class="govuk-button" data-module="govuk-button" style="float: right;">Create new group</button> </a>

<div class="govuk-width-container">
  <h1 class="govuk-heading-l">Maternity Allowance groups</h1>
  
  <p>Create and manage groups of team members. Team members can claim tasks as a member of a group.</p>
  &nbsp;


 <!--<h2 class="blueheading">Your groups</h2>-->

  
  <div class="box">
    <h2 class="govuk-heading-m"><a href="group-admin">Admin</a></h2>
    <p>The team members in this group are grade AA. They can process proof of income for Maternity Allowance claimants.</p>
  </div>
</div>
&nbsp;
{% endblock %}

