
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Maternity Allowance groups
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="maternity-manage">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <h1 class="govuk-heading-l">Maternity Allowance task types</h1>
  
  <p>Manage Maternity Allowance task types. These are common items of routine work.</p>


  <!--<h2 class="blueheading">Your task types</h2>-->
  &nbsp;

  
  <div class="box5">
    <h2 class="govuk-heading-m"><a href="template-change-address">Change a claimant's address</a></h2>
  </div>
</div>

<div class="govuk-width-container">
&nbsp;
  <div class="box5">
    <h2 class="govuk-heading-m"><a href="#">Add a claimant's proof of income</a></h2>
  </div>
</div>


&nbsp;
{% endblock %}

