{% extends "layouts/main.html" %}

{% block pageTitle %}
I cannot find the person I'm looking for
{% endblock %}


{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        I cannot find the person I'm looking for
      </h1>

      <h3 class="govuk-heading-m">
        Get help with your search
      </h3>

      <p>If you cannot find the person you're looking for:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Check their details and try again</li>
        <li>
          Search by email or staff number if name doesn't show results</li>
          <li><a href="#">Tell the Task support team about this problem</a></li>
      </ul>
        &nbsp;
    </div>
</div>
   

  <a href="add-team-member"</a>
    <button class="govuk-button govuk-button--primary" data-module="govuk-button">
Search again   </button>
</div>

  </div>
{% endblock %}