{% extends "layouts/main.html" %}

{% block pageTitle %}
Create a group
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">
    Back
  </a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class=govuk-grid-column-two-thirds>
          
      <form class="form" action="create-group2" method="post">
        <h1 class="govuk-heading-l">
          Create a group
        </h1>
        <p>Create a group of team members.</p> 
        <p>Team members will get tasks that match to this group.</p>
        &nbsp;
  
        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          id: "group name",
          name: "group-name",
          value: data['group-name'],
          label: {
            text: "Group name",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "Write your group name in sentence case. You can combine letters and numbers. If using an acronym, use capitals."
          }
        }) }}
     
  
        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
        {{ govukTextarea({
          name: "group-description",
          value: data['group-description'],
          id: "group description",
          label: {
            text: "Group description (optional)",
            classes: "govuk-label--s",
            isPageHeading: true
          },
          hint: {
            text: "For example, 'The team members in this group are decision makers. They have responsibility for customer decisions.'"
          }
        }) }}
  
        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}