{% extends "layouts/main.html" %}

{% block pageTitle %}
Change a claimant's address
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<div class=spacer1></div>
{{ govukBreadcrumbs({
  items: [
    {
      text: "Maternity allowance home",
      href: "maternity-dashboard"
    },
    {
      text: "Set up and manage team",
      href: "maternity-manage"
    },
    {
      text: "Task types",
      href: "task-templates-home"
    }
  ]
}) }}
{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">

    </div>

<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">Change a customer's address</h1>
  <p>Manage the details for task type Change a customer’s address.</p>
  &nbsp;

  <h2 class="govuk-heading-m" id="subsection-title">
    Team members
  </h2>
 <p>Based on the criteria you chose for groups or individuals, these team members match to this task type.</p>
 <ul class="govuk-list govuk-list--bullet">
  <li>Amy Anderson (Andi)</li>
  <li>Dmitrij Ivanov</li>
  <li>Julia Nguyen</li>
</ul>

 
  <h2 class="govuk-heading-m">Task type details</h2>
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Task type name"
            },
            value: {
              text: "Change a customer's address"
            },
            
            actions: {
              items: [
                {
                  visuallyHiddenText: "task type name"
                }
              ]
            }
          }
          ,
          
          {
            key: {
              text: "Priority level"
            },
            value: {
              text: "Medium"
            },
            actions: {
              items: [
                {
                  href: "task-templates-priority",
                  text: "Change",
                  visuallyHiddenText: "priority level"
                }
              ]
            }
          },
          {
            key: {
              text: "Must complete in"
            },
            value: {
              text: "5 days"
            },
            actions: {
              items: [
                {
                  href: "task-templates-sla-yn",
                  text: "Change",
                  visuallyHiddenText: "must complete in"
                }
              ]
            }
          }
         
        ]
      }) }}

    
          <h2 class="govuk-heading-m">Task matching criteria</h2>
<p>Tasks that are already in progress will not be affected by changes you make to matching criteria.</p>
          {{ govukSummaryList({
            classes: 'govuk-!-margin-bottom-9',
            rows: [
              {
                key: {
                  text: "Grade"
                },
                value: {
                  text: "AA, AO"
                },
                
                actions: {
                  items: [
                    {
                      href: "change-mc-grade",
                      text: "Change",
                      visuallyHiddenText: "grade"
                    }
                  ]
                }
              }
              ,
              
              {
                key: {
                  text: "Language"
                },
                value: {
                  text: "Welsh"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "language"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Location"
                },
                value: {
                  text: "England"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "location"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Office ID"
                },
                value: {
                  text: "Bristol"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "job grades"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Role"
                },
                value: {
                  text: "Decision maker"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "welsh"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Working pattern"
                },
                value: {
                  text: "M-F PM"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "working pattern"
                    }
                  ]
                }
              }
            ]
          }) }}
        </div>
      </div>
 

      <form action="task-templates-home" method="post" novalidate>

        <input type="hidden" name="task-templates-home" value="true">



        <div class="govuk-button-group">
          <a href="task-templates-home" "=""">
            <button class="govuk-button" data-module="govuk-button">Confirm</button></a>
          <a href="javascript:window.history.back()" "=""">
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Back</button>

      </div>
      &nbsp;
    </form>
    </div>
  </div>
  </div>
{% endblock %}