{% extends "layouts/main.html" %}

{% block pageTitle %}
 {{pageName}}
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "home-agent"
  }) }}

{% endblock %}
{% set pageName = "You do not have access to any organisation units" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          {{pageName}}
        </h1>

        <p>
          You have not yet been added to an organisation unit in DWP Task by your service manager.
        </p>

        <p>
          Please ask your service manager to add you to at least one organisation unit.
        </p>

    </div>
  </div>
          
       
            
           

 
{% endblock %}