{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% set pageName = "Add agents" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block pageTitle %}
  Add agents
{% endblock %}

{% block header %}

  <header data-module="govuk-header" class="dwp-header">
    <div class="dwp-header__content govuk-width-container">
      <div class="dwp-header__service-name">
        <a href="/" class="dwp-header__link">{{serviceName}}</a>
      </div>
      <div class="dwp-header__service-action">
          <p class="header_right-panel"><span>National Mailbox</span> | <a class="dwp-header__link" href="select-user-sr">Working as a Service Manager</a></p>
      </div>
    </div>
  </header> 

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new private beta service - help us to improve it by telling us your  <a class="govuk-link" href="feedback">feedback</a>.',
        classes: 'govuk-width-container govuk-!-margin-bottom-3'
      }) }} 
  </div> 

{% endblock %}


 {% block pageScripts %}

  <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
  <script type="text/javascript" src="/public/javascripts/teams.js"></script>
  <script>
    const teamMembers = [
      "Aiden Jenkins, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Amy Anderson, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Amy Adams, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Amy Johnston, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Ben Hoad, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Joel Odonnell, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Oliver Logan, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Dan Hayes, 12345678, G4S DWP Contact Center",
      "Kathleen Lin, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Darren Lowery, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Kamran Roth, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Amaan Hubbard, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Sally Whitaker, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Georgia Duncan, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Jean Booker, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Kaine Bell, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Arjan Sharp, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Bianca Nicholson, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Brett Henderson, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Hassan Young, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Sonia Pruitt, 12345678, email@dwp.gov.uk, G4S DWP Contact Center",
      "Erica Fernandez, 12345678, email@dwp.gov.uk, G4S DWP Contact Center"
    ]

    accessibleAutocomplete({
      element: document.querySelector('#searchAgent'),
      id: 'searchAgent', // To match it to the existing <label>.
      CSSNamespace: 'test',
      source: teamMembers,
      templates: {
        inputValue: function (suggestion) {
          return suggestion
        },
        suggestion: function (suggestion) {
          const parts = suggestion.split(", ");
          return `${parts[0]}, ${parts[1]}, ${parts[2]}, ${parts[3]}`
       
        }
      }
    })
  </script>
{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/accessible-autocomplete.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}


<div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{pageName}}</h1>
        <p class="govuk-body-m">Add an agent and set their matching criteria.</p>
        <p class="govuk-body-m">When you have set up an agent you can change their group membership, update their matching criteria, or remove them.</p>
        

          <label class="govuk-label govuk-label--m" for="searchb">Find a team member</label>
            <div id="event-name-hint" class="govuk-hint">
              Use their name or staff number
            </div>
          <div id="searchAgent" class="govuk-input--width-30"></div>

          <div class="govuk-button-group govuk-!-static-margin-top-3">
            {{ govukButton({
              text: "Add an agent",
              href: "check-this-is-the-right-agent"
            }) }}
          </div>


        {{ govukDetails({
          summaryText: "I cannot find the agent I am looking for",
          html: "
          <h2 class='govuk-heading-m'>I cannot find the agent I'm looking for</h2>
          <h3 class='govuk-heading-s'>Get help with your search</h3>
          <p>If you cannot find the agent you're looking for:</p>
            <ul class='govuk-list govuk-list--bullet'>
              <li>
                Check their details and try again - search by email or staff number if their name doesn't show results
              </li>
              <li>
                If they are a new starter, wait 24 hours and try again
              </li>
              <li>
                If they are not a new starter, or if they are and you’ve waited 24 hours,  <a href='#'' class='govuk-link'>report an incident on Tech Place</a>
              </li>
            </ul> 
          "
        }) }} 

        {{ govukInsetText({
          text: "There are 8 agents in the team"
        }) }}
      
      </div>

    </div>

</div>

{% endblock %}


