{% extends "layouts/new-main.html" %}

{% set pageName = "What would you like to do next?" %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "manage-org-b"
  }) }}

{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>

        {{ govukRadios({
          id: "add[agents][or][manage]",
          name: "add[agents][or][manage]",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.add.agents.or.manage,
          items: [
            {
              value: "Add agents",
              text: "Add agents"
            },
            {
              value: "View or remove agents",
              text: "View or remove agents"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}



