{% extends "layouts/main.html" %}

{% block pageTitle %}
 {{pageName}}
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% set pageName = "You cannot remove this user yet" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

        <h1 class="govuk-heading-l">
          {{pageName}}
        </h1>

        <p>
          To remove this user from your organisation, you must first return all of their assigned tasks to the queue in 'View and manage tasks'.
        </p>

        <p>
          After you have returned the tasks, go back to the user profile and try removing them again.
        </p>
          
        {{ govukButton({
          text: "Review and return tasks",
          href: "/end-to-end-prototype/v1/service-manager/view-and-manage-tasks/search-results"
        }) }}

    </div>
  </div>
          
       
            
           

 
{% endblock %}