{% extends "layouts/main.html" %}

{% block pageTitle %}
 {{pageName}}
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% set pageName = "You cannot remove this user yet" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

        <h1 class="govuk-heading-l">
          {{pageName}}
        </h1>

        <p>
          You cannot remove this user because they have assigned tasks.
        </p>

        <p>
          To return their tasks to the queue:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            go to <a href="/end-to-end-prototype/v1/service-manager/view-and-manage-tasks/search-results" class="govuk-link">'View and manage tasks'</a>
          </li>
          <li>
            search for the user using today's date
          </li>
          <li>
            return all of their assigned tasks to the queue
          </li>
        </ul>

        <p>Once you have done this, go back to the user profile and remove the user from the organisation.</p>

        {# {{ govukButton({
          text: "Review and return tasks",
          href: "/end-to-end-prototype/v1/service-manager/view-and-manage-tasks/search-results"
        }) }} #}

    </div>
  </div>
          
       
            
           

 
{% endblock %}