{% extends "layouts/main.html" %}

{% block pageTitle %}
 {{pageName}}
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% set pageName = "You cannot remove this user yet" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

        <h1 class="govuk-heading-l">
          {{pageName}}
        </h1>

        <p>
          You cannot remove this user because they have assigned tasks.
        </p>

        <p>
          You need to return all their active, allocated and on hold tasks to the queue in 'View and manage tasks'.
        </p>

        <h2 class="govuk-heading-m">Reviewing and returning tasks to the queue</h2>

        <ul class="govuk-list govuk-list--bullet govuk-list--number">
          <li>
            Go to 'View and manage tasks' - the link will pre-populate the correct user ID and date range.
          </li>
          <li>
            Select ‘Active’ as the status.
          </li>
          <li>
            Select 'Search'.
          </li>
          <li>
            Review and return any tasks to the queue.
          </li>
          <li>
            Repeat these steps selecting 'Allocated' as the status.
          </li>
          <li>
            Repeat these steps selecting 'On hold' as the status.
          </li>
        </ul>

        <p>
          Once you have done this, go back to the user profile and remove the user from the organisation.
        </p>

        {{ govukButton({
          text: "View and manage tasks",
          href: "/end-to-end-prototype/v1/service-manager/view-and-manage-tasks/search-results"
        }) }}

    </div>
  </div>
          
       
            
           

 
{% endblock %}