{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% set pageName = "Add and manage agents" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block pageTitle %}
  Add and manage agents
{% endblock %}

{% block header %}

  <header data-module="govuk-header" class="dwp-header">
    <div class="dwp-header__content govuk-width-container">
      <div class="dwp-header__service-name">
        <a href="/" class="dwp-header__link">{{serviceName}}</a>
      </div>
      <div class="dwp-header__service-action">
          <p class="header_right-panel"><span>National Mailbox</span> | <a class="dwp-header__link" href="select-user-sr">Working as a Service Manager</a></p>
      </div>
    </div>
  </header> 

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: 'This is a new private beta service - help us to improve it by telling us your  <a class="govuk-link" href="feedback">feedback</a>.',
        classes: 'govuk-width-container govuk-!-margin-bottom-3'
      }) }} 
  </div> 

{% endblock %}



{% block content %}

{% if data['showBannerTwo']%}
  {% set html %}
    <h3 class="govuk-notification-banner__heading">
      You have made changes to James Burton's details
    </h3>
  {% endset %}

  {{ govukNotificationBanner({
    html: html,
    type: "success"
  }) }}
{% endif %}


<div class="govuk-width-container">
 

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{pageName}}</h1>
        <p class="govuk-body-m">Add an agent and set their matching criteria.</p>
        <p class="govuk-body-m">When you have set up an agent you can change their group membership, update their matching criteria, or remove them.</p>

        {{ govukInput({
          id: "",
          name: "",
          label: {
            text: "Search",
            isPageHeading: false,
            classes: "govuk-label--m"
          },
          hint: {
            text: "Use name, staff number, or email."
          },
          classes: "govuk-input--width-20",
          value: data.search
        }) }}
        
          {{ govukButton({
            text: "Add an agent",
            href: "manage-agents-add-an-agent"
          }) }}

        {{ govukDetails({
          summaryText: "I cannot find the agent I am looking for",
          text: "The text is comming soon."
        }) }}

        <h2 class="govuk-heading-m govuk-!-margin-top-8">Benefits One QA</h2>
        <p class="govuk-body-m">Use the filter to find agents and update their details.</p>

        <div class="govuk-form-group">

          <label class="govuk-label govuk-label--s" for="input-filter">Filter agents</label>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-20 govuk-!-margin-right-2" id="input-filter" name="inputFilter" type="text" value="">
            <button class="govuk-button govuk-button--secondary" type="submit" value="Filter" data-module="govuk-button">Filter</button>
          </div>

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Benefits One QA</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Agents</th>
                <th scope="row" class="govuk-table__header">Staff number</th>
              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr>
                <td class="govuk-table__cell" scope="row"><a href="#">Performance Team-Lead (performance.team-lead1)</a></td>
                <td class="govuk-table__cell" scope="row">100100200</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row"><a href="#">Performance Tester (00090001)</a></td>
                <td class="govuk-table__cell" scope="row">00090001</td>
              </tr>

              <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row"><a href="#">Performance Tester (00090002)</a></td>
                  <td class="govuk-table__cell" scope="row">00090002</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row"><a href="#">Performance Tester (00090003)</a></td>
                <td class="govuk-table__cell" scope="row">00090003</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row"><a href="#">Performance Tester (00090004)</a></td>
                <td class="govuk-table__cell" scope="row">00090004</td>
              </tr>
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row"><a href="#">Performance Tester (00090005)</a></td>
                  <td class="govuk-table__cell" scope="row">00090005</td>
              </tr>
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row"><a href="#">Performance Tester (00090006)</a></td>
                  <td class="govuk-table__cell" scope="row">00090006</td>
              </tr>
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row"><a href="#">Performance Tester (00090007)</a></td>
                  <td class="govuk-table__cell" scope="row">00090007</td>
              </tr>
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row"><a href="#">Performance Tester (00090008)</a></td>
                  <td class="govuk-table__cell" scope="row">00090008</td>
              </tr>
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row"><a href="#">Performance Tester (00090009)</a></td>
                  <td class="govuk-table__cell" scope="row">00090009</td>
              </tr>
            </tbody>

          </table>
        </div>

        {{ govukPagination({
          next: {
            href: "#"
          },
          items: [
            {
              number: 1,
              current: true,
              href: "#"
            },
            {
              number: 2,
              href: "#"
            },
            {
              number: 3,
              href: "#"
            }
          ]
        }) }}
      
      </div>

      <div class="govuk-grid-column-one-quarter">
        <div class="stats-card">
          <div class="stats-card__number govuk-heading-xl">218</div>
          <div class="stats-card__label govuk-body">total count of agents</div>
        </div>
      </div>

    </div>

</div>

{% endblock %}


