
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
  
{% block header %}


<header data-module="govuk-header" class="dwp-header">
  <div class="dwp-header__content govuk-width-container">
    <div class="dwp-header__service-name">
      <a href="/" class="dwp-header__link">{{serviceName}}</a>
    </div>
    <div class="dwp-header__service-action">
        <p class="header_right-panel"><span>National Mailbox</span> | <a class="dwp-header__link" href="select-user-sr">Working as a Service Manager</a></p>
    </div>
 
  </div>
</header> 

<div class="govuk-width-container">
  {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new private beta service - help us to improve it by telling us your  <a class="govuk-link" href="feedback">feedback</a>.',
      classes: 'govuk-width-container govuk-!-margin-bottom-3'
    }) }} 
</div> 

{% endblock %}

{% block pageTitle %}
  Service manager home
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "DWP Task dashboard",
        href: "home-service-manager_as_sr"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <h1 class="govuk-heading-l">Manage Org B setup</h1>
  <div class="box">
      <h2 class="govuk-heading-m"><a href="manage-agents">Add and manage agents</a></h2>
      <p>Add and manage agents, the groups they are in or their individual attributes. Agent must be added to Org B before they can be added to their team.</p>
  </div>
</div>

<div class="govuk-width-container">
  &nbsp;
    <div class="box">
      <h2 class="govuk-heading-m"><a href="groups-home">Add and manage groups</a></h2>
      <p>Add and manage groups for agents who do the same task. Agents is the same group will be able to claim the same task types.</p>
    </div>
</div>

<div class="govuk-width-container">
  &nbsp;
    <div class="box">
      <h2 class="govuk-heading-m"><a href="#">Add and manage task types</a></h2>
      <p>Add and manage task types in Org B.</p>
    </div>
</div>

<div class="govuk-width-container">
  &nbsp;
    <div class="box">
      <h2 class="govuk-heading-m"><a href="#">View and manage teams</a></h2>
      <p>Add or remove agents and team leaders, or delete teams in Org B.</p>
    </div>
</div>


&nbsp;

{% endblock %}


