{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
  
{% block header %}


<header data-module="govuk-header" class="dwp-header">
  <div class="dwp-header__content govuk-width-container">
    <div class="dwp-header__service-name">
      <a href="/" class="dwp-header__link">{{serviceName}}</a>
    </div>
    <div class="dwp-header__service-action">
        <p class="header_right-panel"><span>National Mailbox</span> | <a class="dwp-header__link" href="select-user-sr">Working as a Service Manager</a></p>
    </div>
 
  </div>
</header> 

<div class="govuk-width-container">
  {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new private beta service - help us to improve it by telling us your  <a class="govuk-link" href="feedback">feedback</a>.',
      classes: 'govuk-width-container govuk-!-margin-bottom-3'
    }) }} 
</div> 

{% endblock %}

{% block pageTitle %}
  Change task type ucnm-task-type
{% endblock %}

{% block beforeContent %}

 {{ govukBackLink({
  text: "Back",
  href: "add-and-manage-task-type"
 }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Change task type ucnm-task-type</h1>

    <p>Change task matching criteria for task type Alternative Payment Arrangements.</p>

    <form method="post" novalidate>

    {{ govukCheckboxes({
      name: "changeTaskType",
      fieldset: {
        legend: {
          text: "ucnm-task-type",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: ""
      },
      values: data.changeTaskType,
      items: [
        {
          value: "One",
          text: "employment-and-support-allowance-appeals"
        },
        {
          value: "Two",
          text: "third-party-council-tax-revokes"
        },
        {
          value: "Three",
          text: "migration-gather-proforma-1-local-authority-overlaps"
        },
        {
          value: "",
          text: "third-party-council-tax-deductions"
        },
        {
          value: "",
          text: "third-party-utilities-revokes"
        },
        {
          value: "",
          text: "hmrc-enquires"
        },
        {
          value: "",
          text: "third-party-court-fines-deductions"
        },
        {
          value: "",
          text: "third-party-scottish-water-revokes"
        }
      ]
    }) }}


    <div class="govuk-button-group">

      {{ govukButton({
        text: "Confirm",
        href: "task-type-one"
      }) }}
    
      {{ govukButton({
        text: "Back",
        classes: "govuk-button--secondary",
        href: "task-type-one"
      }) }}
    
    </div>

    </form>
  
  </div>
</div>


&nbsp;
{% endblock %}

