{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
  
{% block header %}


<header data-module="govuk-header" class="dwp-header">
  <div class="dwp-header__content govuk-width-container">
    <div class="dwp-header__service-name">
      <a href="/" class="dwp-header__link">{{serviceName}}</a>
    </div>
    <div class="dwp-header__service-action">
        <p class="header_right-panel"><span>National Mailbox</span> | <a class="dwp-header__link" href="select-user-sr">Working as a Service Manager</a></p>
    </div>
 
  </div>
</header> 

<div class="govuk-width-container">
  {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new private beta service - help us to improve it by telling us your  <a class="govuk-link" href="feedback">feedback</a>.',
      classes: 'govuk-width-container govuk-!-margin-bottom-3'
    }) }} 
</div> 

{% endblock %}

{% block pageTitle %}
  Check for change housing costs
{% endblock %}

{% block beforeContent %}

 {{ govukBackLink({
  text: "Back",
  href: "add-and-manage-task-type"
 }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Change task type name</h1>

    <p>The current task type name is Check for change housing costs.</p>

    <form method="post" novalidate>

    {{ govukInput({
      id: "change-task-type-name",
      name: "changeTaskTypeName",
      label: {
        text: "Task type name",
        isPageHeading: false,
        classes: "govuk-label--s"
      },
      hint: {
        text: "For example, Book assessment."
      },
      value: data.changeTaskTypeName or "Check for change housing costs"
    }) }}


    <div class="govuk-button-group">

      {{ govukButton({
        text: "Confirm"
      }) }}
    
      {{ govukButton({
        text: "Back",
        classes: "govuk-button--secondary",
        href: "task-type-one"
      }) }}
    
    </div>

    </form>
  
  </div>
</div>


&nbsp;
{% endblock %}

