{% extends "layouts/main.html" %}

{% block pageTitle %}
  Maternity dashboard
{% endblock %}

{% block content %}
<div class="spacer2"></div>

<div class="govuk-width-container">
  <button class="govuk-button" data-module="govuk-button" style="float: right;">Change unit</button>
  <h1 class="govuk-heading-l">Maternity tasks</h1>
  <div class="box">
    <h2 class="govuk-heading-m"><a href="maternity-tasks">Weekly overview</a></h2>
    <p></p>
  </div>
</div>

<div class="govuk-width-container">
&nbsp;
  <div class="box">
    <h2 class="govuk-heading-m"><a href="mat-stats">Statistics</a></h2>
    <p></p>
  </div>

</div>
&nbsp;
{% endblock %}


