{% extends "layouts/main.html" %}


{% set pageName = "View and manage tasks" %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">{{pageName}}</h1>
      <p class="govuk-body">To view any tasks, you must enter a date range. Enter from and to dates below.</p>

      <form novalidate method="post">

      {{ govukDateInput({
        id: "[teams][from]",
        fieldset: {
          legend: {
            text: "From",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "For example, 27 3 2024"
        },
        items: [
          {
            name: "date",
            label: "Day",
            value: data.day,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Month",
            value: data.month,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Year",
            value: data.year,
            classes: "govuk-input--width-4"
          }
        ]
      }) }}

      {{ govukDateInput({
        id: "date",
        fieldset: {
          legend: {
            text: "To",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "For example, 27 3 2024"
        },
        items: [
          {
            name: "date",
            label: "Day",
            value: data.day,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Month",
            value: data.month,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Year",
            value: data.year,
            classes: "govuk-input--width-4"
          }
        ]
      }) }}

      <p class="govuk-body">
        This will display tasks created in this date range.<br> Select an option below if you want to change this.
      </p>

      {{ govukRadios({
        name: "viewAndManageTasks[v1][DateRangeOption]",
        fieldset: {
          legend: {
            text: "Date range option",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        value: data.viewAndManageTasks.v1.DateRangeOption,
        items: [
          {
            value: "Created date",
            text: "Created date"
          },
          {
            value: "Completed date",
            text: "Completed date"
          },
          {
            value: "Due by date",
            text: "Due by date"
          }
        ]
      }) }}

      {{ govukRadios({
        name: "viewAndManageTasks[v1][status]",
        fieldset: {
          legend: {
            text: "Status (optional)",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        value: data.viewAndManageTasks.v1.status,
        hint: {text: "Select the status of the tasks you want to view"},
        items: [
          {
            value: "Allocated",
            text: "Allocated"
          },
          {
            value: "Closed",
            text: "Closed"
          },
          {
            value: "Completed",
            text: "Completed"
          },
          {
            value: "On hold",
            text: "On hold"
          }
        ]
      }) }}

      {{ govukRadios({
        name: "viewAndManageTasks[v1][priority]",
        fieldset: {
          legend: {
            text: "Priority",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        value: data.viewAndManageTasks.v1.priority,
        items: [
          {
            value: "High",
            text: "High"
          },
          {
            value: "Medium",
            text: "Medium"
          },
          {
            value: "Low",
            text: "Low"
          },
          {
            value: "Urgent",
            text: "Urgent"
          }
        ]
      }) }}

      {{ govukCheckboxes({
        name: "viewAndManageTasks[v1][team]",
        fieldset: {
          legend: {
            text: "Team",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "Open tasks against team"
        },
        values: data.viewAndManageTasks.v1.team,
        items: [
          {
            value: "Processing team 1",
            text: "Processing team 1"
          },
          {
            value: "Processing team 2",
            text: "Processing team 2"
          },
          {
            value: "Input team",
            text: "Input team"
          },
          {
            value: "Telephony",
            text: "Telephony"
          }
        ]
      }) }}
 

      {# Autocomplete start #}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half"> 

          {{ govukSelect({
            id: "viewAndManageTasks[v1][taskType]",
            name: "[teams][v1][taskType]",
            classes: "taskTypeAutocomplete",
            label: {
              text: "Task type (optional)",
              isPageHeading: false,
              classes: "govuk-label--s"
            },
            hint: {
              text: "Select the priority of the tasks you want to view"
            },
            value: data.viewAndManageTasks.v1.taskType,
            items: [
              {
                value: "",
                text: "Select"
              },
              {
                value: "Initial-review",
                text: "Initial-review"
              },
              {
                value: "Nil-claim",
                text: "Nil-claim"
              },
              {
                value: "Call-back",
                text: "Call-back"
              }
            ]
          }) }}

        </div>
      </div>
      {# Autocomplete ends #}

    

      {{ govukInput({
        id: "[teams][agent]",
        name: "[teams][agent]",
        label: {
          text: "Agent (optional)",
          isPageHeading: false,
          classes: "govuk-label--s"
        },
        classes: "govuk-input--width-20",
        hint: {
          html: "Enter name, staff number or email of the agent<br> whose tasks you want to view"
        },
        value: data.teams.agent
      }) }}

      {{ govukInput({
        id: "[teams][nino]",
        name: "[teams][nino]",
        label: {
          text: "National Insurance number (optional)",
          isPageHeading: false,
          classes: "govuk-label--s"
        },
        classes: "govuk-input--width-10",
        hint: {
          html: "Enter a customer's National Insurance number to view tasks<br> raised against this customer"
        },
        value: data.teams.nino
      }) }}

      {{ govukInput({
        id: "[teams][taskNumber]",
        name: "[teams][taskNumber]",
        label: {
          text: "Task number (optional)",
          isPageHeading: false,
          classes: "govuk-label--s"
        },
        classes: "govuk-input--width-10",
        hint: {
          html: "Enter the task number to view a specific task"
        },
        value: data.teams.taskNumber
      }) }}

     

      <div class="govuk-button-group">
        {{ govukButton({
          text: "View tasks",
          href: "tasks"
        }) }}
        <a href="#" class="govuk-link">Clear filters</a>
      </div>
      
      </form>

    </div>
</div>

{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('.taskTypeAutocomplete')
    })
  </script>
{% endblock %}


