{% extends "layouts/main.html" %}


{% set pageName = "Filter tasks" %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}
   <form novalidate method="post">

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{pageName}}</h1>
      <p class="govuk-body">Select a data range to view tasks that were created or completed between these dates, or that are due between these dates.</p>

      <form novalidate method="post">

      {% set customePeriodHtml %}
          {{ govukDateInput({
            id: "[teams][from]",
            fieldset: {
              legend: {
                text: "From",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "For example, 27 3 2024"
            },
            items: [
            {
              name: "date",
              label: "Day",
              classes: "govuk-input--width-2"
            },
            {
              name: "date",
              label: "Month",
              classes: "govuk-input--width-2"
            },
            {
              name: "date",
              label: "Year",
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "date",
          fieldset: {
            legend: {
              text: "To",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 27 3 2024"
          },
          items: [
            {
              name: "date",
              label: "Day",
              classes: "govuk-input--width-2"
            },
            {
              name: "date",
              label: "Month",
              classes: "govuk-input--width-2"
            },
            {
              name: "date",
              label: "Year",
              classes: "govuk-input--width-4"
            }
          ]
        }) }}
      {% endset -%}
    

      {{ govukRadios({
        name: "viewAndManageTasks[v1][date]",
        fieldset: {
          legend: {
            text: "Data",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "Select one option"
        },
        items: [
          {
            value: "today",
            text: "Today"
          },
          {
            value: "yesterday",
            text: "Yesterday"
          },
          {
            value: "Last seven days",
            text: "Last seven days"
          },
            {
            value: "Last month",
            text: "Last month"
          },
          {
            divider: "or"
          },
          {
            text: "Other",
            conditional: {
              html: customePeriodHtml
            }
          }
        ],
        value: "data.viewAndManageTasks.v1.date"
      }) }}

        {{ govukRadios({
        name: "viewAndManageTasks[v1][dateRangeOption]",
        fieldset: {
          legend: {
            text: "Date range option",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        value: data.viewAndManageTasks.v1.dateRangeOption,
        items: [
          {
            value: "Created date",
            text: "Created date"
          },
          {
            value: "Completed date",
            text: "Completed date"
          },
          {
            value: "Due by date",
            text: "Due by date"
          }
        ]
      }) }}


      <div class="govuk-button-group">
        {{ govukButton({
          text: "View tasks"
        }) }}
        <a href="#" class="govuk-link">Clear filters</a>
      </div>

      <h2 class="govuk-heading-m">Optional filters</h2>
      <p class="govuk-!-margin-bottom-6">You can select other optional filters to reduce the list of tasks you will see.</p>
      

       {{ govukInput({
        id: "[teams][agent]",
        name: "[teams][agent]",
        label: {
          text: "Agent (optional)",
          isPageHeading: false,
          classes: "govuk-label--s"
        },
        classes: "govuk-input--width-20",
        hint: {
          html: "Enter the name, staff number or email of the agent<br> whose tasks you want to view"
        },
        value: data.teams.agent
      }) }}

      {{ govukCheckboxes({
        name: "viewAndManageTasks[v1][status]",
        fieldset: {
          legend: {
            text: "Status (optional)",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "Select the status of the tasks you want to view"
        },
        values: data.viewAndManageTasks.v1.status,
        items: [
          {
            value: "Allocated",
            text: "Allocated"
          },
          {
            value: "Closed",
            text: "Closed"
          },
          {
            value: "Completed",
            text: "Completed"
          },
          {
            value: "On hold",
            text: "On hold"
          }
        ]
      }) }}

  </div> {# grid col close #}
</div> {# grid row close #}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    
      <div class="govuk-form-group" style="margin-bottom: 10px;">

          {{ govukInput({
            label: {
              text: "Task type (optional)",
              classes: "govuk-label--s",
              isPageHeading: false
            },
            hint: {
              text: "Select the type of tasks you want to view"
            },
            classes: "govuk-!-margin-bottom-0",
            id: "event-name",
            name: "eventName",
            values: data.viewAndManageTasks.v1.taskType
          }) }}
      </div>

      <div class="searchable-collection-component--only-scrollable govuk-!-margin-bottom-6">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
              Type A
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
              Type B
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
              Type C
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              Type D
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              Type E
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              Type F
            </label>
          </div>
        </div>
      </div>
        
     


      {{ govukCheckboxes({
        name: "viewAndManageTasks[v1][priority]",
        fieldset: {
          legend: {
            text: "Priority (optional)",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        values: data.viewAndManageTasks.v1.priority,
        hint: {
          text: "Select the priorities of the tasks you want to view"
        },
        items: [
          {
            value: "High",
            text: "High"
          },
          {
            value: "Medium",
            text: "Medium"
          },
          {
            value: "Low",
            text: "Low"
          },
          {
            value: "Urgent",
            text: "Urgent"
          }
        ]
      }) }}

     
      
     <div class="govuk-form-group" style="margin-bottom: 10px;">

          {{ govukInput({
            label: {
              text: "Team (optional)",
              classes: "govuk-label--s",
              isPageHeading: false
            },
            hint: {
              text: "Select one or more teams to view tasks those teams can work on"
            },
            classes: "govuk-!-margin-bottom-0",
            id: "event-name",
            name: "eventName"
          }) }}
      </div>

      <div class="searchable-collection-component--only-scrollable govuk-!-margin-bottom-6">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
              Team one
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
              Team two
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
              Team three
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              Team four
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              Team five
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              Team six
            </label>
          </div>
        </div>
      </div>

    </div> {# grid col close #}
</div> {# grid row close #}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukInput({
        id: "[teams][nino]",
        name: "[teams][nino]",
        label: {
          text: "National Insurance number (optional)",
          isPageHeading: false,
          classes: "govuk-label--s"
        },
        classes: "govuk-input--width-10",
        hint: {
          html: "Enter a customer's National Insurance number to view tasks<br> raised against this customer"
        },
        value: data.teams.nino
      }) }}

      {{ govukInput({
        id: "[teams][taskNumber]",
        name: "[teams][taskNumber]",
        label: {
          text: "Task number (optional)",
          isPageHeading: false,
          classes: "govuk-label--s"
        },
        classes: "govuk-input--width-10",
        hint: {
          html: "Enter a task number to view that task"
        },
        value: data.teams.taskNumber
      }) }}

     

      <div class="govuk-button-group">
        {{ govukButton({
          text: "View tasks"
        }) }}
        <a href="#" class="govuk-link">Clear filters</a>
      </div>
      
      </form>
      <a href="find-tasks-v3" class="govuk-link">Version with optional filters</a>
    </div> {# grid col close #}
</div> {# grid row close #}

</form>

{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('.taskTypeAutocomplete')
    })
  </script>
{% endblock %}


