{% extends "layouts/main.html" %}

{% set pageName = "View and manage tasks" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{pageName}}</h1>
        <p class="govuk-body">This displays tasks created in a given date range. 
          You can view tasks completed or due in this date range, by selecting the relevant date range option under Filters.
        </p>
      </div>
    </div>


    <table class="govuk-table" data-module="moj-sortable-table">
      <caption class="govuk-table__caption">20 tasks between 25 Jul 20025 and 27 Jul 2025</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Created</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Due</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Task type</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Customer</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">NINo</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Agent</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Priority</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Status</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Team</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">19 Nov 2025</td>
          <td class="govuk-table__cell" data-sort-value="">20 Nov 2025
            {{govukTag({
              text: "Overdue",
              classes: "govuk-tag--red govuk-!-margin-top-1"
            })}}
          </td>
          <td class="govuk-table__cell">Nil-claim</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">DE568833V</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">Not applicable</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="239856">239856</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">None</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">20 Nov 2025 9:25
            {{govukTag({
              text: "On hold",
              classes: "govuk-tag--yellow govuk-!-margin-top-1"
            })}}
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">Processing team 2</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value=""><a href="#" class="govuk-link">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">18 Nov 2025</td>
          <td class="govuk-table__cell" data-sort-value="">19 Nov 2025
            {{govukTag({
              text: "Overdue",
              classes: "govuk-tag--red govuk-!-margin-top-1"
            })}}
          </td>
          <td class="govuk-table__cell">Nil-claim</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">GH568833V</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">Not applicable</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="129856">129856</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">None</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">19 Nov 2025 9:25
            {{govukTag({
              text: "On hold",
              classes: "govuk-tag--yellow govuk-!-margin-top-1"
            })}}
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">Processing team 2</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value=""><a href="#" class="govuk-link">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">17 Nov 2025</td>
          <td class="govuk-table__cell" data-sort-value="">18 Nov 2025
            {{govukTag({
              text: "Overdue",
              classes: "govuk-tag--red govuk-!-margin-top-1"
            })}}
          </td>
          <td class="govuk-table__cell">Nil-claim</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">HG568833V</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">Not applicable</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="339856">129856</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">None</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">18 Nov 2025 9:25
            {{govukTag({
              text: "On hold",
              classes: "govuk-tag--yellow govuk-!-margin-top-1"
            })}}
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">Processing team 2</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value=""><a href="#" class="govuk-link">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">16 Nov 2025</td>
          <td class="govuk-table__cell" data-sort-value="">17 Nov 2025
            {{govukTag({
              text: "Overdue",
              classes: "govuk-tag--red govuk-!-margin-top-1"
            })}}
          </td>
          <td class="govuk-table__cell">Nil-claim</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">JC568833V</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">Not applicable</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">899856</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">None</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">17 Nov 2025 9:25
            {{govukTag({
              text: "On hold",
              classes: "govuk-tag--yellow govuk-!-margin-top-1"
            })}}
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">Processing team 2</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value=""><a href="#" class="govuk-link">View</a></td>
        </tr>
      </tbody>
    </table>

      
    </div>
</div>


{% endblock %}


