{% extends "layouts/main.html" %}

{% set pageName = "Tasks" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">{{pageName}}</h1>
      {{ govukSelect({
        id: "[teams][sortBy]",
        name: "[teams][sortBy]",
        label: {
          text: "Sort by",
          isPageHeading: false,
          classes: "govuk-label--s"
        },
        value: data.teams.sortBy,
        items: [
          {
            value: "",
            text: "Select"
          },
          {
            value: "Created, earliest to latest",
            text: "Created, earliest to latest"
          },
          {
            value: "Created, latest to earliest",
            text: "Created, latest to earliest"
          },
          {
            value: "Priority, low to critical",
            text: "Priority, low to critical"
          },
          {
            value: "Priority critical to low",
            text: "Priority critical to low"
          },
          {
            value: "Due, earliest to latest",
            text: "Due, earliest to latest"
          },
          {
            value: "Due, latest to earliest",
            text: "Due, latest to earliest"
          },
          {
            value: "Completed, earliest to latest",
            text: "Completed, earliest to latest"
          },
          {
            value: "Completed, latest to earliest",
            text: "Completed, latest to earliest"
          }
        ]
      }) }}

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">3 tasks between 1 October 2025 and 25 October 2025</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Select</th>
            <th scope="col" class="govuk-table__header">Created</th>
            <th scope="col" class="govuk-table__header">Due</th>
            <th scope="col" class="govuk-table__header">Task</th>
            <th scope="col" class="govuk-table__header">National Insurance<br> Number</th>
            <th scope="col" class="govuk-table__header">Agent</th>
            <th scope="col" class="govuk-table__header">Priority</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Details</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                  </label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">21 Oct 2025</td>
            <td class="govuk-table__cell">27 Oct 2025</td>
            <td class="govuk-table__cell">gbclaim</td>
            <td class="govuk-table__cell">Not appliable</td>
            <td class="govuk-table__cell">Alan Smith</td>
            <td class="govuk-table__cell">None</td>
            <td class="govuk-table__cell">
              {{govukTag({text: "IN PROGRESS", classes: "govuk-tag--yellow" })}}
            </td>
            <td class="govuk-table__cell"><a href="task">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                  </label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">21 Oct 2025</td>
            <td class="govuk-table__cell">27 Oct 2025</td>
            <td class="govuk-table__cell">gbclaim</td>
            <td class="govuk-table__cell">Not appliable</td>
            <td class="govuk-table__cell">Alan Carr</td>
            <td class="govuk-table__cell">None</td>
            <td class="govuk-table__cell">
              {{govukTag({text: "ACTIVE", classes: "govuk-tag--green" })}}
            </td>
            <td class="govuk-table__cell"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                  </label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">21 Oct 2025</td>
            <td class="govuk-table__cell">27 Oct 2025</td>
            <td class="govuk-table__cell">gbclaim</td>
            <td class="govuk-table__cell">Not appliable</td>
            <td class="govuk-table__cell">Unknown</td>
            <td class="govuk-table__cell">None</td>
            <td class="govuk-table__cell">
              {{govukTag({text: "ON HOLD", classes: "govuk-tag--grey" })}}
            </td>
            <td class="govuk-table__cell"><a href="#">View</a></td>
          </tr>
        </tbody>
      </table>

      {{ govukButton({
        text: "Bulk update tasks",
        href: "bulk-update-tasks"
      }) }}
      
    </div>
</div>


{% endblock %}


