{% extends "layouts/main.html" %}

{% set pageName = "Call customer for Sarah Philips" %}

{% block header %}
  {% include "_includes/header.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
      items: [
        {
          text: "DWP Task dashboard",
          href: "tasks"
        },
        {
          text: "View and manage tasks",
          href: "task"
        }
      ]
    }) }}
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">{{pageName}}</h1>

     
      <p class="govuk-body">You can make changes to the due date, priority, and who is working on the task.</p>

      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Customer
          </dt>
          <dd class="govuk-summary-list__value">
            Sarah Philips
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance Number
          </dt>
          <dd class="govuk-summary-list__value">
            QQ 12 34 56 B8
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Task
          </dt>
          <dd class="govuk-summary-list__value">
            1 for orgunit_b
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Task Number
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">67c7156789976544fg5567a</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date finished
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">23 October 2024</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Due
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">20 Oct 2025</p>
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="change-due-date-and-time">Change<span class="govuk-visually-hidden">Due</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Created
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">23 October 2024 at 09:11</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Priority
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Low</p>
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Priority</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            {{govukTag({text: "On hold",classes: "govuk-tag--yellow"})}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Agent
          </dt>
          <dd class="govuk-summary-list__value">
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Return to queue<span class="govuk-visually-hidden">Agent</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Blocked
          </dt>
          <dd class="govuk-summary-list__value">
            None
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Matching criteria
          </dt>
          <dd class="govuk-summary-list__value">
            None
          </dd>
        </div>
      </dl>

      <a href="view-history" class="govuk-link">View history</a>
      
    </div>
</div>


{% endblock %}


