{% extends "layouts/main.html" %}

{% set pageName = "View history" %}

{% block header %}
  {% include "_includes/header.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
      items: [
        {
          text: "DWP Task dashboard",
          href: "tasks"
        },
        {
          text: "View and manage tasks",
          href: "task"
        },
        {
          text: "View history",
          href: "View history"
        }
      ]
    }) }}
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">{{pageName}}</h1>

     
      <p class="govuk-body">Change due date and time for 20 Oct 2025 Release Task Type for John Doe</p>

      <form method="post" novalidate>

  

      </form>
      
    </div>
</div>


{% endblock %}


