{% extends "layouts/main.html" %}

{% block pageTitle %}
  Maternity tasks
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="maternity-dashboard.html">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-full">

      <h1 class="govuk-heading-l">
        Maternity tasks
      </h1>
      <h1 class="govuk-heading-m" style="color: #7b7b7b">
        03 April to 07 April
      </h1>
      &nbsp;
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Show tasks from
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="changed-name">
                Past 7 days
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
                Today
              </label>
            </div>
          </div>
        </fieldset>
      </div>

    </div>
      <div class="govuk-heading-m">Filter</div>
      
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                <div class="govuk-heading-s">Case manager</div>
              </span>
            </h2>

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
{{ govukCheckboxes({
  name: "waste",
  classes: "govuk-checkboxes--small",
  items: [
    {
      value: "amy",
      text: "Amy Anderson"
    },
    {
      value: "aiden",
      text: "Aiden Jenkins"
    },
    {
      value: "dmitrij",
      text: "Dmitrij Ivanov"
    },
    {
      value: "fiona",
      text: "Fiona Murray-Reed"
    },
    {
      value: "julia",
      text: "Julia Nguyen"
    }
  ]
}) }}
          </div>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                <div class="govuk-heading-s">Task name</div>
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            {{ govukCheckboxes({
              name: "waste",
              classes: "govuk-checkboxes--small",
              items: [
                {
                  value: "book",
                  text: "Book assessement"
                },
                {
                  value: "request",
                  text: "Request medical evidence"
                },
                {
                  value: "create",
                  text: "Create report"
                },
                {
                  value: "hcp",
                  text: "HCP audit"
                },
                {
                  value: "paper",
                  text: "Paper-based review"
                },
                {
                  value: "threat",
                  text: "Threatening"
                },
                {
                  value: "nonthreat",
                  text: "Non-threatening"
                }
              ]
            }) }}
          </div>
        </div>
        
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  <div class="govuk-heading-s">Status</div>
                </span>
              </h2>
  
  {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
  {{ govukCheckboxes({
    name: "waste",
    classes: "govuk-checkboxes--small",
    items: [
      {
        value: "inprogress",
        text: "In progress"
      },
      {
        value: "assigned",
        text: "Assigned"
      },
      {
        value: "blocked",
        text: "Blocked"
      },
      {
        value: "reserved",
        text: "Reserved"
      },
      {
        value: "inqueue",
        text: "In queue"
      }
    ]
  }) }}
            </div>
            </div>
          </div>
      </div>

      <div style="float: right;">
      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Sort by
        </label>
        <form method="post">
          <select class="govuk-select" id="sort" name="sort" onchange="this.form.submit()">
            <option value="date-earliest" {{ "selected" if data.sort == "date-earliest" }}>Date due, earliest</option>
            <option value="date-latest" {{ "selected" if data.sort == "date-latest" }}>Date due, latest</option>
            <option value="priority-low" {{ "selected" if data.sort == "priority-low" }}>Priority, low to high</option>
            <option value="priority-high" {{ "selected" if data.sort == "priority-high" }}>Priority, high to low</option>
          </select>
        </form>
      </div>
   

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#past-day">
              Tasks
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-week">
              Completed tasks
            </a>
          </li>


        </ul>
        <div class="govuk-tabs__panel" id="past-day">

          <table class="govuk-table">
            <thead class="govuk-table__head">
                <th scope="col" class="govuk-table__header">Task</th>
                <th scope="col" class="govuk-table__header">Case manager</th>
                <th scope="col" class="govuk-table__header">Claimant</th>
                <th scope="col" class="govuk-table__header">Task name</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header">Priority</th>
                <th scope="col" class="govuk-table__header">Date created</th>

            </thead>
            <tbody class="govuk-table__body">
              {% for case in data.caseData %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href={{ case.task }}>View</a></td>
                  <td class="govuk-table__cell">
                    {% if case.caseManager == "Unassigned" %}
                      <p style="color:grey; margin-bottom: 0;">Unassigned</p>
                    {% else %} 
                      {{ case.caseManager }}
                    {% endif %}
                  </td>
                  <td class="govuk-table__cell">{{ case.claimant }}</td>
                  <td class="govuk-table__cell">{{ case.type }}</td>
                  <td class="govuk-table__cell">{{ case.status }}</td>
                  <td class="govuk-table__cell">
                    {% if case.priority == 1 %}
                      Low
                    {% elif case.priority == 2 %}
                      Medium
                    {% else %} 
                      High
                    {% endif %}
                  </td>
                  <td class="govuk-table__cell">{{ case.dateCreated }}</td>
                </tr>
              {% endfor %}              
            </tbody>
          </table>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">

          <table class="govuk-table">
            <thead class="govuk-table__head">
                <th scope="col" class="govuk-table__header">Task</th>
                <th scope="col" class="govuk-table__header">Case manager</th>
                <th scope="col" class="govuk-table__header">Claimant</th>
                <th scope="col" class="govuk-table__header">Task name</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header">Priority</th>
                <th scope="col" class="govuk-table__header">Date completed</th>

            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="task-info">View</a></td>
                <td class="govuk-table__cell">Julia Nguyen</td>
                <td class="govuk-table__cell">Catherine O'Connell</td>
                <td class="govuk-table__cell">Awaiting medical evidence</td>
                <td class="govuk-table__cell">Completed</td>
                <td class="govuk-table__cell">Low</td>
                <td class="govuk-table__cell">13 Mar 2022</td>
                </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="task-info">View</a></td>
                  <td class="govuk-table__cell">Julia Nguyen</td>
                  <td class="govuk-table__cell">Coleen McDonald</td>
                  <td class="govuk-table__cell">Report ready</td>
                  <td class="govuk-table__cell">Completed</td>
                  <td class="govuk-table__cell">Medium</td>
                  <td class="govuk-table__cell">13 Mar 2022</td>
                 </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="task-info">View</a></td>
                  <td class="govuk-table__cell">Dmitrij Ivanov</td>
                  <td class="govuk-table__cell">Sarah Sampson</td>
                  <td class="govuk-table__cell">HCP Audit</td>
                  <td class="govuk-table__cell">Cancelled</td>
                  <td class="govuk-table__cell">High</td>
                  <td class="govuk-table__cell">14 Mar 2022</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="task-info">View</a></td>
                  <td class="govuk-table__cell">Aiden Jenkins</td>
                  <td class="govuk-table__cell">Jessica Hamilton</td>
                  <td class="govuk-table__cell">Medical evidence received</td>
                  <td class="govuk-table__cell">Completed</td>
                  <td class="govuk-table__cell">Low</td>
                  <td class="govuk-table__cell">14 Mar 2022</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="task-info">View</a></td>
                  <td class="govuk-table__cell">Aiden Jenkins</td>
                  <td class="govuk-table__cell">Chen Huang</td>
                  <td class="govuk-table__cell">Assessment booked</td>
                  <td class="govuk-table__cell">Cancelled</td>
                  <td class="govuk-table__cell">Low</td>
                  <td class="govuk-table__cell">15 Mar 2022</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="task-info">View</a></td>
                  <td class="govuk-table__cell">Julia Nguyen</td>
                  <td class="govuk-table__cell">Danica Marino</td>
                  <td class="govuk-table__cell">Paper based review</td>
                  <td class="govuk-table__cell">Completed</td>
                  <td class="govuk-table__cell">High</td>
                  <td class="govuk-table__cell">15 Mar 2022</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="task-info">View</a></td>
                  <td class="govuk-table__cell">Aiden Jenkins</td>
                  <td class="govuk-table__cell">Marie Watts</td>
                  <td class="govuk-table__cell">Medical evidence received</td>
                  <td class="govuk-table__cell">Completed</td>
                  <td class="govuk-table__cell">Low</td>
                  <td class="govuk-table__cell">16 Mar 2022</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="task-info">View</a></td>
                  <td class="govuk-table__cell">Fiona Murray-Reed</td>
                  <td class="govuk-table__cell">Cassia Valenti</td>
                  <td class="govuk-table__cell">Report ready</td>
                  <td class="govuk-table__cell">Completed</td>
                  <td class="govuk-table__cell">Medium</td>
                  <td class="govuk-table__cell">17 Mar 2022</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="task-info">View</a></td>
                  <td class="govuk-table__cell">Fiona Murray-Reed</td>
                  <td class="govuk-table__cell">Roberta Romano</td>
                  <td class="govuk-table__cell">Assessment booked</td>
                  <td class="govuk-table__cell">Completed</td>
                  <td class="govuk-table__cell">High</td>
                  <td class="govuk-table__cell">17 Mar 2022</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="task-info">View</a></td>
                  <td class="govuk-table__cell">Dmitrij Ivanov</td>
                  <td class="govuk-table__cell">Alex Smith</td>
                  <td class="govuk-table__cell">Report ready</td>
                  <td class="govuk-table__cell">Completed</td>
                  <td class="govuk-table__cell">Low</td>
                  <td class="govuk-table__cell">17 Mar 2022</td>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
          <h2 class="govuk-heading-l">Past month</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Case manager</th>
                <th scope="col" class="govuk-table__header">Cases opened</th>
                <th scope="col" class="govuk-table__header">Cases closed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">David Francis</td>
                <td class="govuk-table__cell">98</td>
                <td class="govuk-table__cell">95</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Paul Farmer</td>
                <td class="govuk-table__cell">122</td>
                <td class="govuk-table__cell">131</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rita Patel</td>
                <td class="govuk-table__cell">126</td>
                <td class="govuk-table__cell">142</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
          <h2 class="govuk-heading-l">Past year</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Case manager</th>
                <th scope="col" class="govuk-table__header">Cases opened</th>
                <th scope="col" class="govuk-table__header">Cases closed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">David Francis</td>
                <td class="govuk-table__cell">1380</td>
                <td class="govuk-table__cell">1472</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Paul Farmer</td>
                <td class="govuk-table__cell">1129</td>
                <td class="govuk-table__cell">1083</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rita Patel</td>
                <td class="govuk-table__cell">1539</td>
                <td class="govuk-table__cell">1265</td>
              </tr>
            </tbody>
          </table>
        </div>
        <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="results">
          <div class="govuk-pagination__next" style="float: right;>
            <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg> <span class="govuk-pagination__link-title">Next</span><span class="govuk-visually-hidden">:</span>
              <span class="govuk-pagination__link-label">1 of 3</span></a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

    </div>
  </div>

{% endblock %}


<!-- to make a table row clickable using javascript
   tr onclick="window.location='task-info#'" class = -->
