{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="maternity-manage">Back</a>
{% endblock %}
{% block content %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
<div class="govuk-width-container">

  <h1 class="govuk-heading-l">
    Change priority level
  </h1>

  <p>Set the priority level for this task type.</p>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Priority level
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="priority-level" name="changed-name" type="radio" value="priority-level">
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  High
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="priority-level" name="changed-name" type="radio" value="priority-level">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  Medium
                </label>
              </div>
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="priority-level" name="changed-name" type="radio" value="priority-level">
                  <label class="govuk-label govuk-radios__label" for="changed-name">
                    Low
                  </label>
                </div>
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="priority-level" name="changed-name" type="radio" value="priority-level">
                    <label class="govuk-label govuk-radios__label" for="changed-name">
                      None
                    </label>
                  </div>
            </div>
          </fieldset>
        </div>
    </div>
  </main>
  {% from "govuk/components/button/macro.njk" import govukButton %}
  <form class="form" action="template-change-address" method="post">.
  {{ govukButton({
    text: "Confirm"
  }) }}
</div>

{% endblock %}
