{% extends "layouts/main.html" %}

{% block pageTitle %}
Agent home
{% endblock %}

{% block beforeContent %}

<div class=spacer1></div>

{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <!--<a href="org-unit-selection"
  <button class="govuk-button" data-module="govuk-button" style="float: right;">Manage another service</button></a>-->
  <h1 class="govuk-heading-l">Create a report</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <p>govuk-grid-column-one-half</p>
      <div class="govuk-form-group">
        <label class="govuk-label title-label" for="startDate">Start date</label>
        <div class="govuk-date-input" id="startDate">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <p>govuk-grid-column-one-half</p>
      <div class="govuk-form-group">
        <label class="govuk-label title-label" for="endDate">End date</label>
        <div class="govuk-date-input" id="endDate">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-form-group">
        <label class="govuk-label title-label" for="taskType">Task type</label>
        <select class="govuk-select" id="taskType" name="taskType">
          <option value="">-- Select --</option>
          <option>Onboarding</option><option>Payroll Setup</option><option>Exit Interview</option><option>IT Access</option><option>Compliance Training</option>
        </select>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-form-group">
        <label class="govuk-label title-label" for="teamMember">Team</label>
        <select class="govuk-select" id="teamMember" name="teamMember">
          <option value="">-- Select --</option>
          <option>John Doe</option><option>Jane Smith</option><option>Alex Lee</option><option>Emily Green</option><option>Michael Brown</option><option>Sara White</option><option>Chris Black</option><option>Olivia Clark</option><option>James Adams</option><option>Sophia Turner</option>
        </select>
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-form-group">
        <label class="govuk-label title-label" for="teamMember">Team member</label>
        <select class="govuk-select" id="teamMember" name="teamMember">
          <option value="">-- Select --</option>
          <option>John Doe</option><option>Jane Smith</option><option>Alex Lee</option><option>Emily Green</option><option>Michael Brown</option><option>Sara White</option><option>Chris Black</option><option>Olivia Clark</option><option>James Adams</option><option>Sophia Turner</option>
        </select>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Priority</legend>
          <div class="govuk-checkboxes--small">
            <div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Low" id="priority-Low"><label class="govuk-label govuk-checkboxes__label" for="priority-Low">Low</label></div><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Medium" id="priority-Medium"><label class="govuk-label govuk-checkboxes__label" for="priority-Medium">Medium</label></div><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" type="checkbox" name="priority" value="High" id="priority-High"><label class="govuk-label govuk-checkboxes__label" for="priority-High">High</label></div><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Urgent" id="priority-Urgent"><label class="govuk-label govuk-checkboxes__label" for="priority-Urgent">Urgent</label></div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Status</legend>
          <div class="govuk-checkboxes--small">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Low" id="priority-Low">
              <label class="govuk-label govuk-checkboxes__label" for="priority-Low">Closed</label>
            </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Medium" id="priority-Medium">
                <label class="govuk-label govuk-checkboxes__label" for="priority-Medium">Paused</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="High" id="priority-High">
                <label class="govuk-label govuk-checkboxes__label" for="priority-High">Allocated</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Urgent" id="priority-Urgent">
                <label class="govuk-label govuk-checkboxes__label" for="priority-Urgent">Unallocated</label>
              </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  </div>
  </div>



      <!-- <form id="filter-form">
        <div class="govuk-grid-row">
          
          <div clas="govuk-grid-column-one-half">
            <div class="govuk-form-group">
              <label class="govuk-label title-label" for="startDate">Start date</label>
              <div class="govuk-date-input" id="startDate">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="dob-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="dob-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="dob-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div clas="govuk-grid-column-one-half">
            <div class="govuk-form-group">
              <label class="govuk-label title-label" for="endDate">End date</label>
              <div class="govuk-date-input" id="endDate">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="dob-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="dob-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="dob-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       
       
     
        <div class="govuk-form-group">
          <label class="govuk-label title-label" for="taskType">Task type</label>
          <select class="govuk-select" id="taskType" name="taskType">
            <option value="">-- Select --</option>
            <option>Onboarding</option><option>Payroll Setup</option><option>Exit Interview</option><option>IT Access</option><option>Compliance Training</option>
          </select>
        </div>
      
        <div class="govuk-form-group">
          <label class="govuk-label title-label" for="teamMember">Team</label>
          <select class="govuk-select" id="teamMember" name="teamMember">
            <option value="">-- Select --</option>
            <option>John Doe</option><option>Jane Smith</option><option>Alex Lee</option><option>Emily Green</option><option>Michael Brown</option><option>Sara White</option><option>Chris Black</option><option>Olivia Clark</option><option>James Adams</option><option>Sophia Turner</option>
          </select>
        </div>
    
        <div class="govuk-form-group">
          <label class="govuk-label title-label" for="teamMember">Team member</label>
          <select class="govuk-select" id="teamMember" name="teamMember">
            <option value="">-- Select --</option>
            <option>John Doe</option><option>Jane Smith</option><option>Alex Lee</option><option>Emily Green</option><option>Michael Brown</option><option>Sara White</option><option>Chris Black</option><option>Olivia Clark</option><option>James Adams</option><option>Sophia Turner</option>
          </select>
        </div>
      
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Priority</legend>
            <div class="govuk-checkboxes--small">
              <div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Low" id="priority-Low"><label class="govuk-label govuk-checkboxes__label" for="priority-Low">Low</label></div><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Medium" id="priority-Medium"><label class="govuk-label govuk-checkboxes__label" for="priority-Medium">Medium</label></div><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" type="checkbox" name="priority" value="High" id="priority-High"><label class="govuk-label govuk-checkboxes__label" for="priority-High">High</label></div><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Urgent" id="priority-Urgent"><label class="govuk-label govuk-checkboxes__label" for="priority-Urgent">Urgent</label></div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Status</legend>
            <div class="govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Low" id="priority-Low">
                <label class="govuk-label govuk-checkboxes__label" for="priority-Low">Closed</label>
              </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Medium" id="priority-Medium">
                  <label class="govuk-label govuk-checkboxes__label" for="priority-Medium">Paused</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="High" id="priority-High">
                  <label class="govuk-label govuk-checkboxes__label" for="priority-High">Allocated</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" type="checkbox" name="priority" value="Urgent" id="priority-Urgent">
                  <label class="govuk-label govuk-checkboxes__label" for="priority-Urgent">Unallocated</label>
                </div>
            </div>
          </fieldset>
        </div>
      </form> -->
   
      <a href="report" class="govuk-button">Create report</a>

    
    </div>
      
    </div>
    

{% endblock %}