{% extends "layouts/main.html" %}

{% block pageTitle %}
Choose task types for Andi
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}
{% block content %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
<div class="govuk-width-container">

  <h1 class="govuk-heading-l">
    Choose task types for Andi
  </h1>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
 {{ govukCheckboxes({
          name: "groups",
          fieldset: {
            legend: {
              text: "Task types",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select the task types you want Andi to work on."
          },
          items: [
            {
              value: "change-address",
              text: "Change a customer's address"
            },
            {
              value: "add-income",
              text: "Add a customer's proof of income"
            }
      
            
          ]
        }) }}

    

    </div>
  </main>
  {% from "govuk/components/button/macro.njk" import govukButton %}
  <form class="form" action="andi-review" method="post">.
  {{ govukButton({
    text: "Continue"
  }) }}
</div>

{% endblock %}