{% extends "layouts/main.html" %}

{% block pageTitle %}
  Add Andi to groups
{% endblock %}


{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Add Andi to groups
      </h1>

      <p>You have not created any groups yet, but you can do this later.</p>

        <p>Groups allow you to put team members who do similar tasks together. This means team members will get the tasks that match to that group.</p>
        
        <p>You can add Andi to a group later if you decide to create groups for your team.</p>
        
       <p>Continue adding Andi to the team.</p>
        
        
        &nbsp;

    </div>

    

  </div> 
  <a href="andi-matching-criteria"</a>
    <button class="govuk-button govuk-button--primary" data-module="govuk-button">
Continue</button>
</div>

  </div>
{% endblock %}
