{% extends "layouts/main.html" %}

{% block pageTitle %}
  History
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="task-info-v3">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        History
      </h1>
      <p>View the history of Report ready for Coleen McDonald.</p>

      <div class="dwp-timeline">
        <ul>
            <li class="dwp-timeline__events--entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--green">Completed</strong></h2>
              <p class="govuk-caption-m govuk-!-margin-bottom-1">Finished by Julia Nguyen</p>
              <p class="govuk-caption-m">14 March 2023</p>
            </li>
        <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--green">Active</strong></h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">Opened by Julia Nguyen</p>
          <p class="govuk-caption-m">14 March 2023</p>
        </li>
      <li class="dwp-timeline__events--entry">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--yellow">Allocated</strong></h2>
        <p class="govuk-caption-m govuk-!-margin-bottom-1">Claimed by Julia Nguyen</p>
        <p class="govuk-caption-m">14 March 2023</p>
      </li>
        <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--grey">Unallocated</strong></h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">Returned to queue by Dmitrij Ivanov</p>
          <p class="govuk-caption-m">13 March 2023</p>
        </li>
        <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--yellow">Allocated</strong></h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">Claimed by Dmitrij Ivanov</p>
          <p class="govuk-caption-m">6 March 2023</p>
        </li>
        <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--grey">Unallocated</strong></h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">New task created</p>
          <p class="govuk-caption-m">5 March 2023</p>
        </li>
        </ul>
        </div> 
        <a href="task-info-v3"</a>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Back
          </button>
    </div>
  </div>

{% endblock %}
