{% extends "layouts/main.html" %}

{% block pageTitle %}
Change the completion timeframe
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

  <h1 class="govuk-heading-l">
    Change the completion timeframe
  </h1>

  <p>Give this task type an optional completion timeframe to indicate when a task should be completed by. This will set a due date for new tasks of this type when they are created. </p>
  <p>Do not give a timeframe if you do not need due dates for this task type.  </p>
  &nbsp;

  <fieldset class="govuk-fieldset" role="group" aria-describedby="">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">


  <h2 class="govuk-heading-s">Must complete in</h2>
  <div id="must-complete-hint" class="govuk-hint">
     Completion timeframe should be a minimum of 15 minutes.</div>


     <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group">
      <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
    </div>  
  </div>

<div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
<div class="govuk-grid-row">
  <div class="govuk-form-group">
    
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="changed-name">
           Minutes
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="changed-name">
            Hours
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="changed-name-2">
            Days
          </label>

        </div>
      </div>
    </div>
      </fieldset>
        </legend>
      </div>
  </div>


{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="govuk-button-group">
  <a href="template-change-address-success" "=""">
  <button class="govuk-button" data-module="govuk-button">Confirm</button>
  <a href="javascript:window.history.back()" "=""">
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Back</button>
</div>

</form>
</div>

{% endblock %}


