{% extends "layouts/main.html" %}

{% block pageTitle %}
  History
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        History
      </h1>
      <p>View the history of Book assessment for Deborah Levy.</p>

      <div class="dwp-timeline">
        <ul>
          <li class="dwp-timeline__events--entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--green">Active</strong></h2>
              <p class="govuk-caption-m govuk-!-margin-bottom-1">Opened <br>by Dmitrij Ivanov</p>
              <p class="govuk-caption-m">8 March 2024</p>
            </li>
            <li class="dwp-timeline__events--entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--green">
                ACTIVE
              </strong></h2>
              <p class="govuk-caption-m govuk-!-margin-bottom-1">Claimed <br>by Fiona Murray-Reed</p>
              <p class="govuk-caption-m">8 March 2023</p>
            </li>
      <li class="dwp-timeline__events--entry">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--yellow">
          ALLOCATED
        </strong></h2>
        <p class="govuk-caption-m govuk-!-margin-bottom-1">Claimed <br>by Fiona Murray-Reed</p>
        <p class="govuk-caption-m">8 March 2023</p>
      </li>
      <li class="dwp-timeline__events--entry">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--yellow">
          ALLOCATED
        </strong></h2>
        <p class="govuk-caption-m govuk-!-margin-bottom-1">Task suspension ended at 14:30</p>
        <p class="govuk-caption-m">8 March 2023</p>
      </li>
      <li class="dwp-timeline__events--entry">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--yellow">
          ALLOCATED
        </strong></h2>
        <p class="govuk-caption-m govuk-!-margin-bottom-1">Activated <br> by Aiden Jenkins</p>
        <p class="govuk-caption-m">8 March 2023</p>
      </li>
      <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--grey">Cancelled</strong></h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">Finished <br>by Dmitrij Ivanov</p>
          <p class="govuk-caption-m">6 March 2023</p>
        </li>
        <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--green">Completed</strong></h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">Finished <br>by Dmitrij Ivanov</p>
          <p class="govuk-caption-m">8 March 2023</p>
        </li>
        <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--grey">Failed</strong></h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">Finished <br>by Dmitrij Ivanov</p>
          <p class="govuk-caption-m">6 March 2023</p>
        </li>
        <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--grey">Unallocated</strong></h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">Returned to queue and blocked <br> by Fiona Murray-Reed</p>
          <p class="govuk-caption-m">8 March 2023</p>
        </li>
        <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--grey">Unallocated</strong></h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">Task suspension ended at 14:30</p>
          <p class="govuk-caption-m">8 March 2023</p>
        </li>
        <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--grey">Unallocated</strong></h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">New task created <br> by Susan Snow</p>
          <p class="govuk-caption-m">8 March 2023</p>
        </li>
        <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--grey">Unallocated</strong></h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">New task created <br> by Susan Snow</p>
          <p class="govuk-caption-m">8 March 2023</p>
        </li>
      <li class="dwp-timeline__events--entry">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--grey">Unallocated</strong></h2>
        <p class="govuk-caption-m govuk-!-margin-bottom-1">New task created</p>
        <p class="govuk-caption-m">8 March 2023</p>
      </li>
      <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--blue">Suspended</strong></h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">Suspended until 22 March 2024 and kept <br>by Dmitrij Ivanov</p>
          <p class="govuk-caption-m">8 March 2023</p>
        </li>
      <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--blue">Suspended</strong></h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">Suspended until 22 March 2024 and returned to queue<br> by Dmitrij Ivanov</p>
          <p class="govuk-caption-m">8 March 2023</p>
        </li>
        <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--grey">Failed</strong></h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">Finished<br> by Dmitrij Ivanov</p>
          <p class="govuk-caption-m">8 March 2023</p>
        </li>
        <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--grey">Unallocated</strong></h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">Returned to queue<br> by Fiona Murray-Reed</p>
          <p class="govuk-caption-m">8 March 2023</p>
        </li>
        <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--grey">Unallocated</strong></h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">Returned to queue and blocked <br>by Fiona Murray-Reed</p>
          <p class="govuk-caption-m">8 March 2023</p>
        </li>
        <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--purple">Due date and time changed</strong></h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">Due date and time changed to 12 March at 13:00  <br>by Fiona Murray-Reed</p>
          <p class="govuk-caption-m">8 March 2023</p>
        </li>
        <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--purple">Due time changed</strong></h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">Due time changed to 13:00  <br>by Fiona Murray-Reed</p>
          <p class="govuk-caption-m">8 March 2023</p>
        </li>
        <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--purple">Due date changed</strong></h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">Due date changed to 12 March <br>by Fiona Murray-Reed</p>
          <p class="govuk-caption-m">8 March 2023</p>
        </li>
        <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--purple">Priority changed</strong></h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1">Priority changed to medium <br>by Fiona Murray-Reed</p>
          <p class="govuk-caption-m">8 March 2023</p>
        </li>
      </ul>
        </div> 
        <a href="javascript:window.history.back()"</a>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Back
          </button>
    </div>
  </div>

{% endblock %}
