{% extends "layouts/main.html" %}

{% block pageTitle %}
Team leader home
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>


{% endblock %}

{% block content %}

<div class="govuk-grid-row" data-testid="grid-row">
  <div data-testid="column-two-thirds" class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Add or remove access to groups for [Agent Name]</h1>
    <div class="govuk-form-group" data-testid="form-group-id">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s" data-testid="legend-id">
          <h2 class="govuk-fieldset__heading">Available groups list</h2>
          <span class="gov-hint"></span>
        </legend>
        <div class="govuk-checkboxes " data-module="govuk-checkboxes" data-testid="checkboxes-id">
          <div class="govuk-checkboxes__item" data-testid="checkbox-item-id">
            <input class="govuk-checkboxes__input" id="true" name="vulnerable" type="checkbox" value="true" checked>
            <label class="govuk-label govuk-checkboxes__label " for="true" data-testid="checkbox-label-id">15-10-2025-agent-group</label>
          </div>
          <div class="govuk-checkboxes__item" data-testid="checkbox-item-id">
            <input class="govuk-checkboxes__input" id="false" name="vulnerable" type="checkbox" value="false" checked>
            <label class="govuk-label govuk-checkboxes__label " for="false" data-testid="checkbox-label-id">new-agent-group</label>
          </div>
          <div class="govuk-checkboxes__item" data-testid="checkbox-item-id">
            <input class="govuk-checkboxes__input" id="false" name="vulnerable" type="checkbox" value="false">
            <label class="govuk-label govuk-checkboxes__label " for="false" data-testid="checkbox-label-id">Group name</label>
          </div>
          <div class="govuk-checkboxes__item" data-testid="checkbox-item-id">
            <input class="govuk-checkboxes__input" id="false" name="vulnerable" type="checkbox" value="false">
            <label class="govuk-label govuk-checkboxes__label " for="false" data-testid="checkbox-label-id">Group name</label>
          </div>
        </div>
      </fieldset>
    </div>
    <form class="form" action="agent-details-2" method="get" role="form">
      <div class="govuk-button-group" data-testid="button-group-id">
        <button class="govuk-button" type="submit" value="delete" data-module="govuk-button">Confirm</button>
        <button class="govuk-button govuk-button--secondary" type="submit" value="skip" data-module="govuk-button">Cancel</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}


