{% extends "layouts/new-main.html" %}

{% set pageName = "Would you like to compare statistics by agents or teams?" %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>

        {{ govukRadios({
          id: "stats[agentsOrTeams]",
          name: "stats[agentsOrTeams]",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.stats.agentsOrTeams,
          items: [
            {
              value: "Agents",
              text: "Agents"
            },
            {
              value: "Teams",
              text: "Teams"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "stats[agentsOrTeams][start][date]",
          fieldset: {
            legend: {
              text: "When do you want the report to start from?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 31 3 2024"
          },
          items: [
            {
              name: "date",
              label: "Day",
              value: data.stats.agents.start.day,
              classes: "govuk-input--width-2"
            },
            {
              name: "date",
              label: "Month",
              value: data.stats.agents.start.month,
              classes: "govuk-input--width-2"
            },
            {
              name: "date",
              label: "Year",
              value: data.stats.agents.start.year,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "stats[agentsOrTeams][start][date]",
          fieldset: {
            legend: {
              text: "When do you want the report to end?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 31 3 2024"
          },
          items: [
            {
              name: "date",
              label: "Day",
              value: data.stats.agents.start.day,
              classes: "govuk-input--width-2"
            },
            {
              name: "date",
              label: "Month",
              value: data.stats.agents.start.month,
              classes: "govuk-input--width-2"
            },
            {
              name: "date",
              label: "Year",
              value: data.stats.agents.start.year,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}



