{% extends "layouts/new-main.html" %}

{% set pageName = "Would you like to compare statistics by agents or teams?" %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>

  
       {{ govukCheckboxes({
        name: "stats[agent]",
        fieldset: {
          legend: {
            text: "Which task types do you need to report on?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select all that apply"
        },
        values: data.stats.agent,
        items: [
          {
            value: "Initial call",
            text: "Initial call"
          },
          {
            value: "Call back",
            text: "Call back"
          },
          {
            value: "Data entry",
            text: "Data entry"
          },
          {
            value: "General admin",
            text: "General admin"
          },
          {
            value: "All",
            text: "All"
          }
        ]
       }) }}
  
  

      {# Autocomplete start #}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">

         {{ govukSelect({
            id: "agents[enterName]",
            name: "agents[enterName]",
            classes: "taskTypeAutocomplete",
            label: {
              text: "Enter agent's name or staff ID?",
              isPageHeading: false,
              classes: "govuk-label--s"
            },
            hint: {
              text: "Enter name, stuff number or email"
            },
            value: data.agents.enterName,
            items: [
              {
                value: "Oliver Logan",
                text: "Oliver Logan"
              },
              {
                value: "Georgia Duncan",
                text: "Georgia Duncan"
              },
              {
                value: "Hassan Young",
                text: "Hassan Young"
              },
              {
                value: "Aiden Jenkins",
                text: "Aiden Jenkins"
              },
              {
                value: "Amy Anderson",
                text: "Amy Anderson"
              },
              {
                value: "Amy Adams",
                text: "Amy Adams"
              }
            ]
          }) }}

          {{ govukButton({
          text: "Add",
          classes: "govuk-button--secondary"
          }) }}
          
          </div>
        </div>
        {# Autocomplete ends #}




        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('.taskTypeAutocomplete')
    })
  </script>
{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <style>
    #main-content > div > div > form > div.govuk-grid-row > div > div { margin-bottom: 10px; }
  </style>
{% endblock %}



