{% extends "layouts/main.html" %}

{% block pageTitle %}
Team leader home
{% endblock %}

{% block beforeContent %}

<div class=spacer1></div>

{% endblock %}

{% block content %}

<div class="govuk-width-container">
 
  <h1 class="govuk-heading-l">DWP Task dashboard</h1>

  <div class="box">
    <h2 class="govuk-heading-m"><a href="#">Tasks</a></h2>
    <p>View and manage tasks for your teams.</p> 
  </div>
</div>

<div class="govuk-width-container">
  &nbsp;
    <div class="box">
      <h2 class="govuk-heading-m"><a href="agents-or-teams">Management information (MI)</a></h2>
      <p>View MI for your teams.</p>
    </div>
  </div>

  <div class="govuk-width-container">
    &nbsp;
      <div class="box">
        <h2 class="govuk-heading-m"><a href="#">View and manage your teams</a></h2>
        <p>Add or remove agents and team leaders to or from your teams .</p>
      </div>
    </div>

    <div class="govuk-width-container">
      &nbsp;
        <div class="box">
          <h2 class="govuk-heading-m"><a href="#">Agent home</a></h2>
          <p>Work as an agent.</p>
        </div>
      </div>

&nbsp;


<div class="govuk-width-container">
  <!--<a href="org-unit-selection"
  <button class="govuk-button" data-module="govuk-button" style="float: right;">Manage another service</button></a>-->
  <h1 class="govuk-heading-l">Team leader home</h1>
  <div class="box">
    <h2 class="govuk-heading-m"><a href="#">Tasks</a></h2>
    <p>View and manage tasks.</p> 
  </div>
</div>

<div class="govuk-width-container">
  &nbsp;
    <div class="box">
      <h2 class="govuk-heading-m"><a href="#">Set up and manage team</a></h2>
      <p>Add or remove people from the team. Manage groups and task matching criteria.</p>
    </div>
  </div>

  <div class="govuk-width-container">
    &nbsp;
      <div class="box">
        <h2 class="govuk-heading-m"><a href="agents-or-teams">Statistics</a></h2>
        <p>View Team and agent statistical information.</p>
      </div>
    </div>

    <div class="govuk-width-container">
      &nbsp;
        <div class="box">
          <h2 class="govuk-heading-m"><a href="#">Agent home</a></h2>
          <p>Work as an agent.</p>
        </div>
      </div>

&nbsp;
{% endblock %}


