{% extends "layouts/main.html" %}

{% block pageTitle %}
Agent home
{% endblock %}

{% block beforeContent %}

<div class=spacer1></div>

{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <!--<a href="org-unit-selection"
  <button class="govuk-button" data-module="govuk-button" style="float: right;">Manage another service</button></a>-->
  <h1 class="govuk-heading-l">My teams</h1>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Team details</caption>
    <thead class="govuk-table__head">
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Members </th>
        <th scope="col" class="govuk-table__header">Actions </th>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">TEAM NAME</td>
        <td class="govuk-table__cell">6</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Edit</a> | <a href="#">Remove</a></td>
      </tr>
      
      
     
     
    </tbody>
  </table>

 <a href="enter-team-name" class="govuk-button">Add a new team</a>
</div>



&nbsp;
{% endblock %}