{% extends "layouts/main.html" %}

{% block pageTitle %}
  All tasks
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<div class=spacer1></div>
{{ govukBreadcrumbs({
  items: [
    {
      text: "Service manager home",
      href: "home"
    }
  ]
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-full">
    <h1 class="govuk-heading-l">
      All tasks
    </h1>
    <p>View and manage your team's tasks. 
    </p>
    <p>You can view closed tasks from the last 30 days.</p>
    &nbsp;
    </div>


    <div class="govuk-form-group govuk-input__wrapper">
      <div>
        <label class="govuk-label" for="sort">
          Sort by
        </label>
  
        <form method="post">
          <select class="govuk-select" id="sort" name="sort">
            <option>Created, earliest to latest</option>
            <option>Created, latest to earliest</option>
            <option>Priority, low to critical</option>
            <option>Priority, critical to low</option>
          </select>
          <a href="#">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Sort
            </button>
            </a>
        </form>
      </div>
      &nbsp; &nbsp;
      <div>
        
        <label class="govuk-label" for="width-20">
          Filter your team's tasks
        </label>
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-10" type="text" spellcheck="false">
      
          <a href="manage-tasks-filter-applied">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Filter
          </button>
          </a>
        </div>
    </div>
      </div>


     <div class="govuk-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#tasks">
              Tasks
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#on-hold-tasks">
              On hold tasks
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#closed-tasks">
              Closed tasks
            </a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="tasks">
          <h2 class="govuk-heading-l"">Tasks
          <p class="govuk-body govuk-!-font-tabular-numbers">10,456 total</p></h2>
          
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Created
              </th>
              <th scope="col" class="govuk-table__header">Task</th>
              <th scope="col" class="govuk-table__header">National Insurance number</th>
                <th scope="col" class="govuk-table__header">Team member</th>
                <th scope="col" class="govuk-table__header">Priority</th>
                <th scope="col" class="govuk-table__header">Status</th>
            </thead>

            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="task-details-allocated-overdue">View</a></td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">
                  OVERDUE 
               </strong><br>8 Oct 2024 </td>
                <td class="govuk-table__cell">Request medical evidence</td>
                <td class="govuk-table__cell">JH 52 74 86 C</td>
                <td class="govuk-table__cell">Aiden Jenkins</td>
                <td class="govuk-table__cell">Low</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--yellow">
                    ALLOCATED
                  </strong>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="task-details-allocated">View</a></td>
                <td class="govuk-table__cell">8 Oct 2024</td>
                <td class="govuk-table__cell">Create report</td>
                <td class="govuk-table__cell">NS 12 65 11 A</td>
                <td class="govuk-table__cell">Dmitrij Ivanov</td>
                <td class="govuk-table__cell">Medium</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--yellow">
                    ALLOCATED
                  </strong></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="task-details-active">View</a></td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">
                  OVERDUE 
               </strong><br>9 Oct 2024</td>
                <td class="govuk-table__cell">{{ data['tasktypechange'] or "Book assessment" }}</td>
                <td class="govuk-table__cell">LH 12 88 76 D</td>
                <td class="govuk-table__cell">Julia Nguyen</td>
                <td class="govuk-table__cell">Critical</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    ACTIVE
                  </strong></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="task-details-unallocated">View</a></td>
                <td class="govuk-table__cell">10 Oct 2024</td>
                <td class="govuk-table__cell">Paper based review</td>
                <td class="govuk-table__cell">QQ 53 00 09 C</td>
                <td class="govuk-table__cell" style="color: #676767;">None</td>
                <td class="govuk-table__cell">Medium</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                    UNALLOCATED
                  </strong></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="task-details-allocated-unknown">View</a></td>
                <td class="govuk-table__cell">10 Oct 2024</td>
                <td class="govuk-table__cell">Create report</td>
                <td class="govuk-table__cell">Unknown</td>
                <td class="govuk-table__cell">Fiona Murray-Reed</td>
                <td class="govuk-table__cell">Low</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--yellow">
                    ALLOCATED
                  </strong></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">View</a></td>
                <td class="govuk-table__cell">10 Oct 2024</td>
                <td class="govuk-table__cell">HCP audit</td>
                <td class="govuk-table__cell">QQ 12 34 56 C</td>
                <td class="govuk-table__cell" style="color: #676767;">None</td>
                <td class="govuk-table__cell">Low</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                    UNALLOCATED
                  </strong></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">View</a></td>
                <td class="govuk-table__cell">10 Oct 2024</td>
                <td class="govuk-table__cell">Create report</td>
                <td class="govuk-table__cell">RX 09 33 43 M</td>
                <td class="govuk-table__cell">Julia Nguyen</td>
                <td class="govuk-table__cell">Low</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--yellow">
                    ALLOCATED
                  </strong></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">View</a></td>
                <td class="govuk-table__cell">10 Oct 2024</td>
                <td class="govuk-table__cell">Sort white mail</td>
                <td class="govuk-table__cell">Not applicable</td>
                <td class="govuk-table__cell" style="color: #676767;">None</td>
                <td class="govuk-table__cell">Medium</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                    UNALLOCATED
                  </strong></td>
              </tr>
  
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">View</a></td>
                <td class="govuk-table__cell">10 Oct 2024</td>
                <td class="govuk-table__cell">Create report</td>
                <td class="govuk-table__cell">UF 82 76 61 K</td>
                <td class="govuk-table__cell">Aiden Jenkins</td>
                <td class="govuk-table__cell">High</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    ACTIVE
                  </strong></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">View</a></td>
                <td class="govuk-table__cell">10 Oct 2024</td>
                <td class="govuk-table__cell">Request medical evidence</td>
                <td class="govuk-table__cell">GK 82 74 63 Y</td>
                <td class="govuk-table__cell" style="color: #676767;">None</td>
                <td class="govuk-table__cell">Low</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                    UNALLOCATED
                  </strong></td>
              </tr>

            </tbody>
          </table>


        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="on-hold-tasks">
          <h2 class="govuk-heading-l">On hold tasks
            <p class="govuk-body govuk-!-font-tabular-numbers">98 total</p></h2>
          
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Created</th>
              <th scope="col" class="govuk-table__header">Task</th>
              <th scope="col" class="govuk-table__header">National Insurance number</th>
                <th scope="col" class="govuk-table__header">Team member</th>
                <th scope="col" class="govuk-table__header">Priority</th>
                <th scope="col" class="govuk-table__header">Status</th>
            </thead>

            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="task-details-on-hold-assigned">View</a></td>
                <td class="govuk-table__cell">9 Oct 2024</td>
                <td class="govuk-table__cell">Create report</td>
                <td class="govuk-table__cell">HD 62 93 84 O</td>
                <td class="govuk-table__cell">Fiona Murray-Reed</td>
                <td class="govuk-table__cell">High</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--blue">
                    ON HOLD</strong>
                    <br>until  12 Nov 
                    2024
                  </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="task-details-on-hold-unassigned">View</a></td>
                <td class="govuk-table__cell">12 Oct 2024</td>
                <td class="govuk-table__cell">Book assessment</td>
                <td class="govuk-table__cell">KS 45 09 77 J</td>
                <td class="govuk-table__cell" style="color: #676767;">None</td>
                <td class="govuk-table__cell">High</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--blue">
                    ON HOLD</strong>
                    <br>until  20 Nov 2024
                  </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">View</a></td>
                <td class="govuk-table__cell">9 Oct 2024</td>
                <td class="govuk-table__cell">Create report</td>
                <td class="govuk-table__cell">RR 62 53 77 J</td>
                <td class="govuk-table__cell">Dmitrij Ivanov</td>
                <td class="govuk-table__cell">Low</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--blue">
                    ON HOLD</strong>
                    <br>until  17 Nov 2024
                  </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">View</a></td>
                <td class="govuk-table__cell">18 Oct 2024</td>
                <td class="govuk-table__cell">Book assessment</td>
                <td class="govuk-table__cell">WE 62 77 90 S</td>
                <td class="govuk-table__cell">Aiden Jenkins</td>
                <td class="govuk-table__cell">Low</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--blue">
                    ON HOLD</strong>
                    <br>until  21 Dec 2024
                  </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">View</a></td>
                <td class="govuk-table__cell">19 Oct 2024</td>
                <td class="govuk-table__cell">Create report</td>
                <td class="govuk-table__cell">TY 82 44 31 P</td>
                <td class="govuk-table__cell">Aiden Jenkins</td>
                <td class="govuk-table__cell">Low</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--blue">
                    ON HOLD</strong>
                    <br>until  28 Dec 2024
                  </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">View</a></td>
                <td class="govuk-table__cell">19 Oct 2024</td>
                <td class="govuk-table__cell">Paper based review</td>
                <td class="govuk-table__cell">SA 00 81 72 D</td>
                <td class="govuk-table__cell">Amy Anderson</td>
                <td class="govuk-table__cell">Medium</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--blue">
                    ON HOLD</strong>
                    <br>until  29 Dec 2024
                  </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">View</a></td>
                <td class="govuk-table__cell">22 Oct 2024</td>
                <td class="govuk-table__cell">Book assessment</td>
                <td class="govuk-table__cell">DS 54 66 73 T</td>
                <td class="govuk-table__cell">Fiona Murray-Reed</td>
                <td class="govuk-table__cell">Critical</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--blue">
                    ON HOLD</strong>
                    <br>until  6 Jan 2025
                  </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">View</a></td>
                <td class="govuk-table__cell">29 Oct 2024</td>
                <td class="govuk-table__cell">Create report</td>
                <td class="govuk-table__cell">PP 61 23 43 V</td>
                <td class="govuk-table__cell" style="color: #676767;">None</td>
                <td class="govuk-table__cell">High</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--blue">
                    ON HOLD</strong>
                    <br>until  11 Jan 2025
                  </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">View</a></td>
                <td class="govuk-table__cell">29 Oct 2024</td>
                <td class="govuk-table__cell">Book assessment</td>
                <td class="govuk-table__cell">JW 51 91 53 H</td>
                <td class="govuk-table__cell" style="color: #676767;">None</td>
                <td class="govuk-table__cell">High</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--blue">
                    ON HOLD</strong>
                    <br>until  13 Feb 2025
                  </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">View</a></td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">
                  OVERDUE 
               </strong><br>30 Oct 2024</td>
                <td class="govuk-table__cell">Paper based review</td>
                <td class="govuk-table__cell">IF 12 34 56 C</td>
                <td class="govuk-table__cell">Aiden Jenkins</td>
                <td class="govuk-table__cell">Low</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--blue">
                    ON HOLD</strong>
                    <br>2 Mar 2025
                  </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="closed-tasks">
          <h2 class="govuk-heading-l">Closed tasks
          <p class="govuk-body govuk-!-font-tabular-numbers">872 total</p></h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Closed</th>
              <th scope="col" class="govuk-table__header">Task</th>
              <th scope="col" class="govuk-table__header">National Insurance number</th>
                <th scope="col" class="govuk-table__header">Team member</th>
                <th scope="col" class="govuk-table__header">Priority</th>
                <th scope="col" class="govuk-table__header">Status</th>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="task-details-completed">View</a></td>
                <td class="govuk-table__cell">13 Oct 2022</td>
                <td class="govuk-table__cell">Awaiting medical evidence</td>
                <td class="govuk-table__cell">GG 11 64 98 D</td>
                <td class="govuk-table__cell">Julia Nguyen</td>
                <td class="govuk-table__cell">Low</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    COMPLETED
                  </strong></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="task-details-cancelled">View</a></td>
                <td class="govuk-table__cell">14 Oct 2022</td>
                <td class="govuk-table__cell">HCP Audit</td>
                <td class="govuk-table__cell">DF 12 99 72 H</td>
                  <td class="govuk-table__cell">Dmitrij Ivanov</td>
                  <td class="govuk-table__cell">High</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--grey">
                      CANCELLED
                    </strong></td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="task-details-failed">View</a></td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">
                    OVERDUE
                </strong><br>15 Oct 2022</td>
                  <td class="govuk-table__cell">Book assessment</td>
                  <td class="govuk-table__cell">LR 54 92 84 D</td>
                  <td class="govuk-table__cell">Aiden Jenkins</td>
                  <td class="govuk-table__cell">Low</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--grey ">
                      FAILED
                    </strong></td>
                </tr>
            
                </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">View</a></td>
                <td class="govuk-table__cell">13 Oct 2022</td>
                <td class="govuk-table__cell">Create report</td>
                <td class="govuk-table__cell">PW 54 55 89 K</td>
                  <td class="govuk-table__cell">Julia Nguyen</td>
                  <td class="govuk-table__cell">Medium</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--green">
                      COMPLETED
                    </strong></td>
                 </tr>
              
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="#">View</a></td>
                  <td class="govuk-table__cell">14 Oct 2022</td>
                  <td class="govuk-table__cell">Paper based review</td>
                  <td class="govuk-table__cell">SR 95 73 02 C</td>
                  <td class="govuk-table__cell">Aiden Jenkins</td>
                  <td class="govuk-table__cell">Low</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--green">
                      COMPLETED
                    </strong></td>
                  
                 
                </tr>
                
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="#">View</a></td>
                  <td class="govuk-table__cell">15 Oct 2022</td>
                  <td class="govuk-table__cell">Paper based review</td>
                  <td class="govuk-table__cell">NN 77 45 23 W</td>
                  <td class="govuk-table__cell">Julia Nguyen</td>
                  <td class="govuk-table__cell">Critical</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--green">
                      COMPLETED
                    </strong></td>
                  

                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="#">View</a></td>
                  <td class="govuk-table__cell">16 Oct 2022</td>
                  <td class="govuk-table__cell">Paper based review</td>
                  <td class="govuk-table__cell">MJ 88 92 36 E</td>
                  <td class="govuk-table__cell">Aiden Jenkins</td>
                  <td class="govuk-table__cell">Low</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--green">
                      COMPLETED
                    </strong></td>
                 
                 
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="#">View</a></td>
                  <td class="govuk-table__cell">17 Oct 2022</td>
                  <td class="govuk-table__cell">Create report</td>
                  <td class="govuk-table__cell">WL 72 33 60 A</td>
                  <td class="govuk-table__cell">Fiona Murray-Reed</td>
                  <td class="govuk-table__cell">Medium</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--green">
                      COMPLETED
                    </strong></td>
                 
                
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="#">View</a></td>
                  <td class="govuk-table__cell">17 Oct 2022</td>
                  <td class="govuk-table__cell">Book assessment</td>
                  <td class="govuk-table__cell">NB 55 67 80 K</td>
                  <td class="govuk-table__cell">Fiona Murray-Reed</td>
                  <td class="govuk-table__cell">High</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--green">
                      COMPLETED
                    </strong></td>
                  
         
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="#">View</a></td>
                  <td class="govuk-table__cell">17 Oct 2022</td>
                  <td class="govuk-table__cell">Create report</td>
                  <td class="govuk-table__cell">PQ 12 64 56 C</td>
                  <td class="govuk-table__cell">Dmitrij Ivanov</td>
                  <td class="govuk-table__cell">Low</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--green">
                      COMPLETED
                    </strong></td>

                </tr>
            </tbody>
          </table>
        </div>
        &nbsp;
   
        <nav class="govuk-pagination" role="navigation" aria-label="results">
          <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
              <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              <span class="govuk-pagination__link-title">Previous</span></a>
          </div>
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                1
              </a>
            </li>
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                2
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg></a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
</div>
    </div>
  </div>
{% endblock %}


<!-- to make a table row clickable using javascript
   tr onclick="window.location='task-info#'" class = -->

