{% extends "layouts/main.html" %}

{% block pageTitle %}
  My tasks
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<div class=spacer1></div>

{{ govukBreadcrumbs({
  items: [
    {
      text: "Service manager home",
      href: "home"
    },
    {
      text: "Agent home",
      href: "agent"
    }
  ]
}) }}

{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">My tasks</h1>

<div class="govuk-button-group">
    <a href="my-tasks-1">
    <button class="govuk-button" data-module="govuk-button">
      Claim new task
    </button></a>
    <!--<a href="#"> 
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Change service
    </button></a>-->
  </div>
  
  <div class="govuk-form-group govuk-input__wrapper">
    <div>
      <label class="govuk-label" for="sort">
        Sort by
      </label>
      <form method="post">
        <select class="govuk-select" id="sort" name="sort" onchange="this.form.submit()">
          <option value="priority-low" {{ "selected" if data.sort == "priority-low" }}>Claimed, newest to oldest</option>
          <option value="priority-low" {{ "selected" if data.sort == "priority-low" }}>Claimed, oldest to newest</option>
          <option value="priority-high" {{ "selected" if data.sort == "priority-high" }}>Due, soonest to  latest</option>
          <option value="date-earliest" {{ "selected" if data.sort == "date-earliest" }}>Due, latest to soonest</option>
          <option value="date-latest" {{ "selected" if data.sort == "date-latest" }}>Created, newest to oldest</option>
          <option value="priority-high" {{ "selected" if data.sort == "priority-high" }}>Created, oldest to newest</option>
        </select>
      </form>
    
    </div>
    &nbsp; &nbsp;
    <div>
      
      <label class="govuk-label" for="width-20">
        Filter your tasks
      </label>
      <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-10" type="text" spellcheck="false">

        <a href="#">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Filter
        </button>
        </a>
      </div>
  </div>
    </div>

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#my-tasks">
              Tasks
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#finished-tasks">
              Finished tasks
            </a>
          </li>
        </ul>
        <div class="govuk-tabs__panel" id="my-tasks">
          <h2 class="govuk-heading-l">Tasks</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Details</th>
                <th scope="col" class="govuk-table__header">Created</th>
                <th scope="col" class="govuk-table__header">Task</th>
                <th scope="col" class="govuk-table__header">Customer</th>
                <th scope="col" class="govuk-table__header">National Insurance number</th>
                <th scope="col" class="govuk-table__header">Due</th>
                <th scope="col" class="govuk-table__header">Status</th>
              </tr>
              
            </tbody>
          </table>
          <p style="text-align: left;"> You have not claimed any tasks yet.</p>
        </div>
        
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="finished-tasks">
          <h2 class="govuk-heading-l">Finished tasks</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Details</th>
                <th scope="col" class="govuk-table__header">Created</th>
                <th scope="col" class="govuk-table__header">Task</th>
                <th scope="col" class="govuk-table__header">Customer</th>
                <th scope="col" class="govuk-table__header">National Insurance number</th>
                <th scope="col" class="govuk-table__header">Due</th>
                <th scope="col" class="govuk-table__header">Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              
            </tbody>
          </table>
          <p style="text-align: left;"> You have not finished any tasks today.</p>
        </div>
        



  {% endblock %}