{% extends "layouts/main.html" %}

{% block pageTitle %}
Task details
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

<div class=spacer1></div>

{{ govukBreadcrumbs({
  items: [
    {
      text: "Service manager home",
      href: "home"
    },
    {
      text: "All tasks",
      href: "manage-tasks"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <!--  <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      You returned this task to the queue and blocked the team member from working on it.
    </h3>
  </div>
</div>-->

      <h1 class="govuk-heading-l">
        Book assessment
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Person
          </dt>
          <dd class="govuk-summary-list__value">
            Giulia Rossi
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            HD 62 93 84 O
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Task
          </dt>
          <dd class="govuk-summary-list__value">
            Book assessment
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Due
          </dt>
          <dd class="govuk-summary-list__value">
            14 October 2024 at 10:01 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Created
          </dt>
          <dd class="govuk-summary-list__value">
            9 October 2024 at 10:01
          </dd>
          <dd class="govuk-summary-list__actions">
  
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Priority
          </dt>
          <dd class="govuk-summary-list__value">
            High
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--blue">
              ON HOLD
            </strong></td>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="take-off-hold">
              Change<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            On hold until
          </dt>
          <dd class="govuk-summary-list__value">
            12 November 2024
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="change-on-hold-date">
              Change<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Team member
          </dt>
          <dd class="govuk-summary-list__value">
            Fiona Murray-Reed
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Return to queue<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Blocked
          </dt>
          <dd class="govuk-summary-list__value">
            None
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>
      </dl>
      <div class="govuk-button-group">
        <a href="#" "=""">
            <button class="govuk-button govuk-button" data-module="govuk-button">View history</button></a></div>
            <div class="govuk-button-group">
    <a href="javascript:window.history.back()" "=""">
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Back</button></div>
      </div>
    </div>
   

{% endblock %}
