{% extends "layouts/main.html" %}

{% block pageTitle %}
Team leader home
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row" data-testid="grid-row">
  <div class="govuk-grid-column-one-third">

    <section class="dwp-quick-reference dwp-quick-reference--reduced dwp-quick-reference--alternative" aria-label="Quick reference">
      <dl class="dwp-quick-reference__block">
        
          <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
          <dd class="dwp-quick-reference__primary">James Burton<br><span class="dwp-quick-reference__secondary">0987654</span></dd>
            <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">email:</dt>
            <dd class="dwp-quick-reference__secondary">james.burton@dwp.gov.uk</dd>
            <dt class="dwp-quick-reference__label">You can work on theses tasks:</dt>
            <dd class="dwp-quick-reference__status">
            <strong class="govuk-tag dwp-quick-reference__status--white">
              jmeter-test-task-18255
            </strong>
          </dd>
          <dd class="dwp-quick-reference__status">
           <strong class="govuk-tag dwp-quick-reference__status--white">
              jmeter-test-task-18256
            </strong>
          </dd>
          <dd class="dwp-quick-reference__status">
            <strong class="govuk-tag dwp-quick-reference__status--white">
              jmeter-test-task-18257
            </strong>
          </dd>
      </dl>
  </section>
  </div>
  <div data-testid="column-two-thirds" class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">My details</h1>
    
    <p class="govuk-body-m">You can change the groups that you are in, and also change your individual attributes. </p>
<p class="govuk-body-m">
      Your individual attributes, and the attributes of your groups, determine which tasks you can claim.</p>
      <p class="govuk-body-m">
      If any of your groups or attributes look wrong on this screen, speak to your team leader. </p>
    <h2 class="govuk-heading-m">Groups<br><span class="govuk-hint">These are the groups that you belong to. </span></h2>
    
    <dl class="govuk-summary-list govuk-!-static-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-full" aria-label="15-10-2025-agent-group">
          15-10-2025-agent-group
          <details class="govuk-details govuk-!-static-margin-bottom-0">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Attributes of this group
              </span>
            </summary>
            <div class="govuk-details__text">
              <dl class="govuk-summary-list govuk-!-static-margin-bottom-0">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="working-pattern">working-pattern</dt>
                  <dd class="govuk-summary-list__value">
                    <div>weekends</div>
                    <div>evenings</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="grade">grade</dt>
                  <dd class="govuk-summary-list__value">
                    <div>aa</div>
                    <div>g6</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="language">language</dt>
                  <dd class="govuk-summary-list__value">
                    <div>spanish</div>
                    <div>welsh</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="vulnerable">vulnerable</dt>
                  <dd class="govuk-summary-list__value">
                    <div>None</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="urgent">urgent</dt>
                  <dd class="govuk-summary-list__value">
                    <div>None</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="escalate">escalate</dt>
                  <dd class="govuk-summary-list__value">
                    <div>None</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="country-subdivision">country-subdivision</dt>
                  <dd class="govuk-summary-list__value">
                    <div>None</div>
                  </dd>
                </div>
              </dl>
            </div>
          </details>
        </dt>
        <dd class="govuk-summary-list__value"></dd>
        
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" aria-label="new-agent-group">
          new-agent-group
          <details class="govuk-details govuk-!-static-margin-bottom-0">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Attributes of this group
              </span>
            </summary>
            <div class="govuk-details__text">
              <dl class="govuk-summary-list govuk-!-static-margin-bottom-0">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="working-pattern">working-pattern</dt>
                  <dd class="govuk-summary-list__value">
                    <div>weekends</div>
                    <div>evenings</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="grade">grade</dt>
                  <dd class="govuk-summary-list__value">
                    <div>aa</div>
                    <div>g6</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="language">language</dt>
                  <dd class="govuk-summary-list__value">
                    <div>spanish</div>
                    <div>welsh</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="vulnerable">vulnerable</dt>
                  <dd class="govuk-summary-list__value">
                    <div>None</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="urgent">urgent</dt>
                  <dd class="govuk-summary-list__value">
                    <div>None</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="escalate">escalate</dt>
                  <dd class="govuk-summary-list__value">
                    <div>None</div>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" aria-label="country-subdivision">country-subdivision</dt>
                  <dd class="govuk-summary-list__value">
                    <div>None</div>
                  </dd>
                </div>
              </dl>
            </div>
          </details>
        </dt>
        <dd class="govuk-summary-list__value"></dd>
       
      </div>
    </dl>
    
    <!-- <h2 class="govuk-heading-m">Groups</h2>
    <dl class="govuk-summary-list govuk-!-static-margin-bottom-3">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">This agent isn't part of any groups yet</dd>
      </div>
    </dl>
    <div class="govuk-!-static-margin-bottom-9">
      <a href="add-groups" class="govuk-link ">Add agent to groups</a>
    </div> -->
    <h2 class="govuk-heading-m">Team</h2>
    <dl class="govuk-summary-list govuk-!-static-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" aria-label="grade">Current team</dt>
        <dd class="govuk-summary-list__value">Admin team</dd>
      </div>
    </dl>
   <!-- <div>
    <h2 class="govuk-heading-m">Your individual attributes</h2>
    <dl class="govuk-summary-list govuk-!-static-margin-bottom-3">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" aria-label="working-pattern">working-pattern</dt>
        <dd class="govuk-summary-list__value">
          <div>weekends</div>
          <div>evenings</div>
        </dd>
        
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" aria-label="grade">grade</dt>
        <dd class="govuk-summary-list__value">
          <div>aa</div>
          <div>g6</div>
        </dd>
        
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" aria-label="language">language</dt>
        <dd class="govuk-summary-list__value">
          <div>spanish</div>
          <div>welsh</div>
        </dd>
       
      </div>
  
    </dl>
    </div>
    <div class="govuk-!-static-margin-bottom-6">
      <a href="agent-home" class="govuk-button govuk-button--secondary">Back</a>
    </div>
    
    
  </div>
  
</div> -->
<button class="govuk-button govuk-button--secondary" type="submit" value="skip" data-module="govuk-button">Close</button>

{% endblock %}


