{% extends "layouts/main.html" %}

{% block pageTitle %}
Notifications
{% endblock %}

{% block beforeContent %}

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row" data-testid="grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
Notifications    </h1>


    <p class="govuk-body-m">
    </p>

    <h2 class="govuk-heading-m">Change of group</h2>

    <p class="govuk-body-m"> To be displayed on user profile when an agents greoup has been changed. </p>
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          James Burton is now a member of the following groups: group1, group2
        </h3>
      </div>
    </div>
   
  
    <h2 class="govuk-heading-m">Change of team </h2>
    <p class="govuk-body-m"> To be displayed on the change team and roles page after  a user has changed the teams of a user.</p>
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          James Burton is now a member of the [new team name] team
        </h3>
      </div>
    </div>

    <h2 class="govuk-heading-m">Change of role</h2>
    <p class="govuk-body-m"> To be displayed on the change team and roles page after a user has changed the roles of a user.</p>
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          James Burton is now a [ team leader/Agent ] in the [team name] team
        </h3>
      </div>
    </div>
  
    
</div>

{% endblock %}


