{% extends "layouts/main.html" %}

{% block pageTitle %}
Team leader home
{% endblock %}

{% block beforeContent %}

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row" data-testid="grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      User profile 
    </h1>


    <p class="govuk-body-m">Prototypes for the work on adding user profiles to DWP Task, te user profile serves Agents, team leaders and service managers, journeys for the 
      different roles are detailed below.
    </p>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">User profile prototypes</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Role</th>
          <th scope="col" class="govuk-table__header">prototype</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Agent</th>
          <td class="govuk-table__cell govuk-table__cell"><a href="agent/agent-home">view</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Team leader</th>
          <td class="govuk-table__cell govuk-table__cell"><a href="team-leader/dashboard">view</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Service manager</th>
          <td class="govuk-table__cell govuk-table__cell"><a href="service-manager">view</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Supporting info</h2>
    <ul class="govuk-list">
      <li> <a class="govuk-link" href="change-role-in-team-error">change role in team error state</a></li>
      <li><a class="govuk-link" href="notifications">notifications</a></li>
    </ul>
    
  </div>
</div>

{% endblock %}


