
{% extends "layouts/main.html" %}

{% set pageName = "Sorry, there is a problem with the service" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

 {% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>

        <p class="govuk-body">We need to know about this problem so that we can fix it - please
          <a class="govuk-link" href="https://dwp.service-now.com/itsupport?id=dwp_report_an_incident&sys_id=dbfc8aeb1b58dd50875b76a5d34bcb54">report an incident on Tech Place</a> and include error id [error id].
        </p>
      </div>
    </div>
{% endblock %}