
{% extends "layouts/main.html" %}

{% set pageName = "Ash is working in this page" %}

  {% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
    }) }}
  {% endblock %}

  {% block pageScripts %}

 
{% endblock %}


{% block content %}




  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{pageName}}</h1>

     
    </div>
  </div>
  
{% endblock %}