
{% extends "layouts/main.html" %}

{% set pageName = "Type A" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <p class="govuk-body">
        All tasks completed or returned between 13 October and 20 October 2025, and any tasks in progress (active) at the end of this period.
      </p>

      <p>
        Completed tasks include any cancelled or failed tasks.
      </p>


      <!-- Table one - team -->
      <table class="govuk-table govuk-!-static-margin-bottom-3 govuk-!-static-margin-top-8">
        
        <caption class="govuk-table__caption govuk-table__caption--m">Reasons for return by task across team (version 1)</caption>
        
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width: 300px">Task type</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Further work is required</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">I do not have the right skills or training</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">The task does not reflect the work</th>
            {# <th scope="col" class="govuk-table__header govuk-table__header--numeric">Should be treated as a complaint</th> #}
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Type A</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
            {# <td class="govuk-table__cell govuk-table__cell--numeric">0</td> #}
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Type B</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
            {# <td class="govuk-table__cell govuk-table__cell--numeric">0</td> #}
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Type C</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
            {# <td class="govuk-table__cell govuk-table__cell--numeric">0</td> #}
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Type D</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">11</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
            {# <td class="govuk-table__cell govuk-table__cell--numeric">1</td> #}
          </tr>
        </tbody>
        <tfoot class="govuk-table__row">
          <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Total</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">7</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">23</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">25</td>
          {# <td class="govuk-table__cell govuk-table__cell--numeric">1</td> #}
        </tfoot>
      </table>
      <a href="#" class="govuk-link">Download as csv</a>


      <!-- Table two - team -->
      <table class="govuk-table govuk-!-static-margin-bottom-3 govuk-!-static-margin-top-8">
        
        <caption class="govuk-table__caption govuk-table__caption--m">Reasons for return by task across team (version 2)</caption>
        
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width: 300px">Reasons of return</th>
            <th scope="col" class="govuk-table__header govuk-table__cell--numeric" style="width: 300px">Task A</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Further work is required</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">I do not have the right skills or training	The task does not reflect</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">The task does not reflect the work</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
          </tr>
        </tbody>
        <tfoot class="govuk-table__row">
          <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Total</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
        </tfoot>
      </table>
      <a href="#" class="govuk-link">Download as csv</a>
      

    </div>
  </div>

  
            
      
{% endblock %}