{% extends "layouts/main.html" %}

{% block pageTitle %}
Agent home
{% endblock %}

{% block beforeContent %}

<div class=spacer1></div>

{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">
        You created {{ data['tasktype'] or "None" }} for Aisha Hendry.
      </h3>
    </div>
  </div>

  <!--<a href="org-unit-selection"
  <button class="govuk-button" data-module="govuk-button" style="float: right;">Manage another service</button></a>-->
  <h1 class="govuk-heading-l">Agent home</h1>
  
  <div class="box">
    <h2 class="govuk-heading-m">Create a new task testing versions</h2>
  <div class="govuk-button-group">
    <a href="choose-task-type-a" "=""">
        <button class="govuk-button" data-module="govuk-button">Testing version A</button></a>
        
        <a href="choose-task-type-b" "=""">
          <button class="govuk-button" data-module="govuk-button">Testing version B</button></a>
  
          <a href="choose-task-type-c" "=""">
            <button class="govuk-button" data-module="govuk-button">Testing version C</button></a>

            <a href="choose-task-type-d" "=""">
              <button class="govuk-button" data-module="govuk-button">Free text version D (untested)</button></a>
              </div>
</div>




&nbsp;
{% endblock %}
         
</div>
</div>