{% extends "layouts/main.html" %}

{% block pageTitle %}
Create a task
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class=govuk-grid-column-two-thirds>
    <h1 class="govuk-heading-l">
      Create a task
    </h1>
     
    <div class="govuk-form-group">
        <form method="post" action="review-new-task-c">

        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Choose a task type
            </h1>
          </legend>
        

          <div id="contact-hint" class="govuk-hint">
            Select one option.
          </div>

          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact" name="tasktype" type="radio" value="Evidence query" data-aria-controls="conditional-evidence">
              <label class="govuk-label govuk-radios__label" for="task-type">
                  Evidence query
              </label>
            </div>
      
            <div class="govuk-radios__conditional" id="conditional-evidence">
              <div class="govuk-form-group">
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="contact" name="context" type="checkbox" value="Contact customer" data-aria-controls="conditional-evidence">
                          <label class="govuk-label govuk-checkboxes__label" for="task-type">
                            Check and contact customer
                          </label>
                        </div>
  
                        
                      </div>
                      </div>
                      </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact" name="tasktype" type="radio" value="Explain state pension amount" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="task-type">
                Explain state pension amount
              </label>
            </div>
            
            <div class="govuk-radios__conditional" id="conditional-contact">

                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="contact" name="context" type="checkbox" value="Contact customer" data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-checkboxes__label" for="task-type">
                              Contact customer
                            </label>
                          </div>

                         
                        </div>
                    </div>


        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact" name="tasktype" type="radio" value="Missing payment" data-aria-controls="conditional-payment">
            <label class="govuk-label govuk-radios__label" for="task-type">
                Missing payment
            </label>
          </div>
    
          <div class="govuk-radios__conditional" id="conditional-payment">
            <div class="govuk-form-group">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="contact" name="context" type="checkbox" value="Contact customer" data-aria-controls="conditional-payment">
                        <label class="govuk-label govuk-checkboxes__label" for="task-type">
                          Contact customer
                        </label>
                      </div>

                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="contact" name="context" type="checkbox" value=" Investigate and issue payment" data-aria-controls="conditional-payment">
                          <label class="govuk-label govuk-checkboxes__label" for="task-type">
                            Investigate and issue payment
                          </label>
                        </div>

                    </div>
                    </div>
                    </div>
                    </div>

  

            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact" name="tasktype" type="radio" value="Send letter" data-aria-controls="conditional-letter">
                <label class="govuk-label govuk-radios__label" for="task-type">
                            Send letter
                </label>
            </div>
                
                      <div class="govuk-radios__conditional" id="conditional-letter">
                        <div class="govuk-form-group">
                              <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="contact" name="context" type="checkbox" value="BR735 for tax year 23/24" data-aria-controls="conditional-letter">
                                    <label class="govuk-label govuk-checkboxes__label" for="task-type">
                                      BR735 for tax year 23/24
                                    </label>
                                  </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="contact" name="context" type="checkbox" value=" Explanation of pension breakdown" data-aria-controls="conditional-letter">
                                    <label class="govuk-label govuk-checkboxes__label" for="task-type">
                                      Explanation of pension breakdown
                                    </label>
                                  </div>

                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="contact" name="context" type="checkbox" value=" Investigate and issue payment" data-aria-controls="conditional-letter">
                                    <label class="govuk-label govuk-checkboxes__label" for="task-type">
                                      Investigate and issue payment
                                    </label>
                                  </div>

                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="contact" name="context" type="checkbox" value=" SP entitlement" data-aria-controls="conditional-letter">
                                    <label class="govuk-label govuk-checkboxes__label" for="task-type">
                                      SP entitlement
                                    </label>
                                  </div>

                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="contact" name="context" type="checkbox" value="What if I die letter" data-aria-controls="conditional-contact">
                                    <label class="govuk-label govuk-checkboxes__label" for="task-type">
                                      What if I die
                                    </label>
                                  </div>

                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="contact" name="context" type="checkbox" value=" Working Life letter" data-aria-controls="conditional-letter">
                                    <label class="govuk-label govuk-checkboxes__label" for="task-type">
                                      Working Life
                                    </label>
                                  </div>
            
                                  
                                </div>
                                </div>

                            </fieldset>
                        </div>
                    
                 
            

            

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                              Is this task urgent, or for a vulnerable person? (optional)
                            </h1>
                          </legend>
                          <div id="waste-hint" class="govuk-hint">
                            Select all that apply
                          </div>
                          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="generic" name="generic" type="checkbox" value="Urgent">
                              <label class="govuk-label govuk-checkboxes__label" for="waste">
                                Urgent
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="generic" name="generic" type="checkbox" value=" Vulnerable">
                              <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                Vulnerable
                              </label>
                            </div>
                          </div>
                        </fieldset>
                      </div>

                 
                  


   
    

                    <div style="margin-top:20px;" class="govuk-button-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Continue
                          </button>
                          
                      <a class=" govuk-button govuk-button--secondary" href="javascript:window.history.back()" "=""">
                          Back</a>  

</form>
</div>





{% endblock %}