{% extends "layouts/main.html" %}

{% block pageTitle %}
Task details
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

<div class=spacer1></div>

{{ govukBreadcrumbs({
  items: [
    {
      text: "Agent home",
      href: "agent"
    },
    {
      text: "Find a person",
      href: "find-person"
    },
    {
    text: "All State Pension tasks for Aisha Hendry",
    href: "javascript:window.history.back()"
    }
  ]
}) }}
{% endblock %}
      


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Explain state pension amount for Aisha Hendry
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Person
          </dt>
          <dd class="govuk-summary-list__value">
            Aisha Hendry
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            QQ 12 34 56 C
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Task
          </dt>
          <dd class="govuk-summary-list__value">
            Explain state pension amount
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Details
          </dt>
          <dd class="govuk-summary-list__value">
            Contact customer
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Additional details
          </dt>
          <dd class="govuk-summary-list__value">
            Vulnerable
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Due
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--red">
              OVERDUE 
           </strong><br>9 Nov 2024 at 14:12
          </dd>
            <dd class="govuk-summary-list__actions">
               
              </dd>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Created
          </dt>
          <dd class="govuk-summary-list__value">
            9 Oct 2024 at 04:12
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--green">
              ACTIVE
          </strong>
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Team member
          </dt>
          <dd class="govuk-summary-list__value">
            Julia Nguyen
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        
      </dl>
      <div class="govuk-button-group">
        <a href="javascript:window.history.back()" "=""">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Back</button>
       
    </div>
    </div>

{% endblock %}