
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Groups
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<div class=spacer1></div>
{{ govukBreadcrumbs({
  items: [
    {
      text: "Maternity allowance home",
      href: "maternity-dashboard"
    },
    {
      text: "Set up and manage team",
      href: "maternity-manage"
    }
  ]
}) }}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <h1 class="govuk-heading-l">Groups</h1>
  
  <p>Create and manage groups of team members. Team members will get tasks that match to the criteria of their group.</p>

  <a href="create-group"
  <button class="govuk-button" data-module="govuk-button">Create new group</button> </a>
  <div class="box5">
    <h2 class="govuk-heading-m"><a href="#">Group A</a></h2>
  </div>
  <div class="govuk-width-container"></div>
    &nbsp;

  <div class="box5">
    <h2 class="govuk-heading-m"><a href="#">Group B</a></h2>
  </div>
  <div class="govuk-width-container"></div>
    &nbsp;

    <div class="box5">
      <h2 class="govuk-heading-m"><a href="#">Group C</a></h2>
    </div>
    <div class="govuk-width-container"></div>
      &nbsp;
  
    <div class="box5">
      <h2 class="govuk-heading-m"><a href="#">Group D</a></h2>
    </div>
    <div class="govuk-width-container"></div>
      &nbsp;
{% endblock %}

