{% extends "layouts/main.html" %}

{% block pageTitle %}
  Remove group member
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
      <h2 class="govuk-error-summary__title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#">Select yes if you would like to remove the team member from the group</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
<h1 class="govuk-heading-l">Remove a group member</h1>
<div class="govuk-form-group govuk-form-group--error"">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">
          Would you like to remove Andi from Decision Makers?
        </h1>
      </legend>
      <p id="passport-issued-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Select yes if you would like to remove the team member from the group
      </p>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
            No
          </label>
        </div>
       
      </div>
    </fieldset>
  </div>


<div class="govuk-button-group">
    <a href="my-tasks-3" "=""">
    <button class="govuk-button" data-module="govuk-button">Confirm</button>
    <a href="javascript:window.history.back()"</a>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Back
    </button>
    </div>
  {% endblock %}