{% extends "layouts/main.html" %}

{% block pageTitle %}
Team leader home
{% endblock %}

{% block beforeContent %}

<div class=spacer1></div>

{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <!--<a href="org-unit-selection"
  <button class="govuk-button" data-module="govuk-button" style="float: right;">Manage another service</button></a>-->
  <h1 class="govuk-heading-l">Task types</h1>
  <p>Create and manage task types for Staging Org B. These are common items of routine work.
    Task types allow a user to view and manage the different kinds of work in the Staging Org B organisation unit.</p>
  <p>Create and manage groups of agents. Agents will get tasks that match to the criteria of their group. 
    <a href="create-task-type" class="govuk-button govuk-button--secondary">create new task type</a></p>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Groups in org unit</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Group name</th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Group name</th>
        <td class="govuk-table__cell"><a href="#">Manage</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Group name 1</th>
        <td class="govuk-table__cell"><a href="#">Manage</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Group name 2</th>
        <td class="govuk-table__cell"><a href="#">Manage</a></td>
      </tr>
    </tbody>
  </table>
</div>
&nbsp;
{% endblock %}


