
{% extends "layouts/main.html" %}

{% set pageName = "Oliver Logan" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <p class="govuk-body">
        All completed tasks between 13 October 2025 and 20 October 2025, 
        and tasks that remain in progress (active) at the end of 20 October 2025. 
      </p> 

      <!-- Table one - team -->
      <table class="govuk-table govuk-!-static-margin-bottom-3">
        
        <caption class="govuk-table__caption govuk-table__caption--m">All tasks completed and in progress (active), by task type</caption>
        
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header " style="width: 300px">Task type</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric ">Completed</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric ">Active</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Call back</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">24</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Data entry</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">26</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">General admin</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">15</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">20</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Initial call</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">15</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">21</td>
          </tr>
        </tbody>
        <tfoot class="govuk-table__row">
          <td scope="row" class="govuk-table__header govuk-!-width-one-quarter">Total</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">50</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">91</td>
        </tfoot>
      </table>
      <a href="#" class="govuk-link">Download as csv</a>
      

    </div>
  </div>

  
            
      
{% endblock %}