{% extends "layouts/main.html" %}

{% set pageName = "View Management Information (MI)" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<p>Scenario 1 - no date entered</p>

{{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
      {
        text: "Enter a ‘From’ date and or Enter a ‘To’ date",
        href: "#ScenarioOne"
      }
    ]
  }) }}

<p>Scenario 2 - date is incomplete</p>

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "‘From’ date must include the month and or ‘To’ date must include the month",
      href: "#ScenarioTwo"
    }
  ]
}) }}

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "‘From’ date must include the day and or ‘To’ date must include the day",
      href: "#ScenarioTwoTwo"
    }
  ]
}) }}

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "‘From’ date must include the year and or ‘To’ date must include the year",
      href: "#ScenarioTwoThree"
    }
  ]
}) }}

<p>Scenario 3 - the date entered cannot be correct</p>

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "‘From’ day must be a real date and or ‘To’ day must be a real date",
      href: "#ScenarioThree"
    }
  ]
}) }}

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "‘From’ month must be a real date and or ‘From’ month must be a real date",
      href: "#ScenarioThreeOne"
    }
  ]
}) }}

<p>Scenario 4 - date is in the future when it should be today’s date or in the past</p>

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "‘From’ date must be today’s date or in the past and or ‘To’ date must be today’s date or in the past",
      href: "#ScenarioFour"
    }
  ]
}) }}

<p>Scenario 5 - ‘To’ date is before ‘From' date</p>

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "‘From’ date needs to be earlier than the ‘to’ date",
      href: "#ScenarioFive"
    }
  ]
}) }}

<p>Scenario 6 - The task type is not selected</p>

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Select the task you want to view",
      href: "#ScenarioSix"
    }
  ]
}) }}

<p>Scenario 7 - Select the team you want to view MI for</p>

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Select the team you want to view MI for",
      href: "#ScenarioSeven"
    }
  ]
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <p>To view MI, you must enter a data range. Enter from and to dates below.</p> 

      <form method="post" novalidate>

      <p>Scenario 1 - no date entered</p>

      {{ govukDateInput({
        id: "ScenarioOne",
        fieldset: {
          legend: {
            text: "From",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "For example, 12 06 2025"
        },
        errorMessage: {
        text: "Enter a ‘From’ date and or Enter a ‘To’ date"       
        },
        items: [
          {
            name: "date",
            label: "Day",
            value: data.day,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Month",
            value: data.month,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Year",
            value: data.year,
            classes: "govuk-input--width-4"
          }
        ]
      }) }}

      <p>Scenario 2 - date is incomplete</p>
      
      {{ govukDateInput({
        id: "ScenarioTwo",
        fieldset: {
          legend: {
            text: "From",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "For example, 12 06 2025"
        },
        errorMessage: {
        text: "‘From’ date must include the month and or ‘To’ date must include the month"       
        },
        items: [
          {
            name: "date",
            label: "Day",
            value: data.day,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Month",
            value: data.month,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Year",
            value: data.year,
            classes: "govuk-input--width-4"
          }
        ]
      }) }}

      {{ govukDateInput({
        id: "ScenarioTwoTwo",
        fieldset: {
          legend: {
            text: "From",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "For example, 12 06 2025"
        },
        errorMessage: {
        text: "‘From’ date must include the day and or ‘To’ date must include the day"       
        },
        items: [
          {
            name: "date",
            label: "Day",
            value: data.day,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Month",
            value: data.month,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Year",
            value: data.year,
            classes: "govuk-input--width-4"
          }
        ]
      }) }}

      {{ govukDateInput({
        id: "ScenarioTwoThree",
        fieldset: {
          legend: {
            text: "From",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "For example, 12 06 2025"
        },
        errorMessage: {
        text: "‘From’ date must include the year and or ‘To’ date must include the year"       
        },
        items: [
          {
            name: "date",
            label: "Day",
            value: data.day,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Month",
            value: data.month,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Year",
            value: data.year,
            classes: "govuk-input--width-4"
          }
        ]
      }) }}
       
      <p>Scenario 3 - the date entered cannot be correct</p>

      {{ govukDateInput({
        id: "ScenarioThree",
        fieldset: {
          legend: {
            text: "From",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "For example, 12 06 2025"
        },
        errorMessage: {
        text: "‘From’ day must be a real date and or ‘To’ day must be a real date"       
        },
        items: [
          {
            name: "date",
            label: "Day",
            value: data.day,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Month",
            value: data.month,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Year",
            value: data.year,
            classes: "govuk-input--width-4"
          }
        ]
      }) }}

      {{ govukDateInput({
        id: "ScenarioThreeOne",
        fieldset: {
          legend: {
            text: "From",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "For example, 12 06 2025"
        },
        errorMessage: {
        text: "‘From’ month must be a real date and or ‘From’ month must be a real date"       
        },
        items: [
          {
            name: "date",
            label: "Day",
            value: data.day,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Month",
            value: data.month,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Year",
            value: data.year,
            classes: "govuk-input--width-4"
          }
        ]
      }) }}

      <p>Scenario 4 -  date is in the future when it should be today’s date or in the past</p>

      {{ govukDateInput({
        id: "ScenarioFour",
        fieldset: {
          legend: {
            text: "From",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "For example, 12 06 2025"
        },
        errorMessage: {
        text: " ‘From’ date must be today’s date or in the past and or ‘To’ date must be today’s date or in the past"       
        },
        items: [
          {
            name: "date",
            label: "Day",
            value: data.day,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Month",
            value: data.month,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Year",
            value: data.year,
            classes: "govuk-input--width-4"
          }
        ]
      }) }}

      <p>Scenario 5 - ‘To’ date is before ‘From' date</p>

      {{ govukDateInput({
        id: "ScenarioFive",
        fieldset: {
          legend: {
            text: "From",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "For example, 12 06 2025"
        },
        errorMessage: {
        text: "‘From’ date needs to be earlier than the ‘to’ date"       
        },
        items: [
          {
            name: "date",
            label: "Day",
            value: data.day,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Month",
            value: data.month,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Year",
            value: data.year,
            classes: "govuk-input--width-4"
          }
        ]
      }) }}

      <p>Scenario 6 - The task type is not selected</p>
          
      {{ govukRadios({
        name: "ScenarioSix",
        fieldset: {
          legend: {
            text: "Task types",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "Select the task you want to view, or 'All' for total tasks"
        },
        errorMessage: {
        text: "Select the task type you want to view"       
        },
        value: data.mvp.stats.taskTypes,
        items: [
          {
            value: "All",
            text: "All",
            checked: true
          },
          {
            value: "Call back",
            text: "Call back"
          },
          {
            value: "Data entry",
            text: "Data entry"
          },
          {
            value: "General admin",
            text: "General admin"
          },
          {
            value: "Initial call",
            text: "Initial call"
          }
        ]
      }) }}

      <p>Scenario 7 - Select the team you want to view MI for</p>

      {{ govukRadios({
        name: "ScenarioSeven",
        fieldset: {
          legend: {
            text: "Team",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "Select the team you want to view MI for"
        },
        errorMessage: {
        text: "Select the team you want to view MI for"       
        },
        value: data.mvp.stats.team,
        items: [
          {
            value: "Team Purple",
            text: "Team Purple",
            checked: true
          },
          {
            value: "Team Amber",
            text: "Team Amber"
          },
          {
            value: "Triage Team",
            text: "Triage Team"
          }
        ]
      }) }}
  
      {{ govukButton({
        text: "View MI"
      }) }}
        
        
      </form>


    </div>
  </div>
            
  


{% endblock %}