
{% extends "layouts/main.html" %}

{% set pageName = data['mvp']['stats']['team'] %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{pageName}} MI</h1>

      <p class="govuk-body">
        All tasks completed between 13 October and 20 October 2025, and any tasks in progress (active) at the end of this period.
      </p>

      <p>
        Completed tasks include any cancelled or failed tasks.
      </p>

      <!-- Table one - team -->
      <table class="govuk-table govuk-!-static-margin-bottom-3">
        
        <caption class="govuk-table__caption govuk-table__caption--m">All tasks completed and in progress (active) by task type</caption>
        
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Task type</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Completed</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Active</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header govuk-!-width-one-quarter" style="font-weight: 400; width: 50% !important;">No task types on the team</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          </tr>
        </tbody>  
      </table>
      {# <a href="/public/csv-files/TeamPurpleAgents25102025_31102025.xlsx" class="govuk-link">Download as csv</a> #}
    

    <!-- Table two - agent -->  
      <table class="govuk-table govuk-!-static-margin-top-8 govuk-!-static-margin-bottom-3">
        <caption class="govuk-table__caption govuk-table__caption--m">All tasks completed and in progress (active) by agent</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width: 300px">Agent</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Completed</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Active</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header govuk-!-width-one-quarter" style="font-weight: 400; width: 50% !important;">No agents on the team</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          </tr>
      </tbody>
      </table>

      {# <a href="/public/csv-files/TeamPurpleAgents25102025_31102025.xlsx" class="govuk-link">Download as csv</a><br><br> #}

    </div>
  </div>

  
            
      
{% endblock %}