{% extends "layouts/main.html" %}

{% set pageName = "View Management Information (MI)" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <p>To view MI, you must enter a data range. Enter from and to dates below.</p> 

      <form method="post" novalidate>
            
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s " for="startDate">From</label>
            <div class="govuk-hint">For example 12 06 2025</div>
            <div class="govuk-date-input" id="startDate">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric">
                </div>
              </div>
            </div>
          </div>
  
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="endDate">To</label>
            <div class="govuk-hint">For example 12 06 2025</div>
            <div class="govuk-date-input" id="endDate">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric">
                </div>
              </div>
            </div>
          </div>

          {{ govukRadios({
            name: "mvp[stats][taskTypes]",
            fieldset: {
              legend: {
                text: "Task types",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "Select the task you want to view, or 'All' for total tasks"
            },
            value: data.mvp.stats.taskTypes,
            items: [
              {
                value: "All",
                text: "All",
                checked: true
              },
              {
                value: "Call back",
                text: "Call back"
              },
              {
                value: "Data entry",
                text: "Data entry"
              },
              {
                value: "General admin",
                text: "General admin"
              },
              {
                value: "Initial call",
                text: "Initial call"
              }
            ]
          }) }}

          {{ govukRadios({
            name: "mvp[stats][team]",
            fieldset: {
              legend: {
                text: "Team",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "Select the team you want to view MI for"
            },
            value: data.mvp.stats.team,
            items: [
              {
                value: "Team Purple",
                text: "Team Purple",
                checked: true
              },
              {
                value: "Team Amber",
                text: "Team Amber"
              },
              {
                value: "Triage Team",
                text: "Triage Team"
              }
            ]
          }) }}
      
          {{ govukButton({
            text: "View MI"
          }) }}
        
        
      </form>

    </div>
  </div>
            
  


{% endblock %}