{% extends "layouts/main.html" %}

{% block pageTitle %}
Change task type
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class=govuk-grid-column-two-thirds>
    <h1 class="govuk-heading-l">
      Change task type
    </h1>
    <p>The current task type is {{ data['tasktypechange'] or "Book assessment" }}.</p>
    <br>
     
    <div class="govuk-form-group">
        <form method="post" action="review-task-type-change">

        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Choose a task type
            </h1>
          </legend>
        
          <div id="contact-hint" class="govuk-hint">
            Select one.
          </div>

          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact" name="tasktypechange" type="radio" value="Book assessment" data-aria-controls="conditional-assessment">
                <label class="govuk-label govuk-radios__label" for="task-type-change">
                  Book assessment
                </label>
              </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact" name="tasktypechange" type="radio" value="Create report" data-aria-controls="conditional-report">
              <label class="govuk-label govuk-radios__label" for="task-type-change">
                Create report
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact" name="tasktypechange" type="radio" value="HCP Audit" data-aria-controls="conditional-audit">
              <label class="govuk-label govuk-radios__label" for="task-type-change">
                HCP Audit
              </label>
            </div>

        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact" name="tasktypechange" type="radio" value="Paper based review" data-aria-controls="conditional-review">
            <label class="govuk-label govuk-radios__label" for="task-type-change">
                Paper based review
            </label>
        </div>    

            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact" name="tasktypechange" type="radio" value="Request medical evidence" data-aria-controls="conditional-evidence">
                <label class="govuk-label govuk-radios__label" for="task-type-change">
                            Request medical evidence
                </label>
            </div>
                
             </fieldset>
             </div>
                    

                    <div style="margin-top:20px;" class="govuk-button-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Continue
                          </button>
                          
                      <a class="govuk-button govuk-button--secondary" href="javascript:window.history.back()" "=""">
                          Back</a>  

</form>
</div>
{% endblock %}