{% extends "layouts/main.html" %}

{% block pageTitle %}
  Feedback
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
    Tell us about your experience with DWP Task
  </h1>
   <p> Give your feedback about the new DWP Task service by completing our short <a href="https://forms.office.com/e/b6ZFzimun6" target="_blank" rel="noopener noreferrer">survey</a> (opens in a new tab).</p>
   <p>If you need help, contact the DWP Task team by raising an issue with <a href="https://dwp.service-now.com/itsupport?id=dwp_report_an_incident&sys_id=dbfc8aeb1b58dd50875b76a5d34bcb54">DWP Place</a>.</p>
  
 
&nbsp;
    <div class="govuk-button-group">
        <a href="javascript:window.history.back()"</a>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Back
        </button>
</div>
</div>
</div>

{% endblock %}