{% extends "layouts/main.html" %}

{% block pageTitle %}
Add task matching criteria for Fiona Murray-Reed
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<div class=govuk-grid-column-two-thirds>
  <form class="form" action="maternity-team-fiona" method="post">

  <h1 class="govuk-heading-l">
    Add task matching criteria for Fiona Murray-Reed
  </h1>
  <p>Tell us more about Fiona so we can match them to tasks.</p>
  &nbsp;

{% from "govuk/components/input/macro.njk" import govukInput %}

{% from "govuk/components/input/macro.njk" import govukInput %}

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  id: "job role",
  name: "job-role",
  label: {
    text: "Job role",
    classes: "govuk-label--s",
    isPageHeading: false
  },
value: data['job-role']

}) }}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "grade", 
  value: data['grade'],
  fieldset: {
    legend: {
      text: "Job grade",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "AA",
      text: "AA"
    },
    {
      value: "AO",
      text: "AO"
    },
    {
      value: "EO",
      text: "EO"
    },
    {
      value: "HEO/SEO",
      text: "HEO/SEO"
    },
    {
      value: "Grade 7",
      text: "Grade 7"
    },
    {
      value: "Grade 6",
      text: "Grade 6"
    }
  ]
}) }}

{{ govukRadios({
  name: "welsh",
  value: data['welsh'],
  fieldset: {
    legend: {
      text: "Does Fiona speak Welsh?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  name: "experience",
  id: "experience",
  label: {
    text: "Experience",
    classes: "govuk-label--s",
    isPageHeading: true
  },
  value: data['experience']
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}
<form class="form" action="maternity-team-fiona" method="post">.
{{ govukButton({
  text: "Continue"
}) }}

</form>
</div>
</div>
{% endblock %}
