{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<div class="spacer2">
</div>

    <h1 class="govuk-heading-xl">
      Prototypes
    </h1>
  
    <h2 class="govuk-heading-m">All versions </h2>
    &nbsp;
</div>
<div class="govuk-grid-column-full">


    <!-- Demos -->

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Team View demo links</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" width="25%">Date</th>
          <th scope="col" class="govuk-table__header" width="50%">Information</th>
          <th scope="col" class="govuk-table__header" width="25%">Links</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">15 Oct 2025</td>
          <td class="govuk-table__cell">Bulk Changes</td>
          <td class="govuk-table__cell"><a href="teams/bulk-changes/select-version">demo</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">16 Sep 2025</td>
          <td class="govuk-table__cell">prototype: agent statistics with dates</td>
          <td class="govuk-table__cell"><a href="teams/stats/design-3/home">demo</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">15 Sep 2025</td>
          <td class="govuk-table__cell">prototype: agent statistics with task type</td>
          <td class="govuk-table__cell"><a href="teams/stats/design-2/home">demo</a></td>
       </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">1 Sep 2025</td>
          <td class="govuk-table__cell">prototype: stats</td>
          <td class="govuk-table__cell"><a href="teams/stats/home">demo</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 Aug 2025</td>
          <td class="govuk-table__cell">prototype: improved filters</td>
          <td class="govuk-table__cell"><a href="teams/design-4/home">demo</a></td>
      </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">27 Aug 2025</td>
          <td class="govuk-table__cell">prototype: for MVP</td>
          <td class="govuk-table__cell"><a href="teams/mvp/home"> demo</a> </td>
      </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">15 Aug 2025</td>
          <td class="govuk-table__cell">prototype: Team leaders with multiple teams select team first</td>
          <td class="govuk-table__cell"><a href="teams/design-1/home"> demo</a> </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">15 Aug 2025</td>
        <td class="govuk-table__cell">prototype: Team leaders with multiple teams team filters on task page</td>
        <td class="govuk-table__cell"><a href="teams/design-3/home"> demo</a> </td>
      </tr> 
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">15 Aug 2025</td>
        <td class="govuk-table__cell">prototype: Team leaders with one team</td>
        <td class="govuk-table__cell"><a href="teams/design-2/home"> demo</a> </td>
      </tr> 
      <!-- <tr class="govuk-table__row">
        <td class="govuk-table__cell">15 Aug 2025</td>
        <td class="govuk-table__cell">prototype: Team leader view </td>
        <td class="govuk-table__cell"><a href="teams/design-3/home"> demo</a> </td>
      </tr> 
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">15 Aug 2025</td>
        <td class="govuk-table__cell">prototype: stats</td>
        <td class="govuk-table__cell"><a href="teams/stats"> demo</a> </td>
      </tr> 
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">15 Aug 2025</td>
        <td class="govuk-table__cell">prototype: view tasks</td>
        <td class="govuk-table__cell"><a href="teams/tasks-v2"> demo</a> </td>
      </tr>  -->
  
      </tbody>
      
    </table>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Product demo links</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" width="25%">Date</th>
        <th scope="col" class="govuk-table__header" width="50%">Information</th>
        <th scope="col" class="govuk-table__header" width="25%">Links</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">11 September 2024</td>
        <td class="govuk-table__cell">Demo prototype for Task agent view</td>
        <td class="govuk-table__cell"><a href="demo-agent/agent">Agent demo</a> </td>
</tr>
<tr class="govuk-table__row">
<td class="govuk-table__cell">11 September 2024</td>
<td class="govuk-table__cell">Demo prototype for Task service manager view </td>
<td class="govuk-table__cell"><a href="demo-servicemanager/home">Service manager demo</a></td>
</tr>
    </tbody>
    
  </table>

    <!-- Beta iterations -->
    <!-- <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Beta: Agent</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" width="25%">Date</th>
          <th scope="col" class="govuk-table__header" width="50%">Information</th>
          <th scope="col" class="govuk-table__header" width="25%">Links</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">x</td>
          <td class="govuk-table__cell">x</td>
          <td class="govuk-table__cell"><a href="Agent-v5/my-tasks">Agent version 6</a> </td>
</tr>-->

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Beta: Service manager</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" width="25%">Date</th>
      <th scope="col" class="govuk-table__header" width="50%">Information</th>
      <th scope="col" class="govuk-table__header" width="25%">Links</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">2 April 2025</td>
      <td class="govuk-table__cell">Service manager version for user testing April 2025.</td>
      <td class="govuk-table__cell"><a href="servicemanager-testing-apr25/home">Service manager testing April 25</a> </td>
</tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">17 March 2025</td>
      <td class="govuk-table__cell">Most up to date version of service manager, synced with the <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1739264383556/bf44c8bdb71dbde06da5a15680936c440bddfdcf" target="_blank">V6 wireframes on Mural</a> (opens in new tab).</td>
      <td class="govuk-table__cell"><a href="servicemanager-v6/home">Service manager version 6</a> </td>
</tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">6 February 2025</td>
      <td class="govuk-table__cell">Testing version for user research February 2025</td>
      <td class="govuk-table__cell"><a href="servicemanager-testing-feb25/home">Service manager  testing version 6</a> </td>
</tr>
    



    <!-- Alpha iterations -->

      <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Alpha: Agent</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" width="25%">Date</th>
          <th scope="col" class="govuk-table__header" width="50%">Information</th>
          <th scope="col" class="govuk-table__header" width="25%">Links</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">13 February 2025</td>
          <td class="govuk-table__cell">Designs for Agent.</td>
          <td class="govuk-table__cell"><a href="Agent-v6/agent">Agent version 6</a> </td>
</tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">12 January 2025</td>
          <td class="govuk-table__cell">Testing version for our fourth round of testing.</td>
          <td class="govuk-table__cell"><a href="Agent-testing-jan25/agent">Agent testing version Jan 2025</a> </td>
</tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">4 July 2024</td>
          <td class="govuk-table__cell">Testing version for our third round of testing.</td>
          <td class="govuk-table__cell"><a href="Agent-v5/my-tasks">Agent version 5</a> </td>
</tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">1 June 2024</td>
          <td class="govuk-table__cell">Updated version to ticket for the development team.</td>
          <td class="govuk-table__cell"><a href="Agent-v4/my-tasks">Agent version 4</a> </td>
</tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">4 April 2024</td>
          <td class="govuk-table__cell">This version will be the first ticketed for the development team.</td>
          <td class="govuk-table__cell"><a href="Agent-v3/my-tasks">Agent version 3</a> </td>
</tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">1 February 2024</td>
          <td class="govuk-table__cell">Agent view for the second round of testing.</td>
          <td class="govuk-table__cell"><a href="Agent-v2/tasks-dashboard">Agent version 2</a> </td>
</tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">15 November 2023</td>
          <td class="govuk-table__cell">Agent view, with ability to claim a task, work on it, and mark it as finished. Setup for our first round of user testing.</td>
          <td class="govuk-table__cell"><a href="Agent-v1/tasks-dashboard-0">Agent version 1</a> </td>
</tr>
      </tbody>
      
    </table>

    
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Alpha: Service manager</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" width="25%">Date</th>
          <th scope="col" class="govuk-table__header" width="50%">Information</th>
          <th scope="col" class="govuk-table__header" width="25%">Links</th>
        </tr>
      </thead>
      
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">01 December 2023</td>
          <td class="govuk-table__cell">Content needed here.</td>
          <td class="govuk-table__cell"><a href="servicemanager-v5/maternity-dashboard">Service manager version 5</a> </td>
          </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">31 August 2023</td>
          <td class="govuk-table__cell">Service manager view, with task management including returning tasks to queue, teams management including individual matching criteria and groups, and statistics.</td>
          <td class="govuk-table__cell"><a href="servicemanager-v4/maternity-dashboard">Service manager version 4</a> </td>
          </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">20 June 2023</td>
          <td class="govuk-table__cell">Service manager view, with task management including reassigning tasks to other team members, teams management including individual matching criteria and groups, and statistics.</td>
          <td class="govuk-table__cell"><a href="servicemanager-v3/maternity-dashboard">Service manager version 3</a> </td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">18 May 2023</td>
          <td class="govuk-table__cell">Service manager view, with org unit setup, task templates, groups, and team management.</td>
          <td class="govuk-table__cell"><a href="servicemanager-v2/maternity-dashboard">Service manager version 2</a> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">05 April 2023</td>
          <td class="govuk-table__cell">Service manager view, with management information and task management.</td>
          <td class="govuk-table__cell"><a href="servicemanager-v1/maternity-dashboard">Service manager version 1</a> </td>
        </tr>

      </tbody>
      
    </table>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Alpha: Task admin (Superuser)</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" width="25%">Date</th>
          <th scope="col" class="govuk-table__header" width="50%">Information</th>
          <th scope="col" class="govuk-table__header" width="25%">Links</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">31 August 2023</td>
          <td class="govuk-table__cell">Admin view, with service set-up including service manager, and task type set-up.</td>
          <td class="govuk-table__cell"><a href="Superuser-v2/task-services-home">Admin version 2</a> </td>

      </tbody>
      
    </table>



    

{% endblock %}
