{% extends "layouts/main.html" %}

{% block pageTitle %}
  Change due date and time
{% endblock %}

{% set pageName = "Change due date and time" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <p>Change the due date and time for Alternative Payment Arrangements.</p>
      <p>The current due date and time for this task is 5 April 2025.</p>

      <form method="post" novalidate>

      {{ govukDateInput({
        id: "date",
        fieldset: {
          legend: {
            text: "Date",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "For example, 27 3 2007"
        },
        items: [
          {
            name: "date",
            label: "Day",
            value: data.day,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Month",
            value: data.month,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Year",
            value: data.year,
            classes: "govuk-input--width-4"
          }
        ]
      }) }}
      

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Confirm"
        }) }}
      
        {{ govukButton({
          text: "Back",
          classes: "govuk-button--secondary",
          href: "task"
        }) }}
      </div>

      </form>

    </div>
  </div>

{% endblock %}


