{% extends "layouts/main.html" %}

{% block pageTitle %}
Agent home
{% endblock %}

{% block beforeContent %}

<div class=spacer1></div>

{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <!--<a href="org-unit-selection"
  <button class="govuk-button" data-module="govuk-button" style="float: right;">Manage another service</button></a>-->
  <h1 class="govuk-heading-l">Which tasks do you want to view?</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-form-group">
        <label class="govuk-label title-label" for="startDate">From</label>
        <div class="govuk-date-input" id="startDate">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-form-group">
        <label class="govuk-label title-label" for="endDate">To</label>
        <div class="govuk-date-input" id="endDate">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <label class="govuk-label title-label" for="taskType">Task type</label>
        <p class="govuk-hint">Select the task type you want to view</p>
        <select class="govuk-select" id="taskType" name="taskType">
          <option value="">-- Select --</option>
          <option>Onboarding</option><option>Payroll Setup</option><option>Exit Interview</option><option>IT Access</option><option>Compliance Training</option>
        </select>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-form-group">
        <label class="govuk-label title-label" for="teamMember">Team</label>
        <select class="govuk-select" id="teamMember" name="teamMember">
          <option value="">-- Select --</option>
          <option>John Doe</option><option>Jane Smith</option><option>Alex Lee</option><option>Emily Green</option><option>Michael Brown</option><option>Sara White</option><option>Chris Black</option><option>Olivia Clark</option><option>James Adams</option><option>Sophia Turner</option>
        </select>
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-form-group">
        <label class="govuk-label title-label" for="teamMember">Team member</label>
        <select class="govuk-select" id="teamMember" name="teamMember">
          <option value="">-- Select --</option>
          <option>John Doe</option><option>Jane Smith</option><option>Alex Lee</option><option>Emily Green</option><option>Michael Brown</option><option>Sara White</option><option>Chris Black</option><option>Olivia Clark</option><option>James Adams</option><option>Sophia Turner</option>
        </select>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <label class="govuk-label title-label" for="taskType">Priority</label>
        <p class="govuk-hint">Select the task type you want to view</p>
        <select class="govuk-select" id="taskType" name="taskType">
          <option value="">-- Select --</option>
          <option>high</option><option>low</option><option>medium</option><option>Urgent</option>
        </select>
        </fieldset>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <label class="govuk-label title-label" for="taskType">Status</label>
          <p class="govuk-hint">Select the task type you want to view</p>
          <select class="govuk-select" id="taskType" name="taskType">
            <option value="">-- Select --</option>
            <option>Closed</option><option>Paused </option><option>Allocated</option><option>Unallocated</option>
          </select>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-coloumn-two-thirds">
      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          National insurance number
        </label>
        <div class="govuk-hint">
          Enter a customer's National Insurance number to view ttasks raised against this customer 
        </div>
        <input class="govuk-input govuk-input--width-10" id="event-name" name="eventName" type="text">
      </div>
    </div>
  </div>
  </div>
  </div>
   
      <a href="step-2" class="govuk-button">Create report</a>

    
    </div>
      
    </div>
    

{% endblock %}