{#
  For guidance on how to use layouts see:
  https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
  #}
  
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
  
{% block header %}
  <header data-module="govuk-header" class="dwp-header">
  <div class="dwp-header__content govuk-width-container">
    <div class="dwp-header__service-name">
      <a href="/" class="dwp-header__link">{{serviceName}}</a>
    </div>
    <div class="dwp-header__service-action">
        <p class="header_right-panel"><span>National Mailbox</span> | <a class="dwp-header__link" href="../../select-user-admin">Working as a Service Manager</a></p>
    </div>
    {# <nav class="dwp-header-navigation"
      aria-label="Primary">
      <button type="button" class="dwp-header-navigation__menu-button govuk-js-header-toggle" aria-controls="navigation" hidden>
        Menu
      </button>
      <ul id="navigation" class="dwp-header-navigation__list">
        <li class="dwp-header-navigation__item">
          <a style="color: #ffffff;" href="#">View and manage tasks</a>
        </li>
        <li class="dwp-header-navigation__item">
          <a style="color: #ffffff;" href="#"> Manage Claims Org B setup</a>
        </li>
        <li class="dwp-header-navigation__item">
          <a style="color: #ffffff;" href="#"> Management Information (MI)</a>
        </li>
        <li class="dwp-header-navigation__item">
          <a style="color: #ffffff;" href="#">Agent dashboard</a>
        </li>
      </ul>
    </nav> #}
  </div>
</header>
<div class="govuk-width-container">
  {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new private beta service - help us to improve it by telling us your  <a class="govuk-link" href="feedback">feedback</a>.',
      classes: 'govuk-width-container govuk-!-margin-bottom-3'
    }) }} 
</div> 

{% endblock %}
 

{% block footer %}
  {% include "_includes/footer.html" %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/components/accessible-autocomplete.min.js"></script>
{% endblock %}

