{% extends "layouts/main.html" %}

{% block pageTitle %}
Choose criteria for Decision makers group
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">
    Back
  </a>
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <h1 class="govuk-heading-l">
      Choose criteria for {{ data['humanreadablename'] or "None" }}
    </h1>

    <p>Choose matching criteria for this group.</p>
    <p>Team members will get tasks that match to {{ data['humanreadablename'] or "None" }}.</p>

    <main class="govuk-main-wrapper">
      <form class="form" action="create-group3" method="post">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
            {{ govukCheckboxes({
              name: "group-grade",
              values: data['group-grade'],
              fieldset: {
                legend: {
                  text: "Grade",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "aa",
                  text: "AA"
                },
                {
                  value: "ao",
                  text: "AO"
                }
              ]
            }) }}
    
            {{ govukCheckboxes({
              name: "group-language",
              values: data['group-language'],
              fieldset: {
                legend: {
                  text: "Language",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "welsh",
                  text: "Welsh"
                }
              ]
            }) }}
            
            {{ govukCheckboxes({
              name: "group-location",
              values: data['group-location'],
              fieldset: {
                legend: {
                  text: "Location",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "england",
                  text: "England"
                },
                {
                  value: "northern-ireland",
                  text: "Northern Ireland"
                },
                {
                  value: "scotland",
                  text: "Scotland"
                },
                {
                  value: "wales",
                  text: "Wales"
                }
              ]
            }) }}


            {{ govukCheckboxes({
            name: "group-office",
            values: data['group-office'],
            fieldset: {
              legend: {
                text: "Office ID",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "bristol",
                text: "Bristol"
              },
              {
                value: "glasgow",
                text: "Glasgow"
              },
              {
                value: "leeds",
                text: "Leeds"
              },
              {
                value: "longbenton",
                text: "Longbenton"
              }
              ]
            }) }}



            {{ govukCheckboxes({
            name: "group-role",
            values: data['group-role'],
            fieldset: {
              legend: {
                text: "Role",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "decision-maker",
                text: "Decision maker"
              },
              {
                value: "claims-processor",
                text: "Claims processor"
              }
              ]
            }) }}
    
            {{ govukCheckboxes({
              name: "group-pattern",
              values: data['group-pattern'],
              fieldset: {
                legend: {
                  text: "Working pattern",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "mfpm",
                  text: "M-F PM"
                }
              ]
            }) }}
          </div>
        </div>
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
            <a class=" govuk-button govuk-button--secondary" href="javascript:window.history.back()" "=""">
                Back</a>  
        </div> 
        </div>
      </form>
    </main>
  </div>
{% endblock %}
