{% extends "layouts/main.html" %}

{% block pageTitle %}
Add team members to Decision makers group
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
  <script>
    const teamMembers = [
      "Aiden Jenkins, 12345678",
      "Amy Anderson, 12345678",
      "Amy Adams, 12345678",
      "Amy Johnston, 12345678",
      "Ben Hoad, 12345678",
      "Joel Odonnell, 12345678",
      "Oliver Logan, 12345678",
      "Dan Hayes, 12345678",
      "Kathleen Lin, 12345678",
      "Darren Lowery, 12345678",
      "Kamran Roth, 12345678",
      "Amaan Hubbard, 12345678",
      "Sally Whitaker, 12345678",
      "Georgia Duncan, 12345678",
      "Jean Booker, 12345678",
      "Kaine Bell, 12345678",
      "Arjan Sharp, 12345678",
      "Bianca Nicholson, 12345678",
      "Brett Henderson, 12345678",
      "Hassan Young, 12345678",
      "Sonia Pruitt, 12345678",
      "Erica Fernandez, 12345678"
    ]

    accessibleAutocomplete({
      element: document.querySelector('#search'),
      id: 'search', // To match it to the existing <label>.
      CSSNamespace: 'test',
      source: teamMembers,
      templates: {
        inputValue: function (suggestion) {
          return suggestion
        },
        suggestion: function (suggestion) {
          const parts = suggestion.split(", ");
          return `${parts[0]}, ${parts[1]}`
        }
      }
    })
  </script>
{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/accessible-autocomplete.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">
    Back
  </a>
{% endblock %}

{% block content %}
<!--<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      You will be signed out soon
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      This helps keep data secure. If you don't do anything for 1 hour, we'll log you out and 
any progress you have not confirmed will be deleted.
    </p>
  </div>
</div>-->


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--<div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
              <h2 class="govuk-error-summary__title">
                There is a problem
              </h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#">Andi Anderson has already been added</a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>-->

           <!--<div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              You have added Andi to the Maternity Allowance team.
            </h3>
            
          </div>
        </div>--> 
       
    <h1 class="govuk-heading-l">
      Add team members to Decision makers
    </h1>
    
  &nbsp;
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
       
    
          <!-- Accessible autocomplete will hydrate this div -->
          
          <label class="govuk-label govuk-label--m" for="search">Find a team member</label>
          <div id="event-name-hint" class="govuk-hint">
            Use their name or staff number.
          </div>
          <div id="search" class="govuk-input--width-30"></div>

    <div class="govuk-button-group" style="margin-top:10px;">
      <a href="create-group3-aiden-added">
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Add    </button></a>
      </div>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                I do not see the team member I'm looking for
              </span>
            </summary> 
           <div class="govuk-details__text">
              <p>You may not have added this team member to the Maternity Allowance team yet. You can add them later, then add them to a group.</p>
            </div>
          </details> 
          </form>
          </div>
          </div>
          
          
          <!--<div class="govuk-inset-text">
          <p><strong>Andi Anderson has been removed from the list of team members you want to add to the group.</strong></p>
        </div>-->

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Group members</caption>
            <thead class="govuk-table__head">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Staff number</th>
                <th scope="col" class="govuk-table__header"> </th>
            </thead>
            <tbody class="govuk-table__body">
              <!--<tr class="govuk-table__row">
                <td class="govuk-table__cell">Ben Hoad</td>
                <td class="govuk-table__cell">0123456789</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Remove</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Aiden Jenkins</td>
                <td class="govuk-table__cell">0123456789</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Remove</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Catriona MacElhinney</td>
                <td class="govuk-table__cell">0123456789</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Remove</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Doris Fuller</td>
                <td class="govuk-table__cell">0123456789</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Remove</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Edward Price</td>
                <td class="govuk-table__cell">0123456789</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Remove</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Fergus Murray</td>
                <td class="govuk-table__cell">0123456789</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Remove</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Grant Hughes</td>
                <td class="govuk-table__cell">0123456789</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Remove</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Harris Perry</td>
                <td class="govuk-table__cell">0123456789</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Remove</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Ishika Patel</td>
                <td class="govuk-table__cell">0123456789</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Remove</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Irena Davies</td>
                <td class="govuk-table__cell">0123456789</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Remove</a></td>
              </tr>-->
            </tbody>
          </table>
          <p>You have not added any team members to Decision makers yet.</p>
          <!--<nav class="govuk-pagination" aria-label="Pagination">
            <ul class="govuk-pagination__list">
              <li class="govuk-pagination__item govuk-pagination__item--current">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
                  1
                </a>
              </li>
              <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
                  2
                </a>
              </li>
              <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                  3
                </a>
              </li>
            </ul>
            <div class="govuk-pagination__next">
              <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                <span class="govuk-pagination__link-title">
                  Next<span class="govuk-visually-hidden"> page</span>
                </span>
                <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                  <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
              </a>
            </div>
          </nav>-->
          &nbsp;
          <div class="govuk-button-group">
            <a href="review-edit-group" "=""">
              <button class="govuk-button" data-module="govuk-button">Continue</button></a>
              <a href="review-edit-group" "=""">
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Skip</button>  
          </div>
        </div>

   
{% endblock %}