{% extends "layouts/main.html" %}

{% block pageTitle %}
  All tasks
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<div class=spacer1></div>
{{ govukBreadcrumbs({
  items: [
    {
      text: "Service manager home",
      href: "home"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<!-- Filter success message -->

  <div class="govuk-grid-full">
    <div class="govuk-notification-banner govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Filter applied
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p><strong>3 results for “Julia" in 'Tasks'.</strong></p>
        <p><strong>0 results for “Julia" in 'On hold tasks'.</strong></p>
        <p><strong>15 results for “Julia" in 'Closed tasks'.</strong></p>
        <p><a href="manage-tasks">Clear filter</a></p>
    </div>
      </div>

      <!-- Sort and filter -->

    <h1 class="govuk-heading-l">
      All tasks
    </h1>
    <p>View and manage your team's tasks. 
    </p>
    <p>You can view closed tasks from the last 30 days.</p>
     </div>

        <div class="govuk-form-group govuk-input__wrapper">
          <div>
            <label class="govuk-label" for="sort">
              Sort by
            </label>
      
            <form method="post">
              <select class="govuk-select" id="sort" name="sort">
                <option>Created, earliest to latest</option>
                <option>Created, latest to earliest</option>
                <option>Priority, low to critical</option>
                <option>Priority, critical to low</option>
              </select>
              <a href="#">
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Sort
                </button>
                </a>
            </form>
          </div>
          &nbsp; &nbsp;
          <div>
            
            <label class="govuk-label" for="width-20">
              Filter your team's tasks
            </label>
            <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-10" type="text" spellcheck="false">
          
              <a href="manage-tasks-filter-applied">
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Filter
              </button>
              </a>
            </div>
        </div>
          </div>
          
    <!-- Filtered table results -->
          
     <div class="govuk-tabs" data-module="govuk-tabs">
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#tasks">
            Tasks
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#on-hold-tasks">
            On hold tasks
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#finished-tasks">
            Closed tasks
          </a>
        </li>
      </ul>

      <!-- Tasks tab filtered -->

        <div class="govuk-tabs__panel" id="tasks">
          <h2 class="govuk-heading-l">Tasks
          <p class="govuk-body govuk-!-font-tabular-numbers">3 results for “Julia" in 'Tasks'.</p></h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Created</th>
              <th scope="col" class="govuk-table__header">Task</th>
              <th scope="col" class="govuk-table__header">National Insurance number</th>
                <th scope="col" class="govuk-table__header">Team member</th>
                <th scope="col" class="govuk-table__header">Priority</th>
                <th scope="col" class="govuk-table__header">Status</th>
            </thead>

            <tbody class="govuk-table__body">
             
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="task-details-active">View</a></td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">
                  OVERDUE 
               </strong><br>9 Oct 2024</td>
                <td class="govuk-table__cell">{{ data['tasktypechange'] or "Book assessment" }}</td>
                <td class="govuk-table__cell">LH 12 88 76 D</td>
                <td class="govuk-table__cell">Julia Nguyen</td>
                <td class="govuk-table__cell">Critical</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    ACTIVE
                  </strong></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">View</a></td>
                <td class="govuk-table__cell">10 Oct 2024</td>
                <td class="govuk-table__cell">Create report</td>
                <td class="govuk-table__cell">KD 14 35 56 N</td>
                <td class="govuk-table__cell">Julia Nguyen</td>
                <td class="govuk-table__cell">Medium</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--yellow">
                    ALLOCATED
                  </strong></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">View</a></td>
                <td class="govuk-table__cell">10 Oct 2024</td>
                <td class="govuk-table__cell">Create report</td>
                <td class="govuk-table__cell">RX 09 33 43 M</td>
                <td class="govuk-table__cell">Julia Nguyen</td>
                <td class="govuk-table__cell">Medium</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--yellow">
                    ALLOCATED
                  </strong></td>
              </tr>
              
            </tbody>
          </table>
          
        </div>

        <!-- On hold tasks tab filtered -->
        
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="on-hold-tasks">
          <h2 class="govuk-heading-l">On hold tasks
            <p class="govuk-body govuk-!-font-tabular-numbers">0 results for “Julia" in 'On hold tasks'.</p></h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Created</th>
              <th scope="col" class="govuk-table__header">Task</th>
              <th scope="col" class="govuk-table__header">National Insurance number</th>
                <th scope="col" class="govuk-table__header">Team member</th>
                <th scope="col" class="govuk-table__header">Priority</th>
                <th scope="col" class="govuk-table__header">Status</th>
            </thead>
          </table>
          <p style="text-align: left;"> 0 filter results in 'On hold tasks'.</p>
        </div>

        <!-- Closed tasks tab filtered -->
        
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="finished-tasks">
          <h2 class="govuk-heading-l">Closed tasks
            <p class="govuk-body govuk-!-font-tabular-numbers">0 results for “Julia" in 'Closed tasks'.</p></h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Closed</th>
              <th scope="col" class="govuk-table__header">Task</th>
              <th scope="col" class="govuk-table__header">National Insurance number</th>
                <th scope="col" class="govuk-table__header">Team member</th>
                <th scope="col" class="govuk-table__header">Priority</th>
                <th scope="col" class="govuk-table__header">Status</th>
            </thead>
          
          </table>
          <p style="text-align: left;"> 0 filter results in 'Closed tasks'.</p>
        </div>
    
        </div>
        &nbsp;

        <!-- Pagination -->

        <nav class="govuk-pagination" role="navigation" aria-label="results">
          <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
              <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              <span class="govuk-pagination__link-title">Previous</span></a>
          </div>
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                1
              </a>
            </li>
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                2
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg></a>
            
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
</div>
    </div>
  </div>
{% endblock %}


<!-- to make a table row clickable using javascript
   tr onclick="window.location='task-info#'" class = -->