
{% extends "layouts/main.html" %}

{% block pageTitle %}
Task types
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<div class=spacer1></div>
{{ govukBreadcrumbs({
  items: [
    {
      text: "Service home",
      href: "home"
    },
    {
      text: "Set up and manage team",
      href: "manage-team"
    }
  ]
}) }}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <!--<div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
      aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          You made changes to Change a customer's address.
        </h3>
        
      </div>
    </div>-->
  <h1 class="govuk-heading-l">Task types</h1>
  
  <p>Manage Maternity Allowance task types. These are common items of routine work.</p>


  <!--<h2 class="blueheading">Your task types</h2>-->
  &nbsp;

  <div class="box5">
    <h2 class="govuk-heading-m"><a href="#">Book assessment</a></h2>
  </div>
  <div class="govuk-width-container">
    &nbsp;

</div>

  <div class="box5">
    <h2 class="govuk-heading-m"><a href="task-type-overview">Change address</a></h2>
  </div>
</div>

<div class="govuk-width-container">
&nbsp;

  <div class="box5">
    <h2 class="govuk-heading-m"><a href="#">Create report</a></h2>
  </div>
  <div class="govuk-width-container">
    &nbsp;

  <div class="box5">
    <h2 class="govuk-heading-m"><a href="#">Paper based review</a></h2>
  </div>
  <div class="govuk-width-container">
    &nbsp;

    <div class="box5">
      <h2 class="govuk-heading-m"><a href="#">Request medical evidence</a></h2>
    </div>
</div>


&nbsp;
{% endblock %}

