{% extends "layouts/main.html" %}

{% block pageTitle %}
Task details
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

<div class=spacer1></div>

{{ govukBreadcrumbs({
  items: [
    {
      text: "Service manager home",
      href: "home"
    },
    {
      text: "All tasks",
      href: "manage-tasks"
    }
  ]
}) }}
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <!--<div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
      aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          You have successfully returned this task to the queue.
        </h3>
      </div>
    </div>-->

      <h1 class="govuk-heading-l">
        Create report for Amy Kim
      </h1>
  
   
  
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Person
        </dt>
        <dd class="govuk-summary-list__value">
          Amy Kim        </dd>
        <dd class="govuk-summary-list__actions">
            
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Task
        </dt>
        <dd class="govuk-summary-list__value">
          Create report
        </dd>
        <dd class="govuk-summary-list__actions">
            
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date due
        </dt>
        <dd class="govuk-summary-list__value">
          10 October 2023 at 17:00
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"></span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date created
        </dt>
        <dd class="govuk-summary-list__value">
          8 October 2023 at 14:00
        </dd>
        <dd class="govuk-summary-list__actions">
            
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Priority
        </dt>
        <dd class="govuk-summary-list__value">
          Medium
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"></span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--yellow">
            ALLOCATED
          </strong></td>
        </dd>
        <dd class="govuk-summary-list__actions">
            
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Team member
        </dt>
        <dd class="govuk-summary-list__value">
          Dmitrij Ivanov
        </dd>
        <dd class="govuk-summary-list__actions">
            <a href="#">Return to queue</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Blocked
        </dt>
        <dd class="govuk-summary-list__value">
          None
        </dd>
        <dd class="govuk-summary-list__actions">
          
        </dd>
      </div>
      
    </dl>
    <div class="govuk-button-group">
      <a href="#" "=""">
          <button class="govuk-button govuk-button" data-module="govuk-button">View history</button></a></div>
          <div class="govuk-button-group">
  <a href="javascript:window.history.back()" "=""">
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Back</button></div>
    </div>
      </div>

{% endblock %}

