{% set filterOptionsHtml %}

 {{ govukDateInput({
    id: "[teams][v2][from]",
    fieldset: {
      legend: {
        text: "From",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 27 3 2024"
    },
    items: [
      {
        name: "date",
        label: "Day",
        value: data.day,
        classes: "govuk-input--width-2"
      },
      {
        name: "date",
        label: "Month",
        value: data.month,
        classes: "govuk-input--width-2"
      },
      {
        name: "date",
        label: "Year",
        value: data.teams.v2.date,
        classes: "govuk-input--width-4"
      }
    ]
  }) }}

  {{ govukDateInput({
    id: "[teams][v2][to]",
    fieldset: {
      legend: {
        text: "To",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 27 3 2024"
    },
    items: [
      {
        name: "date",
        label: "Day",
        value: data.teams.v2.to,
        classes: "govuk-input--width-2"
      },
      {
        name: "date",
        label: "Month",
        value: data.month,
        classes: "govuk-input--width-2"
      },
      {
        name: "date",
        label: "Year",
        value: data.year,
        classes: "govuk-input--width-4"
      }
    ]
  }) }}

  <p class="govuk-body">
    This will display tasks created in this date range.<br> Select an option below if you want to change this.
  </p>

  {{ govukRadios({
    classes: "govuk-radios--small",
    name: "[teams][v2][DateRangeOption]",
    fieldset: {
      legend: {
        text: "Date range option",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    value: data.teams.v2.DateRangeOption,
    hint: {text: "Select the status of the tasks you want to view (optional)"},
    items: [
      {
        value: "Allocated",
        text: "Allocated"
      },
      {
        value: "Active",
        text: "Active"
      },
      {
        value: "On hold",
        text: "On hold"
      },
      {
        value: "Failed",
        text: "Failed"
      },
      {
        value: "Cancelled",
        text: "Cancelled"
      },
      {
        value: "Completed",
        text: "Completed"
      }
    ]
  }) }}

  {{ govukRadios({
    classes: "govuk-radios--small",
    name: "[teams][v2][DateRangeOption]",
    fieldset: {
      legend: {
        text: "Date range option",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    value: data.teams.v2.DateRangeOption,
    hint: {text: "Select the team you want to view (optional)"},
    items: [
      {
        value: "Newcastle Team One",
        text: "Newcastle Team One"
      },
      {
        value: "Newcastle Team Two",
        text: "Newcastle Team Two"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    idPrefix: "filters[statuses]",
    name: "filters[statuses]",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Status",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: 'Received',
      text: 'Received'
    }, {
      value: 'Approved',
      text: 'Approved'
    }, {
      value: 'Rejected',
      text: 'Rejected'
    }],
    values: data.filters.statuses
  }) }}

  {{ govukCheckboxes({
    idPrefix: "filters[numberOfBalls]",
    name: "filters[numberOfBalls]",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Number of balls",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: '1 or 2',
      text: '1 or 2'
    }, {
      value: '3 or more',
      text: '3 or more'
    }],
    values: data.filters.numberOfBalls
  }) }}

{% endset %}

<div class="app-filter">
  <div class="app-filter__header">
    <div class="app-filter__header-title">
      <h2 class="govuk-heading-m">Filter</h2>
    </div>
    <div class="app-filter__header-action">

    </div>
  </div>
  <div class="app-filter__content">
    {% if selectedFilters.categories.length %}
      <div class="app-filter__selected">
        <div class="app-filter__selected-heading">
          <div class="app-filter__heading-title">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Selected filters</h2>
            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/applications/clear-filters">Clear filters</a></p>
          </div>
        </div>
        {% for category in selectedFilters.categories %}
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ category.heading.text }}</h3>
          <ul class="app-filter-tags">
            {% for item in category.items %}
              <li><a class="app-filter__tag" href="{{item.href}}"><span class="govuk-visually-hidden">Remove this filter</span> {{item.text}}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    {% endif %}
    <div class="app-filter__options">
      <form method="get" action="/applications" novalidate>
        <button class="govuk-button" data-module="govuk-button">
          Apply filters
        </button>
        {{filterOptionsHtml | safe}}
      </form>
    </div>
  </div>
</div>
