   {{ govukSelect({
        id: "[teams][sortBy]",
        name: "[teams][sortBy]",
        label: {
          text: "Sort by",
          isPageHeading: false,
          classes: "govuk-label--s"
        },
        value: data.teams.sortBy,
        items: [
          {
            value: "",
            text: "Select"
          },
          {
            value: "Created, earliest to latest",
            text: "Created, earliest to latest"
          },
          {
            value: "Created, latest to earliest",
            text: "Created, latest to earliest"
          },
          {
            value: "Priority, low to critical",
            text: "Priority, low to critical"
          },
          {
            value: "Priority critical to low",
            text: "Priority critical to low"
          },
          {
            value: "Due, earliest to latest",
            text: "Due, earliest to latest"
          },
          {
            value: "Due, latest to earliest",
            text: "Due, latest to earliest"
          },
          {
            value: "Completed, earliest to latest",
            text: "Completed, earliest to latest"
          },
          {
            value: "Completed, latest to earliest",
            text: "Completed, latest to earliest"
          }
        ]
      }) }}